 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Navy AA,SSR AUGUST 2022 VACANCY</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Mavy AA,SSR August 2022 New Vacancy क्या है Eligibility Criteria ? क्या रहेगी Date Of Birth?">
  <meta name="keywords" content="Indian Navy AA,SSR August Vacancy 2022 , AA,SSR New Vacancy">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Navy AA,SSR August 2022 Batch</h2>
      <div class="text-center mt-4" >
      <img src="aassrnewvacancy.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Navy AA,SSR August 2022 Vacancy</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> भारतीय नोसेना AA,SSR का अंतिम result आने के बाद सबसे बड़ा सवाल है की आगे कब vacancy आएगी ओर आएगी तो क्या Elgibility criteria रहेगा क्या मेरी उम्र बची हुई है Next vacancy के लिए? इन सब सवालो के जवाब को समझने का प्रयास करते है</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या है AA,SSR August 2022 Vacancy का Eligibility  Criteria?</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> जैसा की हम सब जानते है की भारतीय नोसेना प्रत्येक वर्ष 2 बार AA,SSR Sailor post के लिए Examination करवाता है ओर इसके लिए Indian Navy December-Janaury मे अपनी पहली आवेदन प्रक्रिया प्रारम्भ करता है ओर Jun-July मे अपनी दूसरी आवेदन की प्रक्रिया प्रारम्भ करता है| अबकी बार Covid case बढ़ने से पहली प्रक्रिया मे देरी चल रही है लेकिन भारतीय नोसेना August Batch के लिए जल्द ही आवेदन निकालना चाहता है ताकि वह अपने process को निरंतर बनाए रख सके||</p>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या रहेगी AA,SSR की Date Of Birth?</h2>
   <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> यदि हम Indian Navy के Pattern को follow करे तो indian navy प्रत्येक वर्ष 6 महीने की  अवधि बढाकर देती है| तो इस Pattern के अनुसार जिन Candidates की ज्न्म तिथि 01-08-2002 to 31-07-2005 के बीच आती है वो सभी candidates Eligible होंगे|</p>
         <p class="text-center mt-3" style="font-size: 22px; font-weight:500"><b class="text-danger"> Note:</b> पिछली vacancy के data को देखने के लिए click करे <a href="/indiannavy">Click Here</a></p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Navy AA,SSR August 2022 Batch के लिए क्या है योग्यता?</h2>
    <p class="text-center mt-3" style="font-size: 22px; font-weight:500">जो candidates 12 वी कक्षा(with PCM(Physics,Chemistry,math)) के साथ pass कर चुके है ओर जिनकी DOB(Date Of Birth) 01-08-2002 to 31-07-2005  के बीच मे आती है वो सभी candidates आवेदन कर सकते है| </p>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Exam Offline होगा या ऑनलाइन?</h2>
         <p class="text-center mt-3" style="font-size: 22px; font-weight:500">भारतीय नोसेना exam Online mode पर करवाना चाहती है  लेकिन covid situation बेहतर होने मे वक्त लेती है तो exam offline भी हो सकता है| 
ज़्यादा जानने के लिए click करे<a href="AASSR2022">Click Here</a> </p>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500"><b class="text-danger"> Note:</b> यह एक अनुमानित data है जो पिछले records का result है|</p>
  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Indian Navy AA,SSR,MR News:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Indian Coast Guard : <a class=" text-danger"  href="/Indiancoastguard">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>