 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title><b>Indian Navy AA,SSR New Vacancy 02/2022 </b></title>
     <link href="https://defencechampions.com">
    <meta name="description" content="Indian Navy AA,SSR 02/2022 Batch New Vacancy Released, what is last date of apply ,what DOB Criteria , What is Eligibility check out .....">
  <meta name="keywords" content="Indian Navy AA,SSR New Vacancy,AA,SSR New Vacancy,Navy AA,SSR ki naee bharti ,navy aa,ssr new vacancy update,apply for navy aa,ssr new vacncy,apply online indian navy aa,ssr 02/2022 batch">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Navy AA,SSR New Vacancy Online Form Start 02/2022</h2>
      <div class="text-center mt-4" >
      <img src="aassrnewvacancy.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Navy AA,SSR का क्या है अबकी बार Format? </h2>
        <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> Indian Navy AA,SSR Batch 02/2022 का लंबा इंतजार तो ख्त्म हो गया लेकिन अबकी बार फिर से विधयर्थीयों को किसी भी प्रकार का Age Relaxation नही मिला है| आपकी जानकारी के लिए बता दे की आपके Form 16 ऑक्टोबर से भरे जाएँगे ओर 25 oct अंतिम तिथि है| </p>
        <p class="text-center mt-1" style="font-size: 25px; font-weight:500">Indian Navy AA, SSR Batch 02/2022 The long wait is over, but this time again the students have not got any kind of Age Relaxation. For your information, let us tell you that your Forms will be filled from 16th October and 25th October is the last date.</p>
   <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">अबकी बार भर्ती(vacancy) Online होगी या Offline ?</h2>
      <p class="text-center mt-3" style="font-size: 25px; font-weight:500">अबकी बार यानी 02/2022 batch (जिसकी परीक्षा 2022 के शुरुआत मे होनी है) की परीक्षा(Exam) Offline Mode मे होगी|</p> 
      <p class="text-center mt-1" style="font-size: 25px; font-weight:500">This time i.e. 02/2022 batch (whose exam is to be held in early 2022) will be conducted in offline mode.</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Admit Card कैसे आएगा अबकी बार?</h2>
      <p class="text-center mt-1" style="font-size: 25px; font-weight:500">जैसा की आपकी भर्ती Offline Mode मे होनी है तो आपका admit card आपके 12वी class के परिणाम के आधार पर आएगा जिसके जीतने ज़्यादा percentage होंगे उनके उतने ही ज़्यादा chance होंगे(Admit Card आने के)| आपको बता दे की करोना की वजह से अबकी बार केवल 10,000 उम्मीदवारो को परीक्षा मे बैठने का मोका मिलेगा|</p>
     <p class="text-center mt-1" style="font-size: 25px; font-weight:500">As your recruitment is to be done in offline mode, then your admit card will come on the basis of your 12th class result, which will have higher percentage of winning, the more chances they will have (admit card arrival). Let us tell you that due to Corona this time only 10,000 candidates will get a chance to appear in the examination</p>
   <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">तो क्या फिर हमे form भरना चाहिए?</h2>
     <p class="text-center mt-1" style="font-size: 25px; font-weight:500">यदि आपके 12वी class मे 70% से ज़्यादा percentage है तो आपको form ज़रूर भरने चाहिए क्योंकि आपको मोका मिल सकता है| क्योंकि कभी कभी indian navy  बाद मे कुछ बदलाव कर दे ओर आपने form ही ना भरा हो तो आपका chance बेकार हो जाएगा| 70% से नीचे वाले उम्मीदवार अपने risk पर फॉर्म भरे|</p>
     <p class="text-center mt-1" style="font-size: 25px; font-weight:500">If you have more than 70% percentage in your 12th class then you must fill the form because you can get chance. Because sometimes make some changes later in the Indian navy and if you have not filled the form then your chance will be wasted. Candidates below 70% fill the form at their own risk.</p>
  <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/DK-Lvh2vWWM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div> 
    
     <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800"> Offline का क्या मतलब है?<a class=" text-danger"  href="https://youtu.be/bYABgtpl3f0">Click Here</a></h2>
     <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800"> Apply Direct<a class=" text-danger"  href="https://www.defencechampions.com/indiannavy">Click Here</a></h2>
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800"> फॉर्म कैसे भरे (Video)<a class=" text-danger"  href="https://youtu.be/LyBS0OwEjh4">Click Here</a></h2>
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800"> Why Enrollment List Late? <a class=" text-danger"  href="https://youtu.be/C8sZ7xmu3rA">Click Here</a></h2>
     <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">All Entries For Women's In Indian Defence(ARMY,IAF,NAVY):<a class=" text-danger"  href="/Womensentries">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Join Us For Latest Updates:<a class=" text-danger"  href="https://t.me/defencechampions1">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Login करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>