 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Aganipath Scheme|| अगनीविर योजना</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="अगनिपथ योजना क्या है? कैसे होंगे सैनिक भर्ती, Age,Qualification,Syllabus...">
  <meta name="keywords" content="Aganipath yojna kya hai,  aganiveer Air Force Process,aganiveer Navy Process, Aganiveer Process,   ">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
@media (min-width: 700px) and (max-width: 916px){
   .videos{
    margin-left: 60px;;
   }
}


</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">आगनिपथ (Aganipath) योजना </h2>
      <div class="text-center mt-4" >
      <img src="aganipath.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">आगनिपथ(Aganipath) योजना क्या है?</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500">भारतीय सेना ने सेना भर्ती प्रक्रिया मे बड़ा बदलाव किया है| अब भारतीय सेना( indian Army, Indian Air Force , Indinan Navy ) मे उम्मीदवारो को अगनिपथ योजना के तहत ही भर्ती किया जाएगा| इस योजना के तहत 4 साल के लिए उम्मीदवारो को भर्ती किया जाएगा मतलब जो उम्मीदवार भारतीय सेना मे चयनित होगा वो सिर्फ़ 4 साल के  लिए ही होगा जिसमे से 25 % उम्मीदवारो को permanent(स्थायी) कर दिया जाएगा ओर बाकी बचे 75% उम्मीदवारो को अगनीवीर का certificate दिया जाएगा जिसके तहत उनको भारतीय अर्धसैनिक बल (para military force) मे 10% की छूट ओर state police मे preference(वरीयता) दी जाएगी ओर कुछ प्राइवेट organisations मे jobs दी जाएँगी| और प्रवाधान भी state ओर indian government के द्वारा किए जाएँगे| जैसे अपना व्यवसाय खोलने के लिए सस्ते दामो पर loan की वायवस्था देना | retirement के दौरान 11.5 लाख दिए जाएँगे (75% अगनीवीरो को)|  इस 4 साल के दौरान युवाओं को उनके interest(रूचि) को पहचानकर उनमे Skill develop की  जाएँगी  ओर जो उम्मीदवार 10 वी पास होगा उनको 12 वी तथा जो उम्मीदवार 12 वी पास होंगे उन्हे graduation(स्नातक) करवाई जाएगी| यह प्रक्रिया प्रत्येक वर्ष 2 बार आयोजित की जाएगी| </p>  
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">अगनीवीर भर्ती Age Limit ?</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> प्रथम चरण की प्रक्रिया के लिए भारतीय सेना प्रमुखो ने 2 साल की छुट(2 year age Relaxation) Age मे दी है (Covid के कारण) | जसिसे प्रथम चरण मे 17.5 से 23 साल तक के उम्मीदवार फॉर्म Apply कर सकते है| 
नोट: ध्यान रखे ये सिर्फ़ प्रथम चरण के लिए हैं|  उसके बाद  17.5 से 21 कर दी जाएगी|</p>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Air Force अगनीवीर Process</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Indian Air Force :  <a href="/IAFAGANIVEER"><b>Click Here</b></a></p>
      <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Navy अगनीवीर Process</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Indian Navy :  <a href="/NAVYAGANIVEER"><b>Click Here</b></a></p>
      <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Army अगनीवीर Process</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Indian Army :  <a href=""><b>Click Here</b></a></p>
      
       
       
      
      
</div>
    <div class="container-fluid">
 <div class=" row videos"  >
  <div class="col col-md-auto"> <iframe width="560" height="315" src="https://www.youtube.com/embed/LGbqwLPtRiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   <div class="col col-md-auto"> <iframe width="560" height="315" src="https://www.youtube.com/embed/ZjZY57gjxr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   
 </div>
<div class="container">
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Indian Navy AA,SSR,MR News:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Indian Coast Guard : <a class=" text-danger"  href="/Indiancoastguard">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>

</div>
  </body>
  </html>