 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Air Force XY Group New Vacancy</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Air Force New Vacancy intake 01/2023 Eligibility criteria जाने क्या रहेगी date of Birth intake 01/2023 vancncy की....">
  <meta name="keywords" content="Indian Air Force new vacancy, Indian Air Force XY Group Eligibility criteria 2023 ,XY Group 2023">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Air Force XY Group Intake 01/2023 (New Vacancy) Eligibility Criteria</h2>
      <div class="text-center mt-4" >
      <img src="iaf3.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Air Force XY Group New Vacancy 2022 का update कब तक आएगा?</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> भारतीय वायुसेना XY GROUP(X-TECHNICAL ,Y-NON TECHNICAL BRANCH) की vacancy प्रत्येक वर्ष 2 बार निकालती है| CASB BOARD इस परीक्षा को प्रत्येक वर्ष december-january मे पहले चरण की तथा jun-july मे दूसरे चरण की vacancy का notification जारी करता है| ओर registration Form की प्रक्रिया को प्रारम्भ करवा देता है| लेकिन 2020 से चल रही  करोना महामारी के बीच भारतीय वायुसेना का schedule time पर जारी नही हो पाया है| लेकिन अबकी बार उम्मीद है की भारतीय वायुसेना जल्द ही intake 01/2023 का notification जारी करेगा|</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या रहेगी अबकी बार Date Of Birth?</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> जैसा की आप सब जानते है भारतीय वायुसेना हमेशा xy group के लिए जो DOB निर्धारित करती है वो हमेशा 1 वर्ष के अंतराल से तय करती है मतलब जो DOB पिछले वर्ष की रहती है उसमे 1 वर्ष जोड़(add) कर दिया जाता है | यदि हम भी इसी criteria को follow करे तो अबकी बार जो DOB रहने वाली है वो 15-01-2002 to 30-12-2005 के बीच रहने की संभावना है| <br>पिछली vacancy के आँकड़े देखने के लिए click  करे <a class="text-danger" href="https://www.defencechampions.com/indianairforce">Click Here</a></p>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">कौन कौन apply कर सकता है?</h2>
   <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> ऐसे विद्यार्थी जो 12 वी पास कर चुके है ओर उनके 12 वी कक्षा मे 60% से अधिक अंक है ओर उपर दी गई DOB के अंदर Date of birth आती है वह सभी बच्चे apply कर सकते है</p>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500"><b> NOTE: सभी से अनुरोध है की उपर दिया गया data एक अनुमानित data है जो की पिछले वर्षो मे आयोजित हुई परीक्षाओ को ध्यान मे रखकर बनाया गया है| Latest Update ओर official जानकारी के लिए click करे <a class="text-danger" href="https://www.defencechampions.com/indianairforce">Click Here</a></b></p>
  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Official CASB Website Login Directly:<a class=" text-danger"  href="https://airmenselection.cdac.in/STAR/controller/showSignIn">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Air Force XY Group <a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>