 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Air Force Syllabus Science Non Science Group|| Eligibility</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Air Force Scinece Non Science Group Complete Syllabus with new addition Check out here...">
  <meta name="keywords" content="air force aganiveer syllabus,air force science syllabus,airforce non science syllabus and eligibility">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Air Force Aganiveer Syllabus || Eligibility Criteria</h2>
      {{!-- <div class="text-center mt-4" >
      <img src="ndaexamphoto.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div> --}}
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Air Force Science Non-Science Updated Syllabus </h2>
        {{!-- <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> NDA (1) 2022 परीक्षा का admit card Release कर दिया गया है| जिन candidates ने NDA (1) 2022 जिसका आवेदन 22/12/202-11/01/2022 के बीच किया गया था| नीचे link given है</p>
    --}}
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> Indian Air Force X(Science) Group Syllabus  </th>
       
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online/Open Bharti</b></td>
    </tr>
      <tr>
      <th scope="row">Total No Of Question(Both X&Y)</th>
      <td><b>100</b></td>
    </tr>
       <tr>
      <th scope="row">Time Limit</th>
      <td><b>85 Minutes(60 min for X Group 25 Min for Y Group)</b></td>
    </tr>
       <tr>
      <th scope="row">Marks Obtain </th>
      <td><b>100(1 marks for each Question)</b></td>
    </tr>
     <tr>
      <th scope="row">Negative Marking</th>
      <td><b>-0.25(1/4)</b></td>
    </tr>
    <tr>
      <th scope="row">Subject :</th>
      <td><b><ol>
          <li>English(20 Q)</li>
          <li>Physics(25 Q)</li>
          <li>Maths(11-12th based-25 Q)</li>
          <li>Y Group( 30 Q)</li>
          </ol></b></td>
    </tr>
    <tr>
      <th scope="row">Syllabus X Group </th>
      <td>  <a href="https://agnipathvayu.cdac.in/AV/modalqpAV.html" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Sample Paper </th>
      <td>  <a href="https://agnipathvayu.cdac.in/AV/modalqpAV.html" class="text-danger"><b>Click Here</b></a></td>
      
    </tr>
    
    <tr>
      <th scope="row">Current Vacancy </th>
      <td colspan="2"><a href="/indianairforce" class="text-danger"><b>Click Here</b></a></td>
    </tr>
     <tr>
      <th scope="row">Language Of Questions</th>
      <td><b>  Both Hindi And English</b></td>
    </tr>
  </tbody>
</table>

 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> Indian Air Force Y(Non Science) Group Syllabus  </th>
       
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online/Open Bharti</b></td>
    </tr>
      <tr>
      <th scope="row">Total No Of Question</th>
      <td><b>50</b></td>
    </tr>
       <tr>
      <th scope="row">Time Limit</th>
      <td><b>45 Minute</b></td>
    </tr>
       <tr>
      <th scope="row">Marks Obtain </th>
      <td><b>50(1 marks for each )</b></td>
    </tr>
     <tr>
      <th scope="row">Negative Marking</th>
      <td><b>-0.25(1/4)</b></td>
    </tr>
    <tr>
      <th scope="row">Subject :</th>
      <td><b><ol>
          <li>English(20 Q)</li>
          <li>RAGA( 30 Q)</li>
          </ol></b></td>
    </tr>
    <tr>
      <th scope="row">Syllabus Y Group </th>
      <td>  <a href="https://agnipathvayu.cdac.in/AV/modalqpAV.html" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Sample Paper </th>
      <td>  <a href="https://agnipathvayu.cdac.in/AV/modalqpAV.html" class="text-danger"><b>Click Here</b></a></td>
      
    </tr>
    <tr>
      <th scope="row">Current Vacancy </th>
      <td colspan="2"><a href="/indianairforce" class="text-danger"><b>Click Here</b></a></td>
    </tr>
     <tr>
      <th scope="row">Language Of Questions</th>
      <td><b>  Both Hindi And English</b></td>
    </tr>
  </tbody>
</table>


  <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> Indian Air Force XY Group  Eligibility & Physical Recruitment & Qualification </th>
       
    </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">Education Qualification For 'X' Group </th>
      <td> <b>
     10+2 Exam Passed with Math, Physics and English Subject with Minimum 50% Marks.<br>
   OR Passed Three Year Polytechnic Diploma with 50% Marks<br>( 12th class  मे (Physics, maths ,English) subject होने चाहिए| कम से कम 50% अंक होने चाहिए|ओर English मे भी 50% होने चाहिए|  ओर यदि जिन्होने कोई Diploma कर रखा ह तो 3 साल का  Polytechnic Diploma 50% के साथ होना चाहिए|)</b>
   <br> <span class="text-primary"> Note: Polytechnic diploma students check eligibility from here: <a href="https://airmenselection.cdac.in/CASB/eligibilityCriteria.html" target="_blank"> <strong >CLICK HERE </strong></a></span>
      </b>
      </td> 
    </tr>
      <tr>
      <th scope="row"> Education Qualification For 'Y' Group </th>
      <td><b>
       10+2 (Intermediate) Exam Passed with 50% Marks, English 50% Marks.(12th class me किसी भी  Stream से 50% अंक से पास होने चाहिए| ओर English मे भी 50% होने चाहिए| <br>
         (NOTE: <span class="text-danger"> किसी भी Stream के Students apply  कर सकते ह</span>)<br>
       <span class="text-primary"> Note:  diploma students check eligibility from here: <a href="https://airmenselection.cdac.in/CASB/eligibilityCriteria.html" target="_blank"> <strong>CLICK HERE </strong></a></span>
     </b> </td> 
    </tr>
    <tr>
      <th scope="row">Physical Eligibility For 'XY' Group (MALE) </th>
      <td><b>
       <span class="text-danger ">Height:</span> 152.5 CMS<br>
        <span class="text-danger">Running:</span> 1.6 Km Completed In 7 Minute<br>
       <span class="text-danger">Squat Ups (Uthak Baithak):</span> 20 Times<br>
       <span class="text-danger">Push Ups :</span> 10 Times<br>
         <span class="text-danger">Sit Ups :</span> 10 Times<br>
        <span class="text-danger">Chest :</span> Minimum Expand 5 CMS<br>
         <span class="text-danger">Weight :</span> 55KG </b>
    
      </td> 
    </tr>
     <tr>
      <th scope="row">Physical Eligibility For 'XY' Group (FEMALE) </th>
      <td><b>
       <span class="text-danger ">Height:</span> 152 CMS<br>
        <span class="text-danger">Running:</span> 1.6 Km Completed In 8 Minute<br>
       <span class="text-danger">Squat Ups (Uthak Baithak):</span> 15 Times<br>
       <span class="text-danger">Sit up :</span> 10 Times<br>
        <span class="text-danger">Chest :</span> Minimum Expand 5 CMS<br>
    
      </td> 
    </tr>
    <tr>
      <th scope="row">Air Force 'XY' Group Physical(Video)  </th>
      <td><a class="text-danger" href="https://agnipathvayu.cdac.in/AV/pftAV.html"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Air Force 'XY' Group Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/908Pr_QCEvU"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://www.joinindiannavy.gov.in/en" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
   
     <tr>
      <th scope="row">More Information</th>
      <td colspan="2"><a href="https://airmenselection.cdac.in/CASB/eligibilityCriteria.html" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>


  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>

</div>

  </body>
  </html>