 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Army MES Recruitment 2023 </title>
    <link href="https://defencechampions.com">
    <meta name="description" content=" Indian Army MES (Military Engineering Service) 2023 Vacancy Notification released check  Qualification, Age Limit, Date oF Birth,Exam Date , Physical,Medical.... –.">
  <meta name="keywords" content="Army MES Vacancy 2023, Indian Army New Vacancy 2023 ,Army MES Recruitment Notification 2023, army mes syllabus, Army bharti 2023  ">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  



@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1002px;
}
}

.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
.video-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video-overlay img{
      height: 3rem;
    width: 4rem;
    border-radius: 5px;
} 
</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:  #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Army MES Recruitment 2023  : Application Form , Eligibility,Notification </h2>
      <div class="text-center mt-4" >
      <img src="armymes2023.jpeg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Army MES Recruitment 2023 Notification Released For [41,822 Post]  </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">भारतीय थलसेना (Indian Army) की  और से युवाओं को एक बड़ा तोहफा मिला है।  भारतीय सेना ने MES (Military Engineering Service) के 41,822  पदों पर भर्ती निकालकर एक बहुत बड़ा तोहफा दिया है। अब युवाओं के पास भारतीय सेना में जाने का सपना साकार होता दिखाई दे रहा है।  जो विद्यार्थी 12वी पास है और भारतीय सेना में जाने का  सपना देख रहे है उनके लिए यह भर्ती किसी संजीवनी से कम नहीं भर्ती की सम्पूर्ण जानकारी निचे विस्तार से दी गए है।   </p>

         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Army MES Recruitment Age Limit  </h2>
       <p class="text-center mt-3" ><ul style="font-size: 22px; font-weight:500"><li>Candidates’ age limit should be Minimum 18 years & Maximum 30 years.</li><li>Age Relaxation: – SC/ ST /OBC/ Candidates Relaxation as per Government Rule Regulation</li></ul> </p>
      <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Army MES Recruitment Selection Process  </h2>
       <p class="text-center mt-3" ><ul style="font-size: 22px; font-weight:500"><li>Document Verification </li><li>Written Exam</li><li>Physical & Medical Examination</li><li>Normal Interview Postwise </li> </ul>  </p>
      
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Army MES Recruitment 2023 Details :- </th>
       
    </tr>
  </thead>
    <tbody>
        <tr>
      <th scope="row">Organization Name</th>
      <td><b>Military Engineering Service (MES) </b></td>
    </tr>
        <tr>
      <th scope="row">Total Post</th>
      <td><b>41,822 Post</b></td>
    </tr>
     <tr>
      <th scope="row">State  </th>
      <td><b>All Over India </b></td>
    </tr>
    <tr>
      <th scope="row">Mode Of Application </th>
      <td><b>Online </b></td> 
    </tr>
       <tr>
      <th scope="row">Application Start </th>
      <td><b>July End / August Starting</b></td> 
    </tr>
      <tr>
      <th scope="row">Official Notification </th>
       <td><a class="text-danger" target="_blank"  href="https://alljobsforyou.com/hi/wp-content/uploads/2023/07/mes-Vacancy-2023-.pdf"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Examination Fees</th>
     <td><b><ul><li>General & OBC : 100 Rs</li><li>SC & ST : 0 Rs</li></ul></b></td>
    </tr>

    <tr>
      <th scope="row">Apply Here(Form Fill Up) </th>
      <td><a class="text-danger" target="_blank"  href=""><b>Click Here</b></a></td>
    </tr>         

    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://mes.gov.in/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
       </div>
       <div class="container">
          <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Army MES Recruitment Education Qualification :- </h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">10th pass to 12th pass or equivalent exams from recognized boards or universities, Posts Wise.<br > 10 वी class में कम से कम 30 नंबर होने चाहिए प्रत्येक सब्जेक्ट में और कुल 40% होने चाहिए 10 वी class में  </p>
       <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Army MES Recruitment Category Wise Post Details : :- </h2>
      <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Army MES Recruitment 2023 Post Details :- </th>
       
    </tr>
  </thead>
    <tbody>
        <tr>
      <th scope="row">Architect Cadre (Group A)</th>
      <td><b>44 </b></td>
    </tr>
        <tr>
      <th scope="row">Barrack & Store Officer(सेनावास)</th>
      <td><b>120</b></td>
    </tr>
     <tr>
      <th scope="row">Supervisor (Barrack & Store) </th>
      <td><b>534</b></td>
    </tr>
    <tr>
      <th scope="row">Draughtsman(मानचित्रकार,Writer,रचयिता)</th>
      <td><b>944 </b></td> 
    </tr>
       <tr>
      <th scope="row">Storekeeper </th>
      <td><b>1026</b></td> 
    </tr>
      <tr>
      <th scope="row">Multi-Tasking Staff (MTS)</th>
      <td><b>11,316</b></td> 
    </tr>
    <tr>
      <th scope="row">Mate(सहकार्यकर्ता)</th>
      <td><b>27,920</b></td> 
    </tr>
      <tr>
      <th scope="row">Official Notification </th>
       <td><a class="text-danger" target="_blank"  href="https://alljobsforyou.com/hi/wp-content/uploads/2023/07/mes-Vacancy-2023-.pdf"><b>Click Here</b></a></td>
    </tr>        

    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://mes.gov.in/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Army MES Bharti Syllabus 2023 </h2>
      <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Army MES Recruitment Exam Pattern 2023 </th>
       
    </tr>
  </thead>
    <tbody>
        <tr>
      <th scope="row">General Intelligence & Reasoning</th>
      <td><b>25 Marks</b></td>
    </tr>
        <tr>
      <th scope="row">General Awareness and General English</th>
      <td><b>25 Marks</b></td>
    </tr>
     <tr>
      <th scope="row">Numerical Aptitude </th>
      <td><b>25 Marks </b></td>
    </tr>
    <tr>
      <th scope="row">Specialized Topic</th>
      <td><b>50 Marks</b></td> 
    </tr>
    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://mes.gov.in/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
</div>
   

<div class="container">
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Air Force New Vacancy:<a class=" text-danger"  href="/Airforce012023">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com">Click Here</a></h2>
</div>

  </body>
  </html>