 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Air Force New Vacancy 01 2024  </title>
    <link href="https://defencechampions.com">
    <meta name="description" content=" Indian coastguard GD DB YANTRIK 01/2024 New Vacancy Notification Out Check out Qualification, Age Limit, Date oF Birth,Physical,Medical.... –.">
  <meta name="keywords" content="Indian Coast guard new vacancy 01 2024, coastguard recruitment 2024 ,indian coastguard Recruitment 2023 notification , coast guard bharti  , indian coast guard application form , coast guard admit card 2023">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  



@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1002px;
}
}

.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
.video-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video-overlay img{
      height: 3rem;
    width: 4rem;
    border-radius: 5px;
} 
</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:  #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Coast Guard Recruitment 01 2024 : Application Form , Eligibility,Notification </h2>
      <div class="text-center mt-4" >
      <img src="coastguard012024.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Coast Guard GD DB YANTRIK 01 2024 Notification Out  </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Indian Coast Guard भर्ति intake 01/2024 का Notification Release कर दिया गया है। Check Out Coast Guard New Vacancy 01/2024 Intake Eligibility, Date Of Birth , Exam Date , Application Form की सम्पूर्ण जानकारी निचे दी गयी है|  </p>

         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Coast Guard New Vacancy 01 2024 </h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> बेसब्री से इंतजार कर रहे युवाओं को 2023 में एक और बड़ा तोहफा मिला है | 10 वी व 12 वी पास विद्यार्थियों के लिए Indian Coast guard को join करने का एक सुनहरा अवसर मिल रहा है | इसमें DB का पेपर सबको देना होगा चाहे आप DB की तैयारी करते हो या चाहे यांत्रिक की |</p>
 <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Coast Guard GD DB YANTRIK 01/2024 Online Application Form start  </h2>

 <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Coast Guard New Vacancy 2024 Application From start(8 September) हो  जायेंगे | अंतिम तिथि 22 सितम्बर रहने वाली है| यह Vacancy  10 और 12 वी पास रहने वाली है |  Form Apply की Link निचे दी गयी है |  </p>

<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Coast Guard Vacancy 2024 </h2>
      
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Indian Coast Guard New Vacancy 01/2024 </th>
       
    </tr>
  </thead>
    <tbody>
        <tr>
      <th scope="row">Application Start</th>
      <td><b>08 Sept. 2023  </b></td>
    </tr>
     <tr>
      <th scope="row">Last Date For Apply Online </th>
      <td><b>22 Sept. 2023 </b></td>
    </tr>
    <tr>
      <th scope="row">Date Of Birth  </th>
      <td><b>01 May 2002 to 30 April 2006 </b><br> <b>NOTE: Upper Age Relaxation 5 Years for SC/ST , 3 Years for OBC(Non creamy) </b></td> 
    </tr>
    
      <tr>
      <th scope="row">Official Notification </th>
       <td><a class="text-danger" target="_blank"  href="https://dinesh-maker.github.io/PDFS/coast-guard-navik-notification-01-2024-batch.pdf"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Examination Fee</th>
     <td><b>Rs 300 (Exclude SC/ST)</b></td>
    </tr>
    <tr>
      <th scope="row">Exam Date </th>
      <td><b>1st Stage : mid/end Dec. 2023 </b> <br> <b>2nd  Stage : mid/end January 2024 </b> <br><b>3rd Stage : End April /Starting May 2024 </b> </td> 
    </tr>
      <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online</b></td> 
    </tr>
     <tr>
      <th scope="row">Height </th>
      <td><b>Minimum Height 157cm</b></td> 
    </tr>
    <tr>
      <th scope="row">Exam Result Out </th>
       <td><a class="text-danger" target="_blank"  href=""><b>----</b></a></td>
    </tr>    
    <tr>
      <th scope="row">Apply Here(Form Fill Up) </th>
      <td><a class="text-danger" target="_blank"  href="https://cgept.cdac.in/icgregcycle4/candidate/login"><b>Click Here</b></a></td>
    </tr>

    <tr>
      <th scope="row">Syllabus</th>
      <td colspan="2"><a href="https://joinindiancoastguard.cdac.in/selectionof_enrolled_personnel.html" class="text-danger"><b>Click Here</b></a></td>
    </tr>
     
    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://joinindiancoastguard.cdac.in/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
     <tr>
      <th scope="row">Air force New Vacancy 01/2024 </th>
      <td><a class="text-danger" target="_blank"  href="/Airforcenewvacancy012024"><b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
       </div>


 <div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-100">
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;">
   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://www.youtube.com/live/kkLiOstCOTM?si=YyESu9ATnLW8o995" target="_blank"> <img  src="coastguard012024.jpg" alt="girlsthumbnail" height="315" width="560"></a>
      <div class='video-overlay'>
         {{!-- <i class="fa fa-youtube-play " style="font-size:60px;color:red;background-color:white;background: linear-gradient(80deg, #ff0000 50%, #0000ff 50%);"></i> 
      --}}
     <img src="ytlogo.jpg">
                                </div>
    </div>
    </div>   
  </div>
</div> 
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
       <div class="card text-center h-100">
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://www.youtube.com/live/kkLiOstCOTM?si=YyESu9ATnLW8o995" target="_blank"> <img  src="coastguard012024.jpg" alt="girlsthumbnail" height="315" width="560"></a>
        <div class='video-overlay'>
      <img src="ytlogo.jpg">
                                </div>
    </div></div>
  </div>
</div> 
  </div>
  
</div>
     </div>

   </div>
   </div>

<div class="container">
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Air Force New Vacancy:<a class=" text-danger"  href="/Airforce012023">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com">Click Here</a></h2>
</div>

  </body>
  </html>