<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset='utf-8'>
        <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Indian coastguard new vacancy 02/2023 </title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian coastguard Recruitment 02 2023 Notification out , Check indian coast guard GD DB YANTRIK 2023 Eligibility , Date Of Birth , Exam Date..... ">
  <meta name="keywords" content="indian costguard new vacancy, coastguard apply online 2023, indian coastguard notification 2023,indian coast guard recruitment 02/2023 , indian coast guard exam date 2023  ">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
      <link rel="canonical" href="https://www.defencechampions.com/Coastguard012023admitcard" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
   .images{
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
.video-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video-overlay img{
      height: 3rem;
    width: 4rem;
    border-radius: 5px;
} 
</style>
</head>
<body>
    <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">  INDIAN COAST GUARD NEW VACANCY 02/2023 </h2>
      <div class="text-center mt-4" >
      <img src="coastguard3.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">INDIAN CAOST GUARD NAVIK GD DB YANTRIK RECRUITMENT 02/2023 NOTIFICATION OUT</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Indian Coast Guard New Vacancy 02/2023 का Notification Release कर दिया गया है।  Indian Coast Guard भर्ती 02 2023  की Age Limit , Eligibility और  Exam Date की सम्पूर्ण जानकारी निचे विस्तार से दी गई है।  </p>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Coast Guard Recruitment 02/2023 </h2>
      
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">ICG New Vacancy 2023</th>
       
    </tr>
  </thead>
  <tbody>
        <tr>
      <th scope="row">Application Start</th>
      <td><b>06/02/2023</b></td>
    </tr>
     <tr>
      <th scope="row">Last Date For Apply Online </th>
      <td><b>16/02/2023</b></td>
    </tr>
    <tr>
      <th scope="row">Application Fee </th>
      <td><b>Rs 300 (Except SC/ST)</b> </td>
    </tr>
    <tr>
      <th scope="row">Date Of Birth </th>
      <td><b>01/09/2001 to 31/08/2005</b><br>
     <b> <span class="text-danger">NOTE:</span>&nbsp;&nbsp;Upper Age Relaxation of 5 Years for SC/ST and  3 Years for OBC(Non-creamy layer)</b> </td>
    </tr>
    <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank" href="https://www.joinindiancoastguard.gov.in/"><b>Click Here</b></a></td> 
    </tr>
    <tr>
      <th scope="row">How to Apply(Video) </th>
      <td><a class="text-danger" target="_blank" href=""><b>Click Here</b></a></td> 
    </tr>
      <tr>
      <th scope="row">Exam Date</th>
  <td><b><ol style=" list-style-type: none;"><li><span class="text-danger"> 1st Stage </span>: End March 2023</li>
      <li><span class="text-danger"> 2nd Stage </span>: Mid/End May 2023</li>
      <li><span class="text-danger"> 3rd Stage </span> : Early/Mid Sep 2023</li></ol></b> </td> 
    </tr>

     <tr>
      <th scope="row">How To Download Admit Card(Video) </th>
      <td> <a class="text-danger" href="" target="_blank"><b>Click Here</b></a></td>
    </tr>
     <tr>
      <th scope="row">Result </th>
      <td><a href="https://cgept.cdac.in/icgreg/candidate/login" class="text-danger">---</a></td>
      
    </tr>
      <tr>
      <th scope="row">Documents </th>
      <td><a class="text-danger" href="https://youtu.be/tm2iT_b7G78"><b>Click Here</b></a></td>
      
    </tr>
     <tr>
      <th scope="row">Total Post In Coast Guard Entry </th>
      <td> <a class="text-danger" href="https://youtu.be/XeOfmQ4DBE8" ><b>Click Here</b></a> </td>
      
    </tr>
     <tr>
      <th scope="row">Syllabus </th>
      <td><a href="https://joinindiancoastguard.cdac.in/join_yantrik.html" class="text-danger"><b>Click Here</b></a></td>
      
    </tr>
    <tr>
      <th scope="row">How to fill Form (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/F2hz2QYtQ4E"><b>Click Here</b></a></td>
      
    </tr>
     <tr>
      <th scope="row">Current Vacancy Update (Video)  </th>
      <td><a class="text-danger" href=""><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Navy Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/glx3STikQAA"><b>Click Here</b></a></td>  
    </tr>
<tr>
      <th scope="row">Official Site  </th>
      <td><a class="text-danger" href="https://joinindiancoastguard.cdac.in/" target="_blank"><b>Click Here</b></a></td>
      
    </tr> 
  </tbody>
</table>
       </div>
<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-100">
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;">
   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://youtu.be/IguC889sXQA" target="_blank"> <img  src="coastguard022022.jpg" alt="girlsthumbnail" height="315" width="560"></a>
      <div class='video-overlay'>
         {{!-- <i class="fa fa-youtube-play " style="font-size:60px;color:red;background-color:white;background: linear-gradient(80deg, #ff0000 50%, #0000ff 50%);"></i> 
      --}}
     <img src="ytlogo.jpg">
                                </div>
    </div>
    </div>   
  </div>
</div> 
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
       <div class="card text-center h-100">
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://youtu.be/pBA5A-O06Oc" target="_blank"> <img  src="ytcoastguardlatest.jpg" alt="girlsthumbnail" height="315" width="560"></a>
        <div class='video-overlay'>
      <img src="ytlogo.jpg">
                                </div>
    </div></div>
  </div>
</div> 
  </div>
  
</div>
     </div>

   </div>
   </div>
<div class="container">
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Indian Coast Guard:<a class=" text-danger"  href="/Indiancoastguard">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com">Click Here</a></h2>
</div>


</body>
</html>