 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Air Force Aganipath scheme|| भारतीय वायुसेना अगनिपथ प्रक्रिया </title>
    <link href="https://defencechampions.com">
    <meta name="description" content="भारतीय वायुसेना अगनिपथ प्रक्रिया ,Air Force Aganipath Age,Qualification,Date of Birth , Syllabus...">
  <meta name="keywords" content="  अगनिपथ भारतीय वायुसेना प्रक्रिया, Indian Air Force Agnipath scheme, Aganiveer IAF  ">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Air Force Aganipath Scheme</h2>
      <div class="text-center mt-4" >
      <img src="iafchief.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">अगनिपथ भारतीय वायुसेना प्रक्रिया</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">कुछ उम्मीदवारो को यह doubt है की अब भारतीय वायुसेना कैसे अपनी प्रक्रिया करवाएगी तो आपको बता दे की भारतीय वायुसेना XY group भर्ती जिस तरीके से पहले आयोजित की जाती थी वह प्रक्रिया उसी तरीके से रहेगी यानी selection प्रक्रिया मे कोई बदलाव नही हुए है|</p>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Air Force अगनीवीर Process</h2>
      
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Indian Air Force Process For Aganiveer Scheme</th>
       
    </tr>
  </thead>
  <tbody>
        <tr>
      <th scope="row">Application Start</th>
      <td><b> 24-06-2022</b></td>
    </tr>
     <tr>
      <th scope="row">Last Date For Apply Online </th>
      <td><b>5-07-2022</b></td>
      
    </tr>
     <tr>
      <th scope="row">Exam Date</th>
      <td><b>24-07-2022</b></td> 
    </tr>
    <tr>
      <th scope="row">Exam Process</th>
      <td><b>No change (same as previous)</b></td> 
    </tr>
    <tr>
      <th scope="row">Notification Date </th>
      <td><b>20-06-2022</b></td> 
    </tr>
      <tr>
      <th scope="row">Official Notification </th>
       <td><a class="text-danger" target="_blank"  href="https://careerindianairforce.cdac.in/assets/joining_instructions/AGNIVEER_VAYU.pdf"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Date Of Birth  </th>
      <td><b>29-12-1999 TO 29-06-2005</b></td> 
    </tr>
    <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank"  href=""><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Examination Fee</th>
     <td><b>Rs 250</b></td>
    </tr>
    <tr>
         <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online</b></td> 
    </tr>
      <th scope="row">Admit Card</th>
      <td><b>---</b></td>
    </tr>
    <tr>
      <th scope="row">Syllabus</th>
      <td colspan="2"><a href="/Airforcesyllabus" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    
    <tr>
      <th scope="row">New Vacancy (Video)</th>
      <td colspan="2"><a href="https://youtu.be/LGbqwLPtRiA" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Indian Air Force  Information</th>
      <td colspan="2"><a href="/indianairforce" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://airmenselection.cdac.in/CASB/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
           
<div class="container text-center videos  "  >
  
       <iframe width="460" height="315" src="https://www.youtube.com/embed/LGbqwLPtRiA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   
  </div>

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>