 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Air Force Admit Card Aganipath|| IAF Science Non Science Admit Card </title>
    <link href="https://defencechampions.com">
    <meta name="description" content="भारतीय वायुसेना  अगनिपथ  Admit card out  ,Indian Air Force Admit Card Released for Science and non science ....">
  <meta name="keywords" content="  अगनिपथ भारतीय वायुसेना Admit card, Indian Air Force Admit card 2022, IAF Admit card 2022, Aganipath Air Force admit card  ">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
@media (min-width: 700px) and (max-width: 936px){
   .videos{
    margin-left: 60px;;
   }
}


@media (min-width: 992px){
.container, .container-lg, .container-md, .container-sm {
    max-width: 1002px;
}
}
</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Air Force Admit Card Released</h2>
      <div class="text-center mt-4" >
      <img src="iafchief.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">अगनिपथ भारतीय वायुसेना Admit Card</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">भारतीय वायुसेना ने अपने पहले अगनीवीर batch के admit card release कर दिए है| पूरी जानकारी नीचे दी गई है|</p>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800"> Indian Air Force अगनीवीर Exam Details</h2>
      
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Indian Air Force Aganipath Batch 2022  </th>
       
    </tr>
  </thead>
  <tbody>
        <tr>
      <th scope="row">Application Start</th>
      <td><b> 24-06-2022</b></td>
    </tr>
     <tr>
      <th scope="row">Last Date For Apply Online </th>
      <td><b>5-07-2022</b></td>
      
    </tr>
      <tr>
      <th scope="row">Exam Date</th>
      <td><b>24-07-2022 to 31-07-2022</b></td> 
    </tr>
    <tr>
      <th scope="row">Exam Process</th>
      <td><b>No change (same as previous)</b></td> 
    </tr>
    <tr>
      <th scope="row">Admit Card </th>
       <td><a class="text-danger" target="_blank"  href=""><b>---</b></a></td>
    
    </tr>
      <tr>
      <th scope="row">Official Notification </th>
       <td><a class="text-danger" target="_blank"  href="https://careerindianairforce.cdac.in/assets/joining_instructions/AGNIVEER_VAYU.pdf"><b>Click Here</b></a></td>
    </tr>
    <tr>
         <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online</b></td> 
    </tr>

     <tr>
      <th scope="row">2nd Phase Call up letter</th>
      <td><b>10-08-2022</b></td> 
    </tr>
    <tr>
      <th scope="row">Number Of Centers (2nd phase)</th>
      <td><b>7 Aganiveer Center</b></td> 
    </tr>
    <tr>
      <th scope="row">2nd Phase Date</th>
      <td><b>21-08-2022 to 28-08-2022</b></td> 
    </tr>
    <tr>
      <th scope="row">Medical Dates</th>
      <td><b>29-08-2022 to 08-11-2022</b></td> 
    </tr>
    <tr>
      <th scope="row">Joining Date</th>
      <td><b>22-12-2022 to 29-12-2022</b></td> 
    </tr>
     <tr>
      <th scope="row">Complete Batch Information</th>
      <td colspan="2"><a href="/IAFAGANIVEER" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Syllabus</th>
      <td colspan="2"><a href="/Airforcesyllabus" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    
    <tr>
      <th scope="row">New Vacancy (Video)</th>
      <td colspan="2"><a href="https://youtu.be/QxBRtHvonHw" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Medical Process Video</th>
      <td colspan="2"><a href="https://youtu.be/908Pr_QCEvU" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Indian Air Force  Information</th>
      <td colspan="2"><a href="/indianairforce" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://airmenselection.cdac.in/CASB/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
       </div>

   {{!-- <div class="container videos">
 <div class=" row "  >
  <div class="col col-md-auto"> <iframe width="460" height="315" src="https://www.youtube.com/embed/UKLHouN0NQg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> </div>
  <div class="col col-md-auto">  <iframe width="460" height="315" src="https://www.youtube.com/embed/QxBRtHvonHw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
     </div> --}}
   
   </div>
 </div>
<div class="container">
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Army Aganiveer:<a class=" text-danger"  href="/ARMYAGANIVEER">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>