<!DOCTYPE html>
<html>
<head>
 
  <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
     
  <title>DefenceChampions|Home </title>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>
  <link href="https://defencechampions.com">
     <meta charset="utf-8">
    <meta name="description" content="Indian Air Force XY Group Latest Updates,,Indian Navy AA,SSR,MR Latest Updates, Indian Coast Guard  ,NDA All Updates Here">
    <meta name="keywords" content="defencechampions,defence champions,defence, Indian Air Force XY Group ,Indian Air Force XY Group Result,Indian Air Force XY Group Exam Cut offs 2021 ,Indian Air Force XY Group New Vacancy ,Air Force XY Group Bharti , Indian Navy AA,SSR ,Indian Navy MR, Indian Navy Coast Guard,NDA ">
   <meta name="viewport" content="width=device-width initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha516-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
<style>
   .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
 
.marquee1{
    
    margin-left: 3rem;
   /* margin-right: 10rem;*/
}

.marquee1 marquee a{
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
   font-weight: 700;
    font-size: 3;
    color: blue;
}
.newimg{
  width: 4%;
  height: 3%;
}
    @media (min-width: 200px) and (max-width: 700px){
        .marquee1{
    
      margin-left: 8.5px;  
      font-size: small;
      
    }
    .newimg{
  width: 7%;
  height: 6%;
}
     
        }

.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
  #placedoubt{
     color: blue; 
     font-family: Arial,Helvetica,sans-serif; 
     font-size: 25px;
      font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff; 
     margin-top: 4rem
   }

button[type=submit]{
  background-color: rgb(25, 25, 155);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10rem;
  margin-top: 10px
  }
  .submit:hover {
   background-color: rgb(9, 9, 114);
   color: cornsilk;
  cursor: pointer;
  transform: scale(1.1);
}
.label{
    font: normal bold 14px/1.2em Arial,Verdana,Helvetica;
    font-size: 18px;
    font-weight: 800;
}
.nichevalaformcontrol{
  
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    box-shadow: inset 2px 3px 4px rgb(148, 213, 243);
}
.bt1 {
  width: 70px;
  height: 65px;
  margin: 15px;
  outline: none;
  border: none;
  background: rgb(214, 214, 214);
  box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.bt1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bt1:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bt1:hover::before {
  box-shadow: inset -9px -9px 22px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.bt1:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #fff;
}

.bt1 img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.bt1 img:hover {
  font-size: 30px;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 10;
}
</style> 

</head>
<body>
     <div >
      <img src="frontphoto.jpg" style="width: 100%; height:17rem"  >
    </div> 
  <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>

<div class="marquee1" >
 <!-- <marquee  direction="right"  behavior="alternate" scrollamount="8" onmouseover="this.stop();" onmouseout="this.start();" > <img class="newimg" src="New4.gif">
            &nbsp; <a href="https://airmenselection.cdac.in/STAR/controller/showSignIn" > AIR FORCE XY GROUP 2021 RESULT OUT  </a>
        <b>||</b>
       <a href="" target="_blank"> AIR FORCE XY GROUP 2021 EXAM RESULT LIST  </a>
        </marquee> -->
        <marquee  direction="right"  behavior="alternate" scrollamount="4" onmouseover="this.stop();" onmouseout="this.start();" > <img class="newimg" src="New4.gif"  >
            &nbsp; <a href="https://youtu.be/zsmSwx_0grQ" > INDIAN COAST GUARD 26TH SEPT REVIEW  </a>
        <b>||</b>
       <a href="https://youtu.be/Hj3PjA0utgg" target="_blank">INDIAN NAVY MR FINAL MERIT LIST OUT   </a>
        </marquee>
    </div>
    <div class="marquee1" >
        <marquee  direction="left"  behavior="alternate" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();" ><img class="newimg" src="New4.gif" > &nbsp;<a href="https://www.joinindiannavy.gov.in/en/account/account/state" target="_blank" >INDIAN NAVY AA ,SSR NEW VACANCY FORM START</a>
        <b>||</b>
        <a href="https://youtu.be/C8sZ7xmu3rA" target="_blank">ENROLLMENT LIST UPDATE </a>
        </marquee>
        <marquee  direction="left"  behavior="alternate" scrollamount="5" onmouseover="this.stop();" onmouseout="this.start();" >
     {{!-- <img class="newimg" src="New4.gif"  >
         <a href="https://forms.gle/caCE4134WECSiDg96" target="_blank"> INDIAN AIR FORCE XY GROUP 2021 2ND PHASE ADMISSION OPEN</a> --}}
         <img class="newimg" src="New4.gif"  >
         <a href="https://youtu.be/8v43sn8z1os" target="_blank"> INDIAN NAVY MR NEW VACANCY NOTIFICATION OUT </a>
        </marquee>
   <div class="row mt-3 mr-1">
      <div class=" col-lg-4 mt-1">
       <a href="/indianairforce"> <span class="badge  w-100 p-3 text-white" style="background-color: #ec1c0d;font-family: 'Noto Sans JP', sans-serif; 
    font-weight: 700;
    font-size: 16px;box-shadow: 0 3px 2px #999; " >Air Force XY Group </span></a>
      
       </div>
        <div class=" col-lg-4 mt-1">
         <a href="/indiannavy"><span class="badge  badge-primary w-100 p-3  " style="background-color: #f1f1f1;font-family: 'Noto Sans JP', sans-serif; 
    font-weight: 700;
    font-size: 16px; color:#00004d;box-shadow: 0 3px 2px #999;">Indian Navy AA,SSR </span></a>
      
       </div>
        <div class=" col-lg-4 mt-1">
       <a href="/nda"><span class="badge badge-primary  w-100 p-3 text-white " style="background-color: #078317;font-family: 'Noto Sans JP', sans-serif; 
    font-weight: 700;
    font-size: 16px;box-shadow: 0 3px 2px #999;"  >National Defence Academy(NDA) </span></a>
      
       </div>
   </div>
   <div class="row mt-3 mr-1">
      <div class=" col-lg-4 mt-1">
       <a href="/Physicaltimer"> <span class="badge  w-100 p-3 text-white" style="background-color: #ec1c0d;font-family: 'Noto Sans JP', sans-serif; 
    font-weight: 700;
    font-size: 16px;box-shadow: 0 3px 2px #999;" >Physical Practice With Timer </span></a>
      
       </div>
        <div class=" col-lg-4 mt-1">
        <a href="/Womensentries"><span class="badge  badge-primary w-100 p-3  " style="background-color: #f1f1f1;font-family: 'Noto Sans JP', sans-serif; 
    font-weight: 700;
    font-size: 16px; color:#00004d;box-shadow: 0 3px 2px #999;">Women's Entries</span></a>
      
       </div>
        <div class=" col-lg-4 mt-1" class="bdg">
        <a href="/Indiancoastguard" ><span class="badge badge-primary  w-100 p-3 text-white " style="background-color: #078317;font-family: 'Noto Sans JP', sans-serif; 
    font-weight: 700;
    font-size: 16px; 
    box-shadow: 0 3px 2px #999; "  >Indian Coast Guard</span></a>
      
       </div>
   </div>

<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center ">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
      Daily Defence News
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
   <div style="text-align: left;">
    
     <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"> <img  src="New4.gif" width="7%" height="6%" ><a href="/Ndawomen" style="text-decoration: none">महिलाओं को NDA FORM भरने की मिली मंज़ूरी</a> </span><br>
     <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"> <img  src="New4.gif" width="7%" height="6%" ><a href="mahilayenda" style="text-decoration: none">लड़कियाँ को भी मिला सुनहरा अवसर NDA मे जाने का </a> </span><br>
      <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"> <img  src="New4.gif" width="7%" height="6%" ><a href="https://youtu.be/C8sZ7xmu3rA" style="text-decoration: none">क्यों नही आ रही Enrollment List जाने क्या इसकी वजह ? </a> </span><br>
          <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px">  <img  src="New4.gif" width="6%" height="4%" ><a href="/Whyresultlate" style="text-decoration: none"> Air Force XY Group 2021 का रिज़ल्ट क्यों नही आ रहा?</a> </span><br>
    
  </div>
  <div class="card-footer text-muted mt-3">
  Daily Updates
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
       <div class="card text-center ">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
     Important Updates
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
   <div style="text-align: left;">
    
     <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"> <img  src="arrow.jpg" width="6%" height="4%" ><a href="#" style="text-decoration: none">महिलाओं को NDA FORM भरने की मिली मंज़ूरी</a> </span><br>
     <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"> <img  src="arrow.jpg" width="6%" height="4%" ><a href="#" style="text-decoration: none">लड़कियाँ को भी मिला सुनहरा अवसर NDA मे जाने का </a> </span><br>
      <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"><img  src="arrow.jpg" width="6%" height="4%" > <a href="/newairforcechief" style="text-decoration: none">कोन होंगे अगले नए Air Force अध्यक्ष?</a> </span><br>
      <span style="font-family: 'Noto Sans JP', sans-serif;  font-weight: 600;font-size: 16px;margin-top:10px"> <a href="#" style="text-decoration: none"></a> </span>
      
  </div>
  <div class="card-footer text-muted mt-3">
 All Important Posts 
  </div>
  </div>
  
</div>
     </div>

   </div>
 </div>
 <div class="row mt-3">
<div class="col-md-6">
 <h5 style=" color: rgb(50 62 119); font-family: Arial,Helvetica,sans-serif; font-size: 30px; font-weight: 800; 
   text-shadow: 2px 2px 8px #00e1ff; text-align:center; letter-spacing: 0.1rem;margin-top: 1rem"> Latest Updates(Videos) </h5><br>
 
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://youtu.be/bkPt2TxwA7g" target="_blank"> <img  src="AASSR2022.jpg" alt="girlsthumbnail" height="315" width="560">
      <div class='video-overlay'>
       <i class="fa fa-youtube-play bg-white" style="font-size:60px;color:red;"></i>
     
                                </div>
    </div>
    </div>
    <div class="carousel-item">
      <div class="videoWrapper">
               <a href="https://youtu.be/C8sZ7xmu3rA" target="_blank"> <img  src="enrollmentthumbnail.jpg" alt="girlsthumbnail" height="315" width="560">
      <div class='video-overlay'>
       <i class="fa fa-youtube-play bg-white" style="font-size:60px;color:red"></i>
                                </div>
    </div></div>
    <div class="carousel-item">
      <div class="videoWrapper">
      <a href="https://youtu.be/8v43sn8z1os" target="_blank"> <img  src="MRVACANCY2022.jpg" alt="girlsthumbnail" height="315" width="560">
      <div class='video-overlay'>
       <i class="fa fa-youtube-play bg-white" style="font-size:60px;color:red"></i>
                                </div>
     </div></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="col-md-6 ">
 <h5 style=" color: rgb(50 62 119); font-family: Arial,Helvetica,sans-serif; font-size: 30px; font-weight: 800; 
   text-shadow: 2px 2px 8px #00e1ff;text-align:center; letter-spacing: 0.1rem;margin-top: 1rem"> Featured Videos</h5><br>
 
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://youtu.be/glx3STikQAA" target="_blank"> <img  src="Featured03.jpg" alt="girlsthumbnail" height="315" width="560">
        <div class='video-overlay'>
       <i class="fa fa-youtube-play bg-white" style="font-size:60px;color:red"></i>
                                </div>
    </div></div>
    <div class="carousel-item">
      <div class="videoWrapper">
        <a href="https://youtu.be/uVhkof_2GqY" target="_blank"> <img  src="featured02.jpg" alt="girlsthumbnail" height="315" width="560">
        <div class='video-overlay'>
       <i class="fa fa-youtube-play bg-white" style="font-size:60px;color:red"></i>
                                </div>
    </div></div>
    <div class="carousel-item">
      <div class="videoWrapper">
        <a href="https://youtu.be/CWRGKZEmcIQ" target="_blank"> <img  src="featured01.jpg" alt="girlsthumbnail" height="315" width="560">
       <div class='video-overlay'>
       <i class="fa fa-youtube-play bg-white" style="font-size:60px;color:red"></i>
                                </div>
    </div></div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
 </div>
   
<div class="container"   >
      <h3 class="text-center " id="placedoubt" > PLACE YOUR DOUBT   </h3>

  <form action="/" id="forms" >
  <div class="form-group">
    <label for="Fname" class="label">First Name:</label>
    <input type="text" class="form-control nichevalaformcontrol" placeholder="Enter Your First Name " id="Fname">
  </div>
   <div class="form-group">
    <label for="Lname" class="label">Last Name:</label>
    <input type="text" class="form-control nichevalaformcontrol" placeholder="Enter Your Last Name " id="Lname">
  </div>
  <div class="form-group ">
    <label for="email" class="label">Mobile Number :</label>
    <input type="number" class="form-control nichevalaformcontrol" placeholder="Enter Your Whatsapp Number" id="phone">
  </div>
   <div class="form-group">
    <label for="doubts" class="label">Your Doubt :</label>
    <textarea type="text" class="form-control nichevalaformcontrol" placeholder="Enter Your Doubt Here " id="doubts" style="height: 200px; width: 400px"></textarea>
  </div>
  <button type="submit" onclick="gotowhatsapp()" class="btn submit" >Submit</button>
</form>

<script> 
function gotowhatsapp(){
  var fname=document.getElementById("Fname").value;
  var lname=document.getElementById("Lname").value;
  var phonenumber=document.getElementById("phone").value;
  var doubt=document.getElementById("doubts").value;
  var url="https://wa.me/917042268205?text= "
  +"First name:"+fname+"%0a"
  +"Last name:"+lname+"%0a"
  +"Phone Number :"+phonenumber+"%0a"
  +"Doubt:"+doubt+"%0a";
  window.open(url,'_blank').focus();
}

</script>
</div>    
  <div class="footer row bg-dark mt-3">
  <marquee class="mt-1" direction="right"  behavior="alternate" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();" >
   <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank" style="color:white;font-family: Arial,Helvetica,sans-serif; font-size: 15px; font-weight: 800; text-decoration: none"> PLEASE SUBSCRIBE OUR CHANNEL AND PRESS BELL ICON  </a>
</marquee>
<div class="col-md-6 mt-4 ">
<h5 style=" color: rgb(245, 244, 243); font-family: Arial,Helvetica,sans-serif; font-size: 25px; font-weight: 800; 
   text-shadow: 2px 2px 8px #00e1ff;  letter-spacing: 0.1rem;margin-left:2rem" > FOLLOW US </h5> 
  <div class="container-fluid d-flex">
    <button class="btn bt1  " >
    <a href="https://www.facebook.com/defencechampions" target="_blank"> <img  src="Facebook.webp" width="50" , height="50" ></a>
    </button>
    <button class="btn bt1">
     <a href="https://www.instagram.com/rakesh_prajapati_official_123/" target="_blank"><img src="Instagram.png" width="50" , height="50"></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank"> <img src="Youtube1.webp" width="50" , height="40"></a>
    </button>
     <button class="btn bt1">
      <a href="https://t.me/defencechampions1" target="_blank"><img src="telegram.webp" width="50" , height="50"> </a>
    </button>
    <button class="btn bt1">
    <a href="https://chat.whatsapp.com/DHlnroPWKtrIkH8WInnWtI" target="_blank">  <img src="whatsapp.webp" width="50" , height="50"> </a>
    </button>
  </div>
</div>
<div class="col-md-6">
<h5 style=" color: rgb(245, 244, 243); font-family: Arial,Helvetica,sans-serif; font-size: 25px; font-weight: 800; 
   text-shadow: 2px 2px 8px #00e1ff; margin-left:1.5rem; letter-spacing: 0.1rem;margin-top: 1rem"> PROVIDE YOU </h5>
  <ul style="color:aqua;font-family: Arial,Helvetica,sans-serif; font-size: 18px; font-weight: 800; 
  text-shadow: 2px 2px 8px #00e1ff ">
    <li>Give Guidence Step by Step process</li>
  <li>Examination Preperation</li>
  <li>Physical Preparation</li>
  <li>Medical Preparation</li>
  </ul>
</div>
  </div>
 </body>
</html>