<!DOCTYPE html>
<html>
<head>
  <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
	<title>Indian Navy AA,SSR,MR</title>
  
    <meta charset="utf-8">
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Navy AA,SSR,MR,COAST GUARD All Current Updates,Navy MR new Vacanacy,Navy AA,SSR New Vacancy....">
    <meta name="keywords" content="Indian Navy ,join indian navy ,Indian Navy AA SSR Recruitment 2022,Indian Navy MR Registraion Form ,Indian Navy AA,SSR ,Navy AA,SSR Result, Indian Navy AA,SSR Vacancy,How to Join Indian Navy, Indian Navy MR ,indian navy ranks,  ">

  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">

 body{
  /* background-color:rgb(18, 103, 230);*/
   background-image: url(navybg.jpg)
 }
 
	
	  .images{
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }
 .bt1 {
  width: 70px;
  height: 50px;
  margin: 20px;
  outline: none;
  border: none;
  background: rgb(214, 214, 214);
  box-shadow: 5px 0px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.bt1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bt1:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bt1:hover::before {
  box-shadow: inset -9px -9px 22px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.bt1:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #fff;
}

.bt1 img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.bt1 img:hover {
  font-size: 30px;
}

.socialmedia {
 display: flex;
  margin-left: -1rem;
  margin-top: 2rem;
}
/*
@media (min-width: 800px) and (max-width: 895px){
.carous {
    min-width: 841px;
}
.vacancycard{
  width: 700px;
}
}
@media (min-width:600px) and (max-width:700px){
  .videos img {
    width: 100%;
    height: 23rem;
}
}
@media (min-width:700px) and (max-width:799px){
 .videos img {
    width: 100%;
    height: 25rem;
}
}
@media (min-width:500px) and (max-width:599px){
 .videos img {
    width: 100%;
    height: 21rem;
}
}
@media (min-width:400px) and (max-width:499px){
 .videos img {
    width: 100%;
    height: 15rem;
}
}

.formsubmission{
  color: rgb(241, 241, 255);
   font-family: Arial,Helvetica,sans-serif; 
   font-size: 30px; 
   font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff;
     margin-left: 3rem; 
     margin-top: 4rem"
}


.navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}
 .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 18px;
    margin-left: 1rem;
  } */
  @media (min-width: 200px) and (max-width: 400px){
  .foot{
    width: 28rem;
  }
}
  @media (min-width: 500px) and (max-width: 770px){
  .socialmedia{
    margin-left: 3.5rem;
  }
}
   @media (min-width: 200px) and (max-width: 600px){
	.images	{
			height: 270px;
      width: 400px;
		}
   

	}
  @media (min-width: 618px) and (max-width: 800px){
	.images	{
			height: 270px;
      width: 400px;
		}

	}
  .nav-link{
		font-family: 'Noto Sans JP', sans-serif; 
		
		font-weight: 800;
		font-size: 18px;
	 
	}
  .navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}

</style>
</head>
<body>

{{!-- <nav class="navbar navbar-expand-lg  navbar-light mt-2" >
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #a5f3ff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
      <li class="nav-item active">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav> --}}
<nav class="navbar navbar-expand-lg  navbar-light " >
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #000080;font-weight: 800;font-size: 22px">Indian Navy </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
      <li class="nav-item active">
        <a class="nav-link text-white p-3" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3 " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3" href="/nda">NDA </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3" href="/Indiancoastguard">Coast Guard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3" href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/Passage"> Passage </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-80">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
     New Updates
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <marquee direction="up" height="300px" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();" >
            <ul>
              <li><a href="/navy022023" target="_blank">INDIAN NAVY AGANIVEER SSR & MR 02/2023 NEW RECRUITMENT RELEASED </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
              
              <li><a href="/navyresult012023" target="_blank">INDIAN NAVY SSR RESULT OUT 2023 </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
                  
              <li><a href="/navy012023" target="_blank">INDIAN NAVY SSR 01/2023 ENTRY NOTIFICATION OUT </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
                 <li><a href="/navyMR012023" target="_blank">INDIAN NAVY MR 01/2023 NOTIFICATION OUT </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
                <li><a href="/Navywomensentry2022" target="_blank">INDIAN NAVY WOMENS ENTRY</a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
              
            </ul>
        </marquee>
  <div class="card-footer text-muted mt-3">
 Navy Aganiveer Batch
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
       <div class="card text-center h-100">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
Indian Navy  
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
      <div id="demo" class="carousel slide" data-ride="carousel" >

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
     <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner ">
    <div class="carousel-item active">      
      <img class="images" src="navy1.jpg" alt="iaf1" height="290" width="538">
    </div>
    <div  class="carousel-item" >
      <img class="images" src="navy2.jpg" alt="iaf2" height="290" width="538">
    </div>
    <div class="carousel-item">
      <img class="images" src="navy3.jpg" alt="iaf3" height="290" width="538">
    </div>
    <div class="carousel-item">
      <img class="images" src="navy4.jpg" alt="iaf4" height="290" width="538">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

  <div class="card-footer text-muted mt-3">
  Jai Hind Jai Bharat
  </div>
  </div>
  
</div>
     </div>

   </div>
   </div>



<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
   Indian Navy  SSR Recruitment 02/2023
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;"> Navy SSR Vcanacy 02/2023 </th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Exam Mode </th>
      <td><b>Online + Offline</b></td>
    </tr>
     <tr>
      <th scope="row">Application Start</th>
      <td><b>29-05-2023</b></td>
      
    </tr>
     <tr>
      <th scope="row">Date Of Birth</th>
      <td ><b>01 Nov 2002 to 30 April 2006</b></td>  
    </tr>  
  </tbody>
</table>


  <div onclick="location.href='/navy012023';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/navy022023" class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
        <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
    Navy MR (Matric Recruitment) Aganiveer 2023
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;">Indian Navy MR Recruitment 2023</th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Application Start</th>
      <td><b>08-12-2022 </b></td>
    </tr>
     <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online</b></td>
      
    </tr>
     <tr>
      <th scope="row">Qualification</th>
      <td ><b>10th pass </b></a></td> 
    </tr>
  
  </tbody>
</table>


  <div onclick="location.href='/navyMR012023';"class="card-footer text-muted mt-3; bg-primary">
  <a href="navyMR012023" target="_blank"  class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>

   </div>
</div>


     {{!-- <div class="col-md-6 ">
       <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
    Indian Navy Womens Entry
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;"> Indian Navy Sailor Womens Vacancy</th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Application Start</th>
      <td><b>15-07-2022</b></td>
    </tr>
     <tr>
      <th scope="row">Exam Date</th>
      <td ><b>Start from 9 Sept</b></td>
    </tr>
   <tr>
      <th scope="row">Admit Card</th>
       <td colspan="2"><a href="https://www.joinindiannavy.gov.in/en/account/account/state" class="text-danger"><b>Click Here</b></a></td>
   </tr>
  </tbody>
</table>


  <div onclick="location.href='/Navywomensentry2022';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/Navywomensentry2022" class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>  --}}
     <div class="container-fluid mt-3" >
   <div  class="row " >
      <div class="col-md-6 ">
       <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
   Indian Navy  SSR Recruitment 01/2023
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;"> Navy SSR Vcanacy 2023 </th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Exam Mode </th>
      <td><b>Online</b></td>
    </tr>
     <tr>
      <th scope="row">Application Start</th>
      <td><b>08-12-2022</b></td>
      
    </tr>
     <tr>
      <th scope="row">Date Of Birth</th>
      <td ><b>01 May 2002 to 31 oct 2005</b></td>  
    </tr>  
  </tbody>
</table>


  <div onclick="location.href='/navy012023';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/navy012023" class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  
  <div class="col-md-6 mt-1">
        <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
    Indian Navy AA,SSR Syllabus & Eligibility
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;">Navy AA,SSR SYllabus & Eligibility</th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Total No Of Questions</th>
      <td><b>100</b></td>
    </tr>
     <tr>
      <th scope="row">Age Limit</th>
      <td><b>16 to 19.5 </b></td>
      
    </tr>
     <tr>
      <th scope="row">Medical Standard</th>
      <td ><a href="https://youtu.be/glx3STikQAA" class="text-danger"><b>Click Here</b></a></td>
     
    </tr>
  
  </tbody>
</table>


  <div onclick="location.href='/Navysyllabus';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/Navysyllabus" target="_blank"  class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>

   </div>
</div> 


 

<div class="container-fluid bg-dark mt-3 p-5 foot">
 <marquee  direction="right"  behavior="alternate" scrollamount="8" onmouseover="this.stop();" onmouseout="this.start();" >
   <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank" style="color:white;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; text-decoration: none"> PLEASE SUBSCRIBE OUR CHANNEL AND PRESS BELL ICON  </a>
</marquee>
<br><br>

   <div class=" row ">
   
    <div class="col-sm-6 socialmedia">
    <button class="btn bt1  "  >
     <a href="https://www.facebook.com/defencechampions" target="_blank"><img src="Facebook.png" width="50" , height="50" ></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.instagram.com/rakesh_prajapati_2212/" target="_blank"><img src="Instagram.png" width="50" , height="50"></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank"> <img src="Youtube1.png" width="50" , height="40"></a>
    </button>
     <button class="btn bt1">
      <a href="https://t.me/defencechampions1" target="_blank"><img src="telegram.png" width="50" , height="50"> </a>
    </button>
    <button class="btn bt1">
    <a href="https://wa.me/7042268205" target="_blank">  <img src="whatsapp.png" width="50" , height="50"> </a>
    </button>
   </div>
   <div class="col-sm-6 d-flex homes" style="height: 57px; margin-top: 3rem "  >
   <a href="/">  <button type="button " class="btn btn-danger " style="margin-left: 3rem">
    Home <span class="badge badge-light"></span>
</button></a>
<a href="indianairforce"><button type="button " class="btn btn-primary " style="margin-left: 1rem ">
    IAF  <span class="badge badge-light"></span>
</button></a>
<a href="/nda"><button type="button " class="btn btn-success " style="margin-left: 1rem">
    NDA <span class="badge badge-light"></span>
</button></a>
   </div>
 </div>
</div>

</body>
</html>