<!DOCTYPE html>
<html>
<head>
  <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>

	<!--<title>Indian Navy AA,SSR,MR,COAST GUARD|| Defencecahmpions</title>-->
  <title>Indian Navy AA,SSR Result 2021 </title>
    <meta charset="utf-8">
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Navy AA,SSR,MR,COAST GUARD All Current Updates,Navy MR new Vacanacy,Navy AA,SSR Result,About Navy Coast Guard">
    <meta name="keywords" content="Indian Navy Defnecechampions,Indian Navy AA,SSR RESULT 2021,Navy AA,SSR Result, Indian Navy AA,SSR,Indian Navy AA,SSR Vacancy,How to Join Indian Navy, Indian Navy MR ,Indian Navy Cast Guard GD,DB,YANTRIK,Indian Navy MR New Vacancy  ">

  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">

 body{
   background-color:rgb(18, 103, 230);
 }
	.videos iframe{
		width: 100%;
		height: 30rem;
	}
	  .images{
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }
.bt1 {
  width: 70px;
  height: 50px;
  margin: 20px;
  outline: none;
  border: none;
  background: rgb(214, 214, 214);
  box-shadow: 5px 0px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.bt1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bt1:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bt1:hover::before {
  box-shadow: inset -9px -9px 22px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.bt1:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #fff;
}

.bt1 img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.bt1 img:hover {
  font-size: 30px;
}

.socialmedia {
 display: flex;
  margin-left: -1rem;
  margin-top: 2rem;
}
.carous{
  max-width: 903px;
}
@media (min-width: 800px) and (max-width: 895px){
.carous {
    min-width: 841px;
}
.vacancycard{
  width: 700px;
}
}
@media (min-width:600px) and (max-width:700px){
  .videos iframe {
    width: 100%;
    height: 23rem;
}
}
@media (min-width:700px) and (max-width:799px){
 .videos iframe {
    width: 100%;
    height: 25rem;
}
}
@media (min-width:500px) and (max-width:599px){
 .videos iframe {
    width: 100%;
    height: 21rem;
}
}
@media (min-width:400px) and (max-width:499px){
 .videos iframe {
    width: 100%;
    height: 15rem;
}
}
@media (min-width: 500px) and (max-width: 770px){
  .homes{
    margin-left: 2rem;

  }
  .socialmedia{
    margin-left: 3.5rem;
  }
}
.formsubmission{
  color: rgb(241, 241, 255);
   font-family: Arial,Helvetica,sans-serif; 
   font-size: 30px; 
   font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff;
     margin-left: 3rem; 
     margin-top: 4rem"
}
@media (min-width: 200px) and (max-width: 400px){
  .foot{
    width: 28rem;
  }
  .card{
    width: 26rem;
  }
  
 .videos iframe {
    width: 100%;
    height: 14rem;
}

.carous{
  width: 27rem;
}
 .formsubmission{
   margin: 0px;
   font-size: 15px;
 }
}
@media (min-width:401px) and (max-width:480px){
  .card{
    width: 26rem;
  }
}
@media (min-width:200px) and (max-width:600px){
  .vacancycard{
    width: 412px;
    margin-left: -15px;
  }
}
.navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}
 .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 18px;
    margin-left: 1rem;
  } 
</style>
</head>
<body>

<nav class="navbar navbar-expand-lg  navbar-light mt-2" >
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #a5f3ff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
      <li class="nav-item active">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>


<div class="container mt-3" >
   <div  class="row" >
     <div class="col-sm-6 ">
       <div class="card text-center h-100 ">
  <div class="card-header" style=" background: linear-gradient(#182088, #ffffff);border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
      Latest News
  </div>
  <div class="card-body">
   
    <marquee direction="up" height="300px" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();" >
            <ul>
 <li><a href="https://youtu.be/OEmfIBVtwkg" target="_blank"> INDIAN NAVY AA,SSR RESULT OUT   </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
              <li> <a href="https://www.joinindiannavy.gov.in/" target="_blank"> INDIAN NAVY MR NEW VACANCY FORM START LAST DATE TO APPLY 23 JULY </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
  
              <li>  <a href="https://cgept.cdac.in/icgreg/candidate/login" target="_blank"> INDIAN NAVY COAST GUARD DB,GD,YANTRIK ONLINE FORM START FROM 2 JULY 2021  </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" ></li><br>
        <li> <a href="https://youtu.be/A6_Clx1gejE" target="_blank"> INDIAN NAVY COAST GUARD STAGE 2 ADMIT CARD RELEASED   </a>&nbsp;
               </li><br>
 
            </ul>
        </marquee>
        
  </div>
  <div class="card-footer text-muted">
   Day by Day updates
  </div>
</div>
     </div>
 <br>
  <div class="col-sm-6 ">
       <div class="card text-center h-100 ">
  <div class="card-header" style="  background: linear-gradient(#182088, #ffffff); color: #303030;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
       Indian Navy 
  </div>
  <div class="card-body">
   
   <div id="demo" class="carousel slide" data-ride="carousel" >

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
     <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner images">
    <div class="carousel-item active">
      <img src="navy1.jpg" alt="iaf1" height="346" width="538">
    </div>
    <div class="carousel-item" >
      <img src="navy2.jpg" alt="iaf2" height="346" width="538">
    </div>
    <div class="carousel-item">
      <img src="navy3.jpg" alt="iaf3" height="346" width="538">
    </div>
    <div class="carousel-item">
      <img src="navy4.jpg" alt="iaf4" height="346" width="538">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

        
  </div>
  <div class="card-footer text-muted">
   Jai Hind Jai Bharat 
  </div>
</div>
     </div>
</div>

<div class="container mt-4" >
  <div class="row" >
    <div class="col-sm-12" >
      <div class="card text-center vacancycard ">
  <div class="card-header" style="  background: linear-gradient(#182088, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
     INDIAN NAVY AA,SSR,MR,COAST GUARD 
  </div>
  <div class="card-body" >
   
 <h5 style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff; margin-top: 3rem"> INDIAN NAVY AA,SSR   </h5>
     
<b><table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> Application Start</th>
      <th scope="col">26/04/2021</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Last Date For Apply Online</th>
      <td>05/05/2021</td>
    </tr>
     <tr>
      <th scope="row">Date Of Birth For AA</th>
      <td> Born Between 01/02/2001 to 31/07/2004  <br> 
         <span> (जिनका जन्म 1 February 2001 to 31 July 2004 के बीच मे हुआ ह(दोनो दिन भी शामिल ह 1 Feb and 31st July)Selection  के बाद  Joining तक 21 Year maximum age  होनी चाहिए)</span>
      </td>
      
    </tr>
    <tr>
      <th scope="row">Date Of Birth For SSR</th>
      <td>Born Between 01/02/2001 to 31/07/2004<br>
        <span> (जिनका जन्म 1 February 2001 to 31 July 2004 के बीच मे हुआ ह(दोनो दिन भी शामिल ह 1 Feb and 31st July)Selection  के बाद  Joining तक 21 Year maximum age  होनी चाहिए)</span>
      </td>
      
    </tr>
    
     <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank"  href="https://www.joinindiannavy.gov.in/en/account/account/state">Click Here</a></td>
      
    </tr>
    <tr>
      <th scope="row"> Download Admit Card  </th>
      <td><a class="text-danger" href="https://www.joinindiannavy.gov.in/en/account/account/state"> Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row">Exam Dates </th>
      <td>06/07/2021 to 10-11/07/2021</td>
      
    </tr>
    <tr>
      <th scope="row">Exam Result </th>
      <td><a class="text-danger" href="https://www.joinindiannavy.gov.in/en/account/account/state"> Click Here</a></td></td>
      
    </tr>
     <tr>
      <th scope="row">Final Merit List </th>
      <td> --Expected In September<!--<a href="https://www.joinindiannavy.gov.in/en/account/account/state" class="text-danger">Click Here</a>--></td>
      
    </tr>
    
     <tr>
      <th scope="row">Total Post In SSR Entry </th>
      <td>2500</td>
      
    </tr>
    <tr>
      <th scope="row">Total Post In AA Entry </th>
      <td>500</td>
      
    </tr>
     <tr>
      <th scope="row">Education Qualification For AA  </th>
      <td>
        <span>Qualified in 10+2 examination with 60% or more marks in aggregate with Maths & Physics and atleast one of these subjects; Chemistry/Biology/Computer science  from an educational board recognized by Central/State Government<br>
  (12th class physics,maths के साथ (Chemistry/biology/computer science इनमे से कोई एक ) भी होना चाहिए| यानी PCM/PCB/PCC से 12th class होनी चाहिए| 60% अंक के साथ |कम से कम 60% होने चाहिए|)<br></span>
 
      </td> 
    </tr>
    <tr>
      <th scope="row"> Education Qualification For SSR </th>
      <td>
       <span>Qualified in 10+2 examination with Maths & Physics and atleast one of these subjects; Chemistry/Biology/Computer science from an educational board recognized by Central/State Government.<br>
 (SSR के लिए 12th class मे पास होना अनिवार्य ह किसी भी Recognized Board से)</span>
      </td> 
    </tr>
   <tr>
      <th scope="row">Physical Eligibility Both AA & SSR  </th>
      <td>
       <span class="text-danger ">Height:</span> 157 CMS<br>
        <span class="text-danger">Running:</span> 1.6 Km Completed In 7 Minute<br>
       <span class="text-danger">Squat Ups (Uthak Baithak):</span> 20 Times<br>
       <span class="text-danger">Push Ups :</span> 10 Times
    
      </td> 
    </tr>
    <tr>
      <th scope="row">How to fill Form (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/oOScsQ9ZPes">Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row">Offline Exam Process (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/bYABgtpl3f0">Click Here</a></td>
      
    </tr>
    <tr>
      <th scope="row">Navy Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/glx3STikQAA">Click Here</a></td>
      
    </tr>
<tr>
      <th scope="row">Official Site  </th>
      <td><a class="text-danger" href="https://www.joinindiannavy.gov.in/">Click Here</a></td>
      
    </tr>
  </tbody>
</table>
  </b>


      <h5 style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff; margin-top: 3rem"> INDIAN NAVY MR(MATRIC RECRUIT)   </h5>
     
<b><table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> Application Start</th>
      <th scope="col">19/07/2021</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Last Date For Apply Online</th>
      <td>23/07/2021</td>
    </tr>
     <tr>
      <th scope="row">Date Of Birth For MR</th>
      <td>   <span class="text-danger"> 1/04/2001 To 30/09/2004</span> <br>
    <span> (जिनका जन्म 1 April 2001 to 30 September 2004 के बीच मे हुआ ह(दोनो दिन भी शामिल ह 1 April and 30 Sept)</span> 
      </td>
      
    </tr>
    <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank"  href="https://www.joinindiannavy.gov.in/en/account/account/state">Click Here</a></td>
      
    </tr>
    <tr>
      <th scope="row"> Download Admit Card  </th>
      <td><!--<a class="text-danger" href="https://www.joinindiannavy.gov.in/en/account/account/state"> Click Here</a>--></td>
      
    </tr>
     <tr>
      <th scope="row">Exam Dates </th>
      <td></td>
      
    </tr>
    <tr>
      <th scope="row">Exam Result </th>
      <td></td>
      
    </tr>
     <tr>
      <th scope="row">Final Merit List </th>
      <td> <!--Expected  In August--><!--<a href="https://www.joinindiannavy.gov.in/en/account/account/state" class="text-danger">Click Here</a>--></td>
      
    </tr>
    
     <tr>
      <th scope="row">Total Post In MR Entry </th>
      <td>350</td>
      
    </tr>
     <tr>
      <th scope="row">Education Qualification For MR  </th>
      <td>
        <span>MR Entry (Chef, Steward and Sanitary Hygienist) - Class X Pass from an educational board recognized by Central/State Government.<br>
            ( MR Vacancy के लिए 10th पास होनी अनिवार्य ह किसी भी  Recognized Board से|बस पास होना जरूरी ह)</span>
      </td> 
    </tr>
    <tr>
      <th scope="row">Posts For MR </th>
      <td>
       Chef (MR)::
You will be required to prepare food as per menu(vegetarian and non-vegetarian including handling of meat products), and accounting of ration. In addition, you will also be trained in fire arms and will be allotted other duties for efficient running of organisation.
<br>
Steward (MR)::
You would be required to serve food in the officers messes, as waiters, housekeeping, accounting of funds, wine and stores, preparation of menu etc. In addition, you will also be trained in fire arms and will be allotted other duties for efficient running of organisation.
<br>
Sanitary Hygienist (MR)::
They will be required to maintain hygiene in wash-rooms and other areas. In addition, you will also be trained in fire arms and will be allotted other duties for efficient running of organisation
      </td> 
    </tr>
      <th scope="row">How to fill Form (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/BqQhcMIBR1o">Click Here</a></td>
      
    </tr>
     
    <tr>
      <th scope="row">Navy Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/glx3STikQAA">Click Here</a></td>
      
    </tr>
<tr>
      <th scope="row">Official Site  </th>
      <td><a class="text-danger" href="https://www.joinindiannavy.gov.in/">Click Here</a></td>
      
    </tr>
  </tbody>
</table>
   </b>


  
      <h5 style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff; margin-top: 3rem"> INDIAN COAST GUARD   </h5>
     
<b><table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> Application Start</th>
      <th scope="col"> 02-07-2021</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Last Date For Apply Online</th>
      <td>16-07-2021</td>
    </tr>
     <tr>
      <th scope="row">Date Of Birth For Coast Guard</th>
      <td>  
         <span class="text-danger">For Navik(GD) and Yantrik:</span>&nbsp;&nbsp;Born Between 01/02/2000 to 31/01/2004<br>
               <span class="text-danger">For Navik(DB):</span>&nbsp;&nbsp;Born Between 01/04/2000 to 31/03/2004<br>
       <span class="text-danger">NOTE:</span>&nbsp;&nbsp;Upper Age Relaxation of 5 Years for SC/ST and  3 Years for OBC(Non-creamy layer) 
      </td>
      
    </tr>
    <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank" href="https://www.joinindiancoastguard.gov.in/">Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row">Application Fee </th>
      <td>Rs 250 (Except SC/ST) </td>
      
    </tr>
    <tr>
      <th scope="row">Admit Card  </th>
      <td> <span class="text-danger">Issued 20th July 2021 Onwords</span><!--<a class="text-danger" href="https://www.joinindiannavy.gov.in/en/account/account/state"> Click Here</a>--></td>
      
    </tr>
     <tr>
      <th scope="row">Exam Dates </th>
      <td><span class="text-danger">Mid/End Sep 2021(Tentative Dates)</span></td>
      
    </tr>
     <tr>
      <th scope="row">Final Merit List </th>
      <td> <!--Expected  In August--><!--<a href="https://www.joinindiannavy.gov.in/en/account/account/state" class="text-danger">Click Here</a>--></td>
      
    </tr>
      <tr>
      <th scope="row">Documents </th>
      <td><a class="text-danger" href="https://youtu.be/XeOfmQ4DBE8">Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row">Total Post In Coast Guard Entry </th>
      <td>  <a href="https://youtu.be/XeOfmQ4DBE8">Click Here</a> </td>
      
    </tr>
     <tr>
      <th scope="row">Education Qualification For Coast Guard  </th>
      <td>
     <span class="text-primary">FOR Navik (General Duty). </span>10+2 passed with Maths and Physics from an education
board recognized by Council of Boards for School Education (COBSE).<br>
       <span class="text-primary">FOR Navik (Domestic Branch)</span>10th Class passed from an education board recognized by
Council of Boards for School Education (COBSE).<br>
         <span class="text-primary">FOR Yantrik:</span>10th class passed from an education board recognized by Council of Boards
for School Education (COBSE) and Diploma in Electrical/ Mechanical / Electronics/
Telecommunication (Radio/Power) Engineering approved by All India Council of Technical
Education (AICTE).<br>
<span class="text-danger">Note: </span>Education Boards listed in COBSE website as on date of registration shall only be
considered.
      </td> 
    </tr>
    <tr>
      <th scope="row">Notification: </th>
      <td>
      <a class="text-danger" href="https://joinindiancoastguard.cdac.in/assets/img/news/01_2022_BATCH.pdf" target="_blank">Click Here</a>
      </td> 
    </tr>
      <th scope="row">How to fill Form (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/F2hz2QYtQ4E">Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row">Current Vacancy Update (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/XeOfmQ4DBE8">Click Here</a></td>
    </tr>
    <tr>
      <th scope="row">Navy Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/glx3STikQAA">Click Here</a></td>
      
    </tr>
<tr>
      <th scope="row">Official Site  </th>
      <td><a class="text-danger" href="https://www.joinindiancoastguard.gov.in/" target="_blank">Click Here</a></td>
      
    </tr>
  </tbody>
</table>
   </b>



  </div>
  <div class="card-footer text-muted">
  Indian Navy Batch 08/2021
  </div>
</div>
   
    </div>
  </div>
</div> 

 </div>
 <h5 class="text-center formsubmission mt-4 " > Form Submission To Selection Process  </h5>

<div class="container mt-3 mb-3 carous ">
	<div   id="carouselExampleIndicators" class="carousel slide pointer-event" data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
     <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner videos " >
    <!--  remember Height and width d block w-100 and height 30rem -->
    <div class="carousel-item active">
    <iframe  src="https://www.youtube.com/embed/oOScsQ9ZPes" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
         <iframe  src="https://www.youtube.com/embed/bYABgtpl3f0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="carousel-item">
   <iframe src="https://www.youtube.com/embed/DeZ-e4FdghU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
   <div class="carousel-item">
        <iframe  src="https://www.youtube.com/embed/FjHm_Fos78I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="carousel-item">
       <iframe  src="https://www.youtube.com/embed/564BMf-oNE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  

</div>
</div>


<div class="container-fluid bg-dark mt-3 p-5 foot">
 <marquee  direction="right"  behavior="alternate" scrollamount="8" onmouseover="this.stop();" onmouseout="this.start();" >
   <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank" style="color:white;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; text-decoration: none"> PLEASE SUBSCRIBE YOUR CHANNEL AND PRESS BELL ICON  </a>
</marquee>
<br><br>

   <div class=" row ">
   
    <div class="col-sm-6 socialmedia">
    <button class="btn bt1  "  >
     <a href="https://www.facebook.com/defencechampions" target="_blank"><img src="Facebook.png" width="50" , height="50" ></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.instagram.com/rakesh_prajapati_official_123/" target="_blank"><img src="Instagram.png" width="50" , height="50"></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank"> <img src="Youtube1.png" width="50" , height="40"></a>
    </button>
     <button class="btn bt1">
      <a href="https://t.me/defencechampions1" target="_blank"><img src="telegram.png" width="50" , height="50"> </a>
    </button>
    <button class="btn bt1">
    <a href="https://chat.whatsapp.com/DHlnroPWKtrIkH8WInnWtI" target="_blank">  <img src="whatsapp.png" width="50" , height="50"> </a>
    </button>
   </div>
   <div class="col-sm-6 d-flex homes" style="height: 57px; margin-top: 3rem "  >
   <a href="/">  <button type="button " class="btn btn-danger " style="margin-left: 3rem">
    Home <span class="badge badge-light"></span>
</button></a>
<a href="indianairforce"><button type="button " class="btn btn-primary " style="margin-left: 1rem ">
    IAF  <span class="badge badge-light"></span>
</button></a>
<a href="/nda"><button type="button " class="btn btn-success " style="margin-left: 1rem">
    NDA <span class="badge badge-light"></span>
</button></a>
   </div>
 </div>
</div>

</body>
</html>