<!DOCTYPE html>
<html>
<head>
  <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>    
 <title>INDIAN AIR FORCE XY GROUP || Aganiveer</title>
    <meta charset="utf-8">
    <link href="https://defencechampions.com">
    <meta name="description" content="indian air force Sceince-Non science group , भारतीय वायुसेना की संपूर्ण जानकारी , Indian Air Force Next Vacancy 
 Complete Information...">
    <meta name="keywords" content="indian air force,indian air force recruitment 2022,air force science non science ,air force registration,IAF recruitment ,Indian Air Force Group C">
  <link rel="canonical" href="https://www.defencechampions.com/indianairforce" />
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style type="text/css">
 body{
 /*  background-color: rgb(12, 12, 141);*/
    background-image: url(iafbackground.jpg)
 }

  .images{
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
  }
.bt1 {
  width: 70px;
  height: 50px;
  margin: 20px;
  outline: none;
  border: none;
  background: rgb(214, 214, 214);
  box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.bt1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bt1:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bt1:hover::before {
  box-shadow: inset -9px -9px 22px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.bt1:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #fff;
}

.bt1 img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.bt1 img:hover {
  font-size: 30px;
}

.socialmedia {
 display: flex;
  margin-left: -1rem;
  margin-top: 2rem;
}

.videos img{
		width: 100%;
		height: 30rem;
	}
.carous{
  max-width: 903px;
}
@media (min-width: 800px) and (max-width: 895px){
.carous {
    min-width: 841px;
}
}
@media (min-width:600px) and (max-width:700px){
  .videos img {
    width: 100%;
    height: 23rem;
}
}
@media (min-width:700px) and (max-width:799px){
 .videos img {
    width: 100%;
    height: 25rem;
}
}
@media (min-width:500px) and (max-width:599px){
 .videos img {
    width: 100%;
    height: 21rem;
}
}
@media (min-width:400px) and (max-width:499px){
 .videos img {
    width: 100%;
    height: 15rem;
}
}
@media (min-width: 200px) and (max-width: 400px){
  

 .videos img {
    width: 100%;
    height: 14rem;
}

.carous{
  width: 27rem;
}
 
}


@media (min-width: 500px) and (max-width: 770px){
  .homes{
    margin-left: 2rem;

  }
  .socialmedia{
    margin-left: 3.5rem;
  }
  
}
@media (min-width: 200px) and (max-width: 400px){
  .foot{
    width: 27rem;
  }
  .card{
    width: 24rem;
  }


}
.navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}
 .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 18px;
    margin-left: 1rem;
  } 
*/
 .nav-link{
		font-family: 'Noto Sans JP', sans-serif; 
		
		font-weight: 800;
		font-size: 18px;
	 
	}
  .navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}
</style>
</head>
<body>



<nav class="navbar navbar-expand-lg  navbar-light " >
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #a5f3ff;font-weight: 800;font-size: 22px">Indian Air Force</a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
      <li class="nav-item active">
        <a class="nav-link text-white p-3" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3 " href="/nda">NDA </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3" href="/indiannavy">Indian Navy </a>
      </li>
         <li class="nav-item">
        <a class="nav-link text-white p-3 " href="/Indiancoastguard">Coast Guard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white p-3" href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white p-3" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-80">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
     New Updates
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <marquee direction="up" height="300px" scrollamount="2" onmouseover="this.stop();" onmouseout="this.start();" >
           <ul>
             <li>  <a href="https://youtu.be/g6hIK10OijQ" >INDIAN AIR FORCE AGANIVEERVAYU BHARTI 2022</a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
             <li>  <a href="https://youtu.be/3HJ9QEOthZY" >INDIAN AIR FORCE NEW VACANCY NOTIFICATION OUT</a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
               <li>  <a href="/Airforcewomens012023" > INDIAN AIR FORCE WOMENS ENTRY 2022</a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
                <li>  <a href="https://youtu.be/sW6BX38Pu6I" > INDIAN AIR FORCE MEDICAL REVIEW </a>&nbsp;
               <img src="New4.gif" width="8%" height="5%" >  </li><br>
                
                
              
        
            </ul>
        </marquee>
  <div class="card-footer text-muted mt-3">
 Indian Air Force 2022 Batch
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
       <div class="card text-center h-100">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
Indian Air Force
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
      <div id="demo" class="carousel slide" data-ride="carousel" >

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
     <li data-target="#demo" data-slide-to="3"></li>
  </ul>

  <!-- The slideshow -->
  <div class="carousel-inner ">
    <div class="carousel-item active">      
      <img class="images" src="iaf4.jpg" alt="iaf1" height="290" width="538">
    </div>
    <div  class="carousel-item" >
      <img class="images" src="iaf2.jpg" alt="iaf2" height="290" width="538">
    </div>
    <div class="carousel-item">
      <img class="images" src="iaf3.jpg" alt="iaf3" height="290" width="538">
    </div>
    <div class="carousel-item">
      <img class="images" src="iaf1.jpg" alt="iaf4" height="290" width="538">
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>

  <div class="card-footer text-muted mt-3">
  Jai Hind Jai Bharat
  </div>
  </div>
  
</div>
     </div>

   </div>
   </div>
<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
    Indian Air Force Intake 01/2023
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;"> IAF Aganiveer Intake 01/2023</th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Application Date </th>
      <td><b>Nov 2022(1st week)</b></td>
    </tr>
     <tr>
      <th scope="row">Exam Date</th>
      <td><b>Mid Jan 2023</b></td>
      
    </tr>
     <tr>
      <th scope="row">Date Of Birth</th>
      <td ><b>29-06-2002 to 29-12-2005(Expected)</b></td>
     
    </tr>
  
  </tbody>
</table>


  <div onclick="location.href='/Airforce012023';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/Airforce012023" class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
        <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
   Women's Entry Indian Air Force intake 01/2023
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;">IAF Aganiveer Womens Entry</th>
       
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row">Application Date </th>
      <td><b>Nov 2022(1st week)</b></td>
    </tr>
     <tr>
      <th scope="row">Age Limit</th>
      <td><b>17 to 21 Y </b></td> 
    </tr>
    <tr>
      <th scope="row">Air Force Girls Entry(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/GFSuroBtWWY"><b>Click Here</b></a></td>
    </tr>
  
  </tbody>
</table>
<div onclick="location.href='/Airforcewomens012023';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/Airforcewomens012023" target="_blank"  class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>

   </div>
</div>

<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
    Indian Air Force Aganipath 2022 
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;"> IAF Aganiveer 2022 Batch</th>
       
    </tr>
  </thead>
  <tbody>
     <tr>
      <th scope="row">Application Date </th>
      <td><b>24/06/2021</b></td>
    </tr>
     <tr>
      <th scope="row">Exam Date</th>
      <td><b>24-07-2022</b></td>
      
    </tr>
     <tr>
      <th scope="row">Date Of Birth</th>
      <td ><b>29-12-1999 to 29-06-2005</b></td>
     
    </tr>
  
  </tbody>
</table>


  <div onclick="location.href='/IAFAGANIVEER';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/IAFAGANIVEER" class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
        <div class="card text-center h-60">
  <div class="card-header" style=" border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800;background-color:#120870;color:rgb(255, 253, 253)">
    Indian Air Force Aganiveer Syllabus & Eligibility
  </div>
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">  
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center" style="font-size: 27px; font-weight:800;">Air Force Science Non-Science SYllabus & Eligibility</th>
       
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row">Total No Of Question(Non Science)</th>
      <td><b>50</b></td>
    </tr>
     <tr>
      <th scope="row">Age Limit</th>
      <td><b>17 to 21 Y </b></td> 
    </tr>
    <tr>
      <th scope="row">Air Force Aganiveer Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/908Pr_QCEvU"><b>Click Here</b></a></td>
    </tr>
  
  </tbody>
</table>
<div onclick="location.href='/Airforcesyllabus';"class="card-footer text-muted mt-3; bg-primary">
  <a href="/Airforcesyllabus" target="_blank"  class="text-center text-white ">Read More >></a> 
  </div>
</div>
     </div>
     </div>

   </div>
</div>

 
{{!-- <div class="container mt-4 cards">
  <div class="row">
    <div class="col-sm-12">
      <div class="card text-center h-100">
  <div class="card-header" style=" background: linear-gradient(#c8e5ff, #ffffff); border-color: #ddd;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800">
      INDIAN AIR FORCE 'XY' GROUP 
  </div>
  <div class="card-body">

   <h5 style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff; margin-top: 4rem">  AIR FORCE XY GROUP </h5>
    

<b><table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col"> Application Start</th>
      <th scope="col">22/01/2021</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Last Date For Apply Online</th>
      <td>07/02/2021 at 05:00 PM</td>
    </tr>
     <tr>
      <th scope="row">Date Of Birth For 'XY' Group</th>
      <td> Age Between <span class="text-danger">16/01/2001 to 29/12/2004.</span>  <br> 
        Candidate born between 16 January 2001 and 29 December 2004 (both days inclusive) are eligible to apply. <br>
   In case, a candidate clears all the stages of the Selection Procedure, then the upper age limit as on date of
enrolment is 21 years.<br> (जिनका जन्म 16 January 2001 to 29 December 2004 के बीच मे हुआ ह(दोनो दिन भी शामिल ह 16th jan and 29th december)Selection  के बाद  Joining तक 21 Year maximum age  होनी चाहिए)</b>
      </td>  
    </tr>
   <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank"  href="https://airmenselection.cdac.in/STAR/controller/showSignIn">Click Here</a></td>
      
    </tr>
    <tr>
      <th scope="row">Application Fee  </th>
      <td>250 Rs</td>
      
    </tr>
    <tr>
      <th scope="row"> Download Admit Card  </th>
      <td><a class="text-danger" target="_blank" href="https://airmenselection.cdac.in/STAR/controller/showSignIn"> Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row">Exam Dates </th>
      <td> 12/07/2021 to 18/07/2021</td>
      
    </tr>
     <tr>
      <th scope="row">Exam Result </th>
      <td>Coming Soon  <!--<a href="https://airmenselection.cdac.in/STAR/controller/showSignIn" class="text-danger">Click Here</a>--></td> 
    </tr>
     <tr>
      <th scope="row">Exam Result List </th>
      <td>Coming Soon  <!--<a href="https://airmenselection.cdac.in/STAR/controller/showSignIn" class="text-danger">Click Here</a>--></td> 
    </tr>
     <tr>
      <th scope="row">Psl List </th>
      <td>  <!--<a href="https://airmenselection.cdac.in/STAR/controller/showSignIn" class="text-danger">Click Here</a>--></td>
      
    </tr>
    <tr>
      <th scope="row">Enrollment List </th>
      <td>  <!--<a href="https://airmenselection.cdac.in/STAR/controller/showSignIn" class="text-danger">Click Here</a>--></td>
      
    </tr>
     <tr>
      <th scope="row">Education Qualification For 'X' Group </th>
      <td>
     10+2 Exam Passed with Math, Physics and English Subject with Minimum 50% Marks.<br>
   OR Passed Three Year Polytechnic Diploma with 50% Marks<br>( 12th class  मे (Physics, maths ,English) subject होने चाहिए| कम से कम 50% अंक होने चाहिए|ओर English मे भी 50% होने चाहिए|  ओर यदि जिन्होने कोई Diploma कर रखा ह तो 3 साल का  Polytechnic Diploma 50% के साथ होना चाहिए|)</b>
   <br> <span class="text-primary"> Note: Polytechnic diploma students check eligibility from here: <a href="https://airmenselection.cdac.in/CASB/eligibilityCriteria.html" target="_blank"> <strong >CLICK HERE </strong></a></span>
 
      </td> 
    </tr>
    <tr>
      <th scope="row"> Education Qualification For 'Y' Group </th>
      <td>
       10+2 (Intermediate) Exam Passed with 50% Marks, English 50% Marks.(12th class me किसी भी  Stream से 50% अंक से पास होने चाहिए| ओर English मे भी 50% होने चाहिए| <br>
         (NOTE: <span class="text-danger"> किसी भी Stream के Students apply  कर सकते ह</span>)<br>
       <span class="text-primary"> Note:  diploma students check eligibility from here: <a href="https://airmenselection.cdac.in/CASB/eligibilityCriteria.html" target="_blank"> <strong>CLICK HERE </strong></a></span>
      </td> 
    </tr>
   <tr>
      <th scope="row">Physical Eligibility For 'XY' Group (Both) </th>
      <td>
       <span class="text-danger ">Height:</span> 152.5 CMS<br>
        <span class="text-danger">Running:</span> 1.6 Km Completed In 7 Minute<br>
       <span class="text-danger">Squat Ups (Uthak Baithak):</span> 20 Times<br>
       <span class="text-danger">Push Ups :</span> 10 Times<br>
        <span class="text-danger">Chest :</span> Minimum Expand 5 CMS<br>
         <span class="text-danger">Weight :</span> 55KG
    
      </td> 
    </tr>
    <tr>
      <th scope="row">Syllabus </th>
      <td>  <a href="https://airmenselection.cdac.in/CASB/modalqp.html" class="text-danger">Click Here</a></td>
      
    </tr>
    <tr>
      <th scope="row">How to fill Form (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/HUK3pjkLk8Q">Click Here</a></td>
      
    </tr>
     <tr>
      <th scope="row"> Air Force 'XY' Group Physical (Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/d6MzmGfh-uU">Click Here</a></td>
      
    </tr>
    <tr>
      <th scope="row">Air Force 'XY' Group Medical(Video)  </th>
      <td><a class="text-danger" href="https://youtu.be/908Pr_QCEvU">Click Here</a></td>
      
    </tr>
<tr>
      <th scope="row">Official Site  </th>
      <td><a class="text-danger" target="_blank" href="https://airmenselection.cdac.in/CASB/">Click Here</a></td>
      
    </tr>
  </tbody>
</table>
  </b>
  </div>
  <div class="card-footer text-muted">
  Air Force XY Group 01/2022
  </div>
</div>
   
    </div>
  </div>
</div>  --}}
{{!-- 
  <div class="container mb-5 mt-3 carous" >
  
    <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel" >
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner videos " >
    <!--  remember Height and width d block w-100 and height 30rem -->
 <div class="carousel-item active">  
  <a href="https://youtu.be/uVhkof_2GqY" target="_blank" > <img  src="featured02.jpg" alt="featured02" ></a>
    </div>
    <div class="carousel-item ">  
  <a href="https://youtu.be/UucF8em27sA" target="_blank"> <img  src="airforce01.jpeg" alt="airforce01" ></a>
    </div>
    <div class="carousel-item ">  
  <a href="https://youtu.be/odSHF02uODs" target="_blank"> <img  src="airforce02.jpeg" alt="airforce02" ></a>
    </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>  
</div>
</div> --}}
<div class="container-fluid bg-dark mt-3 p-5 foot">
 <marquee  direction="right"  behavior="alternate" scrollamount="8" onmouseover="this.stop();" onmouseout="this.start();" >
   <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank" style="color:white;font-family: Arial,Helvetica,sans-serif; font-size: 20px; font-weight: 800; text-decoration: none"> PLEASE SUBSCRIBE OUR CHANNEL AND PRESS BELL ICON  </a>
</marquee>
<br><br>

   <div class=" row ">
   
    <div class="col-sm-6 socialmedia">
    <button class="btn bt1  "  >
    <a href="https://www.facebook.com/defencechampions">  <img src="Facebook.png" width="50" , height="50" ></a>
    </button>
    <button class="btn bt1">
     <a href="https://www.instagram.com/rakesh_prajapati_2212/" target="_blank"><img src="Instagram.png" width="50" , height="50"></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank"> <img src="yt.png" width="50" , height="40"></a>
    </button>
     <button class="btn bt1">
      <a href="https://t.me/defencechampions1" target="_blank"><img src="telegram.png" width="50" , height="50"> </a>
    </button>
    <button class="btn bt1">
    <a href="https://wa.me/7042268205" target="_blank">  <img src="whatsapp.png" width="50" , height="50"> </a>
    </button>
   </div>
   <div class="col-sm-6 d-flex homes" style="height: 57px; margin-top: 3rem "  >
   <a href="/">  <button type="button " class="btn btn-danger " style="margin-left: 3rem">
    Home <span class="badge badge-light"></span>
</button></a>
<a href="/indiannavy"><button type="button " class="btn btn-primary " style="margin-left: 1rem ">
     Navy  <span class="badge badge-light"></span>
</button></a>
<a href="/nda"><button type="button " class="btn btn-success " style="margin-left: 1rem">
    NDA <span class="badge badge-light"></span>
</button></a>
   </div>
 </div>
</div>
</body>
</html>