 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>लड़कियाँ कैसे जाए आर्मी मे</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="How Womens Join Indian Defence Indian Army, Indian Air Force , Indian Navy ?, NDA मे मिला मोका, जाने कोर्ट का फ़ैसला?, NDA मे कैसे होगा लड़कियो का चयन? , New Vacancy...">
  <meta name="keywords" content="Supreme court allowing women to sit for NDA test is a welcome push for , Womens allowed in Nda , how to join nda after 12th,
can girls apply for nda,NDA">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">लड़कियाँ को भी मिला सुनहरा अवसर NDA मे जाने का</h2>
      <div class="text-center mt-4" >
      <img src="ladkiyan2.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">कोर्ट का ऐतिहासिक फ़ैसला</h2>
        <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> सुप्रीम कोर्ट ने भारतीय सेनाओ मे महिलाओं की भागीदारी को लेकर महत्वपूर्ण ओर ऐतिहासिक निर्णय लिया है| कोर्ट का मानना है की महिलाओं को भी समानता का अधिकार मिलना चाहिए| इसलिए NDA मे महिलाओं की भागीदारी  को लेकर याचिका की सुनवाई करते हुए उन्होने कहा की महिलाओं को भी NDA के जरिए भारतीय सेना मे शामिल होने का मौक़ा मिलना चाहिए ताकि वो भी देश की सेवा मे अपना योगदान से सके| सुप्रीम कोर्ट के इस फ़ैसले को लेकर पूरे देश मे खुशी का माहौल है| सभी इस कदम को ऐतिहासिक निर्णय मान रहे है| महिलाओं मे भी इसको लेकर काफ़ी खुशी का माहौल है ओर उनमे उर्जा का दोगुना संचार हो गया है|</p>
        <p class="text-center mt-1" style="font-size: 25px; font-weight:500">The Supreme Court has taken an important and historic decision regarding the participation of women in the Indian Armed Forces. The court believes that women should also get the right to equality. Therefore, while hearing the petition regarding the participation of women in NDA, they should also get a chance to join the Indian Army through NDA so that they too can contribute to the service of the country. There is an atmosphere of happiness in the whole country regarding this decision of the Supreme Court. Everyone is considering this move as a historic decision. There is a lot of happiness among women about this and the energy has doubled in them.</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">सैनिक स्‍कूलों में होगी लड़कियों की एंट्री</h2>
      <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> श्री प्रधानमंत्री नरेंद्रा मोदी जी ने 15 अगस्त के भाषण मे यह सपष्ट संदेश दिया था की अब भारत की बेटियाँ नया इतिहास बनाने को तैयार है| उन्होने सपष्ट तोर पर कहा था की अब से बेटियाँ को भी सैनिक विधयालयों मे दाखिला मिलेगा| आप जानते है की NDA मे जाने वाले अधिकतर candidates सैनिक विधयालयों से होते है| ओर अब लड़कियाँ भी अपने सपने को साकार कर सकती है|</p> 
      <p class="text-center mt-1" style="font-size: 25px; font-weight:500">Shri Prime Minister Narendra Modi gave a clear message in his speech on 15th August that now the daughters of India are ready to make a new history. He had clearly said that from now on daughters will also get admission in military schools. You know that most of the candidates going to NDA are from military schools. And now girls can also make their dreams come true.</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">रक्षा बलों में मिला है परमानेंट कमिशन</h2>
  <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> सुप्रीम कोर्ट एक ओर ऐतिहासिक घोषणा करते हुए यह सपष्ट कर दिया है की सेवारत महिलाओं को permanet comission दिया जाए चाहे उनको 14 वर्ष हो गये हो सेवा करते या 20 वर्ष हो गये हो| इस फ़ैसले के बाद सेवानिवृत महिलाए काफ़ी खुश नज़र आई उनके संघर्ष ने नई दिशा दिखाने का काम किया है|</p> 
  <p class="text-center mt-1" style="font-size: 25px; font-weight:500">While making a historic announcement on one hand, the Supreme Court has made it clear that serving women should be given permanet commission, whether they have completed 14 years of service or have completed 20 years. After this decision, the retired women seemed very happy, their struggle worked to show a new direction.</p>
  
  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Official Notification:<a class=" text-danger"  href="https://upsc.gov.in/sites/default/files/Corrigendum-NDA-NA-II-2021-engl-240921.pdf">Click Here</a></h2>
     <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">All Entries For Women's In Indian Defence(ARMY,IAF,NAVY):<a class=" text-danger"  href="/Womensentries">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Apply Here:<a class=" text-danger"  href="/Womensentries">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>