 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Indian Navy Group C Vacancy 2023</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Navy Dockyard Group C Vacancy 2023 Notification Released , Check Eligibility, Education Qualification , Exam Date .....">
  <meta name="keywords" content="Navy Group C Vacancy 2023 ,indian navy civilian recruitment 2023 , Navy Dockyard vacancy notification 2023 ,Navy recruitment 2023 apply online , Indian Army New Vacancy 2023">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
  
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  .videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
.video-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video-overlay img{
      height: 3rem;
    width: 4rem;
    border-radius: 5px;
}

.open-button {
  border:none;
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: -195px;
    width: 280px;
   
}


</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Navy Group C Vacancy Notification Released 2023 </h2>
      <div class="text-center mt-4" >
      <img src="navaldockyard.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Navy New Vacancy 2023  </h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Naval Dockyard Mumbai Apprentice Recruitment 2023 Notification: Naval Dockyard Mumbai Apprentice Recruitment 2023 लेटेस्ट नोटिफिकेशन जारी कर दिया गया है विद्यार्थियों के ऑनलाइन आवेदन मांगे | Naval Dockyard Mumbai Apprentice Recruitment 2023 नई भर्ती का नोटिफिकेशन ऑनलाइन आवेदन 2023 | इस भर्ती में योग्य व्यक्ति ऑनलाइन आवेदन कर पाएंगे | भर्ती Naval Dockyard Mumbai Apprentice Vacancy 2023 की संपूर्ण जानकारी यहां दी गई है  <br>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Naval Dockyard Mumbai Apprentice Recruitment 2023 Apply Online   </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">नेवल डॉकयार्ड मुंबई रिक्रूटमेंट 2023 के ऑनलाइन आवेदन न्यूज़पेपर में भर्ती पब्लिश होने के बाद शुरू किए जाएंगे | इस भर्ती के ऑनलाइन आवेदन 21 दिन तक चलने वाले हैं | नवल डॉकयार्ड मुंबई रिक्रूटमेंट 2023 का इंटरव्यू(Normal) और स्किल टेस्ट सितंबर महीने के अंदर करवाया जाएगा | इस भर्ती की परीक्षा तिथि और अन्य जानकारी के लिए आप हमारे टेलीग्राम चैनल पर उपलब्ध करवा दी जाएगी  | </p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Navy Group C Vacancy  2023 Age Limit & Eligibility Criteria </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> इस भर्ती की आयु सीमा कम से कम आयु 14 वर्ष एवं ज्यादा से ज्यादा आयु 21 वर्ष | NAVAL Recruitment 2023 भर्ती 2023 की गणना Age Between:- 21/11/2002 to 21/11/2009 की जाएगी और इस भर्ती में आयु में छूट सरकार के नियमानुसार दी जाएगी | </p>
        
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Indian Navy New Vacancy Group C  Details </th>
        </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">Recruitment Organization </th>
      <td><b>Naval Dockyard Mumbai  </b></td>
    </tr>
        <tr>
      <th scope="row">Post Name</th>
      <td><b> Apprentice</b></td>
    </tr>
     <tr>
      <th scope="row">Advt. No </th>
      <td><b>Naval Dockyard Mumbai Apprentice 2023</b></td> 
    </tr>
    <tr>
      <th scope="row">Number Of Post</th>
      <td><b>281</b></td> 
    </tr>
    <tr>
      <th scope="row">Job Location</th>
      <td><b>All India</b></td> 
    </tr>
    <tr>
      <th scope="row">Apllication Fees</th>
      <td><b>Rs. 0 </b></td> 
    </tr>
    <tr>
      <th scope="row">Application Start </th>
      <td><b>Update Soon </b></td> 
    </tr>
     <tr>
        <tr>
      <th scope="row">Last Date To Apply </th>
      <td><b>21 Days</b></td> 
    </tr>
    <tr>
      <th scope="row">Mode of Apply</th>
      <td><b>Online </b></td> 
    </tr>
    <tr>
      <th scope="row">Qualification</th>
      <td><b>10th Pass +ITI Pass </b></td> 
    </tr>
    <tr>
      <th scope="row">official Notification</th>
      <td><a class="text-danger" target="_blank"  href="https://dinesh-maker.github.io/PDFS/Navy%20dockyard%20bharti%202023.pdf"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">official Website </th>
      <td><a class="text-danger" target="_blank"  href="apprenticecedas.recttindia.in"><b>Click Here</b></a></td>
    </tr>   
     <tr>
      <th scope="row">Apply Online  </th>
      <td><a class="text-danger" target="_blank"  href="apprenticecedas.recttindia.in"><b>Click Here</b></a></td>
    </tr>  
    <tr>
      <th scope="row">Join Telegram </th>
      <td colspan="2"><a href="https://t.me/defencechampions1" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Navy New Vacancy SSR 02/2023 (Video)</th>
      <td colspan="2"><a href="https://www.youtube.com/live/oCao83evjok?feature=share" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Defence Champions Official Website</th>
      <td colspan="2"><a href="https://www.defencechampions.com" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Navy Recruitment Group C 2023 Selection Process </h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">Navy Dockyard Group C 2023 भर्ती की चयन प्रक्रिया के लिए निम्न स्टेप को फॉलो करें <br>
<ul style="font-size: 22px; font-weight:500">
 <li>Written Test</li>
<li>Skill Test </li>
<li>Document Verification</li>
<li>Medical </li></ul></p>
   
   
   <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">How to Apply for  indian Navy Group C Recruitment 2023?</h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">  Indian Navy Group C  Recruitment 2023 भर्ती का ऑनलाइन आवेदन कैसे करें इसके लिए निम्न स्टेप को फॉलो करें । </p>
<ul  style="font-size: 22px; font-weight:500">
<li>Check the eligibility from the Naval Dockyard Mumbai Apprentice Recruitment Notification 2023</li>
<li>Click on the Apply Online Link given Above or visit the website</li>
<li>Fill out the application form</li>
<li>Upload the required document</li>
<li>Pay Fees </li>
<li>Print the Application Form</li>
{{!-- <div class="container mt-5">
    <div class="row justify-content-center ">
        <div class="col-lg-6">
<form >
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="Fname"  placeholder="Enter Your First Name " >
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Last Name</label>
    <input type="text" class="form-control" id="Lname" placeholder="Enter Your Last Name" >
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Enter Your Doubt</label>
    <textarea class="form-control" id="doubts" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary text-center" onclick="gotowhatsapp()">Submit</button>
</form> 
</div>
</div>
</div> --}}
 <script> 
function gotowhatsapp(){
  var fname=document.getElementById("Fname").value;
  var lname=document.getElementById("Lname").value;
  var doubt=document.getElementById("doubts").value;
  var url="https://wa.me/917042268205?text= "
  +"First name:"+fname+"%0a"
  +"Last name:"+lname+"%0a"
  +"Doubt:"+doubt+"%0a";
  window.open(url,'_blank').focus();
}
</script>
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Telegram For Updates:<a class=" text-danger"  href="https://t.me/defencechampions1">Click Here</a></h2>
    <h2 class=" text-center mt-3" style="font-size: 25px; font-weight:800">NDA Entry:<a class=" text-danger"  href="/nda">Click Here</a></h2>
    <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Indian Army Vacancy:<a class=" text-danger"  href="/Armymesvacancy">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>

    </div>

  </body>
  </html>