 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>NDA New Vacancy</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="NDA Recruitment 2022(1) All details, NDA vacancies 2022 will be announced along with the notification. NDA (I) 2022 vacancies will be announced on December 22, 2021. NDA II 2022 vacancies will be .">
  <meta name="keywords" content="NDA Recruitment 2022, NDA Vacancy 2022, NDA (1) 2022 Recruitment, NDA Vacancy for Female,NDA 2022 Eligibility">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">NDA (1) 2022 NOTIFICATION OUT</h2>
      <div class="text-center mt-4" >
      <img src="ladkiya.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या है ELIGIBILITY ? </h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500">जो बच्चे 12वी पास या 12वी मे अभी है वो सभी बच्चे APPLY कर सकते है|आपके पास कोई भी SUBJECT हो 12वी मे आप APPLY कर सकते है|SUBJECT का कोई भी RESTRICTION(बंधन) नही है| जिनकी DATE OF BIRTH  02-07-2003 to 01-07-2006 के बीच मे है  वो सभी candidates Apply  कर सकते है| </p>
        
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या लड़किया भी APPLY कर सकती है?</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500">जैसा की माननीय Supreme Court ने लड़कियो के हिस्सेदारी को लेकर जो फ़ैसला दिया था उसके तहत  अबकी बार लड़कियाँ भी पूर्ण रूप से NDA के लिए Apply कर सकती है|लड़कियो को अबकी बार 19 सीटो पर अपनी दावेदारी पेश करने का मोका मिलेगा|</p>
      <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">आख़िर कितनी सीटे लड़कियो ओर लड़को की तय की गई है?</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500"><span class="text-danger">ARMY:&nbsp;</span>208(including 10 for female)<br>
          <span class="text-danger">NAVY:&nbsp;</span>42(including 03 for female)<br>
          <span class="text-danger">AIR FORCE:&nbsp;</span>(1) Flying - 92(including 02 for female candidates)<br>
              (2) Ground Duties(Tech) -18 (including 02 for female)<br>
              (3) Ground Duties(Non Tech) - 10(including 02 for female)<br>
          <span class="text-danger">NAVAL ACADEMY:&nbsp;</span>30 (Only for male candidates)
           <span class="text-danger">Total:&nbsp;</span>400</p>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या है Exam Fee Criteria?</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500">उम्मीदवारों (अनुसूचित जाति / अनुसूचित जनजाति के उम्मीदवारों / महिला उम्मीदवारों / जेसीओ / एनसीओ / ओआरएस के वार्डों को छोड़कर जो नीचे नोट 2 में निर्दिष्ट हैं, जिन्हें शुल्क के भुगतान से छूट दी गई है) को रुपये का शुल्क देना होगा। 100/- (एक सौ रुपये मात्र) या तो एसबीआई की किसी भी शाखा में नकद जमा करके, या भारतीय स्टेट बैंक की नेट बैंकिंग सुविधा का उपयोग करके या वीज़ा/मास्टर कार्ड/रुपे क्रेडिट/डेबिट कार्ड का उपयोग करके<br>
        <b>NOTE: SC/ST candidates ओर महिला उम्मीदवारों को छूट दी गई है</b></p>
 <br><h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">संपूर्ण जानकारी और फॉर्म भरने के लिए यहा click करे:<a class=" text-danger"  href="/nda">Click Here</a></h2>
  <br><div class="container text-center d-block videos mt-2"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Qo4Kl5S7pQU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div> 

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Official Notification:<a class="https://dinesh-maker.github.io/PDFS/Notif-NDANA-I-2022-engl-221221.pdf">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">All Entries For Women's In Indian Defence(ARMY,IAF,NAVY):<a class=" text-danger"  href="/Womensentries">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Apply Here:<a class=" text-danger"  href="/nda">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>