 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>NDA Syllabus and Eligibility</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="National defence academy Syllabus And Pattern , Who can apply For NDA(National defence academy)...">
  <meta name="keywords" content="NDA Syllabus , Nda Eligibility">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">NDA Syllabus And Eligibility</h2>
      {{!-- <div class="text-center mt-4" >
      <img src="ndaexamphoto.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div> --}}
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">National Defence Academy (NDA) Eligibility</h2>
        {{!-- <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> NDA (1) 2022 परीक्षा का admit card Release कर दिया गया है| जिन candidates ने NDA (1) 2022 जिसका आवेदन 22/12/202-11/01/2022 के बीच किया गया था| नीचे link given है</p>
    --}}
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> NDA Eligibility Criteria </th>
       
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row" class="text-danger">The Army Wing Of NDA</th>
      <td><b>Passed Class 12 or equivalent examination from a recognized board</b></td>
    </tr>
     <tr>
      <th scope="row" class="text-danger">The Air Force  </th>
      <td><b>Passed Class 12 or equivalent examination with Physics and Mathematics </b></td>
    </tr>
    <tr>
      <th scope="row" class="text-danger">Naval Wings of NDA and 10+2 Cadet entry at INA </th>
      <td ><b>Passed Class 12 or equivalent examination with Physics and Mathematics</b></td> 
    </tr>
    <tr>
      <th scope="row" class="text-danger">NOTE </th>
      <td><b>Candidates who are appearing in Class 12 or equivalent examination can apply<br>
Candidates appearing in Class 11 exam are not eligible</b></td> 
    </tr>
    
    </tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://www.upsc.gov.in/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">NDA Information</th>
      <td colspan="2"><a href="/nda" class="text-danger"><b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>

  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

  <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> NDA Syllabus  </th>
       
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row" >Mode Of Exam </th>
      <td><b>Offline</b></td>
    </tr>
     <tr>
      <th scope="row" >Paper In NDA  </th>
      <td><b><ol>
        <li>Mathematics(11th-12th class)</li>
        <li>General Ability Test</li>
      </ol></b></td>
    </tr>
    <tr>
      <th scope="row" >Marks Contain</th>
      <td ><b><ol>
        <li>Mathematics:300 marks</li>
          <li>GAT:600 marks</li>
      </ol></b></td> 
    </tr>
    <tr>
      <th scope="row" >Total No Of Question</th>
      <td><b><ol>
        <li>Matematics:120</li>
         <li>GAT:150</li>
      </ol></b></td> 
    </tr>
    
    </tr>
      <th scope="row">Negative Marking </th>
      <td > <b> <ol>
        <li> Mathematics: -0.83</li>
        <li> GAT: -1.33 </li>
      </ol></b></td>
    </tr>
      <th scope="row">Exam Duration</th>
      <td><b>  2.5 Hours</b></td>
    </tr>
      </tr>
      <th scope="row">Language Of Questions</th>
      <td><b>  Both Hindi And English</b></td>
    </tr>
  </tbody>
</table>

 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> NDA Mathematics Syllabus </th>   
    </tr class="text-center">
    <tr> <th> Topic </th>
    <th>  Topic Wise Syllabus</th>
    </tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row" > Algebra </th>
      <td>Sets, Venn diagrams, De Morgan laws, Cartesian product, relation, equivalence relation. Real numbers, Complex numbers, Modulus, Cube roots, Conversion of a number in Binary system to Decimals, and vice-versa. Arithmetic, Geometric and Harmonic progressions. Quadratic equations, Linear inequations, Permutation and Combination, Binomial theorem, and Logarithms.</td>
    </tr>
     <tr>
      <th scope="row" >Calculus </th>
      <td>Concept of a real-valued function, domain, range, and graph of a function. Composite functions, one-to-one, onto, and inverse functions. The notion of limit, Standard limits, Continuity of functions, algebraic operations on continuous functions. Derivative of function at a point, geometrical and physical interpretation of a derivative-application. Derivatives of sum, product, and quotient of functions, a derivative of a function concerning another function, the derivative of a composite function. Second-order derivatives. Increasing and decreasing functions. Application of derivatives in problems of maxima and minima</td>
    </tr>
    <tr>
      <th scope="row" >Matrices and Determinant </th>
      <td >Types of matrices, operations on matrices. Determinant of a matrix, basic properties of determinants. Adjoint and inverse of a square matrix, Applications-Solution of a system of linear equations in two or three unknowns by Cramer’s rule and by Matrix Method</td> 
    </tr>
    <tr>
      <th scope="row" >Integral Calculus and Differential Equations</th>
      <td>Integration as inverse of differentiation, integration by substitution and by parts, standard integrals involving algebraic expressions, trigonometric, exponential, and hyperbolic functions. Evaluation of definite integrals—determination of areas of plane regions bounded by curves—applications.Definition of order and degree of a differential equation, formation of a differential equation by examples. General and particular solution of differential equations, solution of the first order, and first-degree differential equations of various types—examples. Application in problems of growth and decay.</td> 
    </tr>
    
    </tr>
      <th scope="row">Trignometry</th>
      <td > Angles and their measures in degrees and radians. Trigonometric ratios. Trigonometric identities Sum and difference formulae. Multiple and Sub-multiple angles. Inverse trigonometric functions. Applications-Height and distance, properties of triangles.</td>
    </tr>
      <th scope="row">Vector Algebra</th>
      <td>Vectors in two and three dimensions, magnitude, and direction of a vector. Unit and null vectors, the addition of vectors, scalar multiplication of a vector, scalar product, or dot product of two vectors. Vector product or cross product of two vectors. Applications—work done by a force and moment of a force and in geometrical problems.</td>
    </tr>
      </tr>
      <th scope="row">Analytical Geometry of Two and Three Dimensions</th>
      <td>Rectangular Cartesian Coordinate system. Distance formula. Equation of a line in various forms. The angle between two lines. Distance of a point from a line. Equation of a circle in standard and a general form. Standard forms of parabola, ellipse, and hyperbola. Eccentricity and axis of a conic. Point in a three-dimensional space, the distance between two points. Direction Cosines and direction ratios. Equation two points. Direction Cosines and direction ratios. Equation of a plane and a line in various forms. The angle between two lines and the angle between two planes. Equation of a sphere.</td>
    </tr>
     </tr>
      <th scope="row">Statistics and Probability</th>
      <td>Probability: Random experiment, outcomes, and associated sample space, events, mutually exclusive and exhaustive events, impossible and certain events. Union and Intersection of events. Complementary, elementary, and composite events. Definition of probability—classical and statistical—examples. Elementary theorems on probability—simple problems. Conditional probability, Bayes’ theorem—simple problems. Random variable as function on a sample space. Binomial distribution, examples of random experiments giving rise to Binomial distribution</td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="3" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> NDA GAT Syllabus </th>
   
    </tr>
    <tr class="text-center"> <th colspan="3" style="font-size: 23px; font-weight:800;1"><b> GAT Contain 7 Subjects</b></th></tr>
  </thead>
  <tbody>
       <tr>
      <th scope="row" >General English</th>
      <td><b>50 Question</b></td>
          <td><b>200 Marks </b></td>
    </tr>
     <tr>
      <th scope="row" >Physics</th>
      <td><b>20-23 Question(Approx)</b></td>
          <td><b>90-100 Marks</b></td>
    </tr>
    <tr>
      <th scope="row" >Chemistry </th>
     <td><b>10-15 Question(Approx)</b></td>
          <td><b>50-65 Marks </b></td>
    </tr>
    <tr>
      <th scope="row" >General Science </th>
    <td><b>10-13 Question(Approx)</b></td>
          <td><b>40-50 Marks </b></td> 
    </tr>
    <tr>
      <th scope="row" >History </th>
    <td><b>10-15 Question(Approx)</b></td>
          <td><b>40-50 Marks </b></td> 
    </tr>
    <tr>
      <th scope="row" >Geography </th>
    <td><b>15-16 Question(Approx)</b></td>
          <td><b>45-60 Marks </b></td> 
    </tr>
    <tr>
      <th scope="row" >Current Event(GK) </th>
    <td><b>12-18 Question(Approx)</b></td>
          <td><b>50-60 Marks </b></td> 
    </tr>
    <tr>
      <th scope="row" >Total </th>
    <td><b>150 Questions</b></td>
          <td><b>600 Marks </b></td> 
    </tr>
  </tbody>
</table>

 <div class="card">
     <div class="card-header text-center">
       History Syllabus
     </div>
  <div class="card-body">
   <ol>
   <li>
     Forces shaping the modern world
   </li>
   <li>
     A broad survey of Indian History, with emphasis on Culture and Civilisation
   </li>
   <li> Freedom Movement in India</li>
   <li> French Revolution, Industrial Revolution, and Russian Revolution</li>
   <li> War of American Independence</li>
   <li> Impact of Science and Technology on Society</li>
   <li> Elementary study of Indian Constitution and Administration</li>
   <li> Concept of one World</li>
   <li> Panchayati Raj, Democracy, Socialism and Communism</li>
   <li> Role of India in the present world </li>
   <li> Co-operatives and Community Development</li>
   <li> National Integration and Welfare State</li>
   <li> Basic Teachings of Mahatma Gandhi </li>
   <li> Elementary knowledge of Five Year Plans of India</li>
   </ol>
  </div>
</div>

 <div class="card mt-3">
     <div class="card-header text-center">
      Geography Syllabus
     </div>
  <div class="card-body">
   <ol>
  <li> The Earth, its shape and size</li>
  <li> Ocean Currents and Tides Atmosphere and its composition</li>
  <li> Latitudes and Longitudes</li>
  <li> Temperature and Atmospheric Pressure, Planetary Winds, Cyclones, and Anticyclones; Humidity; Condensation and Precipitation</li>
  <li> Concept of time</li>
  <li> Types of Climate</li>
  <li> International Date Line</li>
  <li> Major Natural Regions of the World</li>
  <li> Movements of Earth and their effects</li>
  <li> Climate, Natural vegetation. Mineral and Power resources</li>
  <li> Location and distribution of agricultural and Industrial activities</li>
  <li> Origin of Earth. Rocks and their classification</li>
  <li> Important Sea ports and main sea, land, and air routes of India</li>
  <li> Main items of Imports and Exports of India</li>
  <li> Weathering—Mechanical and Chemical, Earthquakes and Volcanoe</li>
   </ol>
  </div>
</div>

 <div class="card mt-3">
     <div class="card-header text-center">
     English, Physics , Chemistry Syllabus 
     </div>
  <div class="card-body">
   <ol>
   <li><b class="text-center">English</b> <br>
    <p> Spotting Error, Comprehension , Synonyms , Antonyms , Sentence Improvement , Ordering of Sentence </p>
   </li>
   <li> <b class="text-center">Physics</b> <br>
    <p>Complete 11th-12th Syllabus of Physics </p> </li>
     <li> <b class="text-center">Chemistry</b> <br>
    <p>Complete 11th-12th Syllabus of Chemistry </p> </li>
   </ol>
  </div>
  <div class="card-footer text-muted mt-3">
    <b class="text-danger"> NOTE: </b> <p>You have to qualify Mathematics Exam(Mendatory) without clearing mathematics exam your second exam(GAT) will not Check</p>
  </div>
</div>
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">National Defence Academy:<a class=" text-danger"  href="/nda">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>