 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>NDA (2) 2022 Application|Exam Dates|Age Limit</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="NDA (2) 2022 Registration Form Start Apply Online, Check Eligibility ,Exam Date,Age Limit ...">
  <meta name="keywords" content="NDA Application Form 2022, NDA 2 Age Limit, NDA 2 2022 Eligibility">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">NDA (2) 2022: Application Notification</h2>
      <div class="text-center mt-4" >
      <img src="ndasecondimg2022.png" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">NDA 2 : Registration Form Eligibility Exam Date Age Limit</h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> जैसा की आप जानते है की NDA ने पहले ही  2022 का कैलेंडर जारी कर दिया था <a href="https://www.upsc.gov.in/sites/default/files/AnnalPrg-Exam-RT-2022-engl-130821.pdf">Click Here</a>| UPSC  NDA (2) 2022 के लिए 18 मई से आवेदन की प्रक्रिया प्रारम्भ करेगा और इसकी अंतिम तिथि 14 जून होगी | योग्यता की सम्पूर्ण जानकारी निचे दी गई है|जन्म तिथि के पैटर्न को जानने के लिए निचे दी गई जानकारी को समझे(End of the page)|</p>
   
 <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011"> NDA(2) 2022 EXAM </th>
       
    </tr>
  </thead>
  <tbody>
        <tr>
      <th scope="row">Application Start</th>
      <td><b>18/05/2022</b></td>
    </tr>
     <tr>
      <th scope="row">Last Date For Apply Online </th>
      <td><b>14/06/2022 - 6:00pm</b></td>
      
    </tr>
     <tr>
      <th scope="row">Date Of Birth  </th>
      <td><b>02/01/2004 to 01/01/2007</b></td> 
    </tr>
     <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank"  href="https://upsconline.nic.in/index.php"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Exam Date</th>
      <td ><b>04/09/2022</b></td>
    </tr>
   
    <tr>
      <th scope="row">Application Fee </th>
      <td><b>Rs 100</b></td>  
    </tr>
    <tr>
         <tr>
      <th scope="row">Official Notification</th>
       <td><a href="https://upsc.gov.in/sites/default/files/ExamNoti_NDA_NA_II_2022_Eng_18052022.pdf" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Admit Card</th>
      <td><a href="https://upsconline.nic.in/eadmitcard/admitcard_NDAII_2022/instructions.php" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Written Result Out</th>
      <td><a href="https://upsc.gov.in/sites/default/files/WR-NDA-II-22-NameList-engl-290922.pdf" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Syllabus</th>
      <td colspan="2"><a href="/nda" class="text-danger"><b>Click Here</b></a></td>
    </tr>
     <tr>
      <th scope="row">Eligibility</th>
      <td colspan="2"><a href="/nda" class="text-danger"><b>Click Here</b></a></td>
    </tr>
     <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://www.upsc.gov.in/" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">NDA 2022(Video)</th>
      <td colspan="2"><a href="https://youtu.be/bkPt2TxwA7g" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">NDA 2022 Calendar</th>
      <td colspan="2"><a href="https://www.upsc.gov.in/sites/default/files/AnnalPrg-Exam-RT-2022-engl-130821.pdf" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">NDA Information</th>
      <td colspan="2"><a href="/nda" class="text-danger"><b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">NDA 2 2022 Age Limit </h2>
        <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> यदि हम  NDA  के पैटर्न को Follow करे तो  NDA हमेशा 6 महीने के अंतराल पर जन्म तिथि को बढ़ाकर देता है और इस पैटर्न के हिसाब से ऊपर दी गयी Date Of Birth सही साबित होती है| NDA(1) Detail <a href="nda">NDA (1) DOB</a></p>
   
  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">National Defence Academy:<a class=" text-danger"  href="/nda">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>
</div>

  </body>
  </html>