
<!DOCTYPE html>
<html>

<head>
 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XBBMQ1G92T');
</script>
  <title>Air Force XY Group Passages Practice </title>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width ">
  <link href="https://defencechampions.com">
   <meta name="description" content="Air Force XY Group , Indian Navy SSR , Indian Coast Guard  Unseen Passage, Reading Comprehension with solution....">
    <meta name="keywords" content=" passage for Air Force XY group, comprehension for air force,Reading comprehension practice set, passages free pdf for air force,navy ssr paasage.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--<script src="mock.js"></script>-->
  <style type="text/css">
    .main-div {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);

    }

    .inner-div {
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;

    }


    .btns {
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #0000ff;
      border: none;
      border-radius: 9px;
      box-shadow: 0 5px 5px #999;
      margin-left: 6rem;
      width: 80px
    }

    .btns:hover {
      background-color: #000066
    }



    .shows {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      text-align: center;
      color: #000099;
    }

    .nexttest {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      text-align: center;
      color: #000099;
    }

    .nav-link {
      font-family: 'Noto Sans JP', sans-serif;

      font-weight: 700;
      font-size: 18px;
      margin-left: 1rem;
    }

    @media (min-width: 992px) and (max-width: 1160px) {
      .nav-link {
        margin-left: 0px;
      }

    }
      @media (min-width: 300px) and (max-width: 600px) {
       #answered{
         margin-bottom: 5px;
       }
     #unanswered{
       margin-bottom: 5px;
     }
    }
     .navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}
  </style>
</head>

<body>

  <div class="container-fluid p-5 starting " style="background-image: url('study.jpg')">
    <div class="row">
      <div class="col-sm text-center">
        <h2 style=" font-family: 'Noto Sans JP', sans-serif; color:  #ff9900;font-weight: 800;font-size: 40px">Passage Practice </h2>
        <p style="font-family: 'Noto Sans JP', sans-serif; color:  #ff9900;font-weight: 800;font-size: 20px">Practice
          makes perfect</p>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:#00004d">
    <a class="navbar-brand" href="#"
      style="font-family: 'Noto Sans JP', sans-serif; color:  #ff9900;font-weight: 800;font-size: 20px">Defence
      Champions </a>
    <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
      <ul class="navbar-nav d-flex ">
        <li class="nav-item active">
          <a class="nav-link text-white " href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/liveclasses">Live classes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/Mock">Mock Tests </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/notes">Notes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contactus">Contact Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Log In </a>
        </li>
      </ul>
    </div>
  </nav>



  <h4 class="mt-3 text-center" style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 25px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff"> Passage For Navy SSR Agniveer(1/2/2023)</h4>

  <div class=" float-right mt-3">
    <p id="timer"
      style=" font-family: 'Noto Sans JP', sans-serif; color:#ff0000;font-weight: 700;font-size: 20px;margin-right: 20px">
    </p>
    <p id="out" class="text-danger mb-2"
      style=" font-family: 'Noto Sans JP', sans-serif; color: #267326;font-weight: 700;font-size: 20px;margin-right: 20px">
    </p>
  </div><br>
  <div class="container-fluid mt-5">
    <div class=" utter row d-flex  " style="width: 84%">
      <div class="col-sm-4 "
        style="background-color: #00ffff; font-family: 'Noto Sans JP', sans-serif; font-weight: 700;font-size: 20px;"
        id="answered">Answered </div>
      <div class="col-sm-4" id="unanswered"
        style="background-color:#e60000; font-family: 'Noto Sans JP', sans-serif; font-weight: 700;font-size: 20px">
        Un-answered </div>
      <div class="col-sm-4" id="markreview"
        style="background-color: #005ce6; font-family: 'Noto Sans JP', sans-serif; font-weight: 700;font-size: 20px">
        Mark For Review </div>
    </div>
  </div>

  <div class="mt-3">
    <table border="1" width="70" height="30" id="mytable">
      <tr>
        <td id="ek" onclick="jump(0)" style="padding-right: 100px">1</td>
        <td id="do" onclick="jump(1)" style="padding-right: 100px">2</td>
      </tr>
      <tr>
        <td id="teen" onclick="jump(2)">3</td>
        <td onclick="jump(3)">4</td>
      </tr>
      <tr>
        <td onclick="jump(4)">5</td>
        
      </tr>
      
    </table>
  </div>


  <div class=" main-div container p-3" style="margin-top:6rem">
    <div class="inner-div">
      <h4 class="questions"> Questions Comes here </h4>
      
      <ul>
        <li> <input type="radio" name="answer" id="ans1" class="answer">
          <label for="ans1" id="option1">Answer options </label>
        </li>
        <li>
          <input type="radio" name="answer" id="ans2" class="answer">
          <label for="ans2" id="option2">Answer options </label>
        </li>

        <li> <input type="radio" name="answer" id="ans3" class="answer">
          <label for="ans3" id="option3">Answer options </label>
        </li>

        <li><input type="radio" name="answer" id="ans4" class="answer">
          <label for="ans4" id="option4">Answer options </label>
        </li>
      </ul>
      <button id="submit" class="text-white bg-success"> Save and Next </button>
      <!--<button class="text-white bg-danger" id="preview" onclick="Preview()">Previous Question</button>-->
      <button class="text-white bg-primary" onclick="markre()">Mark for Review</button>
      <button class="text-white bg-danger" onclick="safaya()">Clear</button>
    </div>
    <button class=" btns text-white  " id="start" onclick="timestart()">Start</button>
  </div>
  
  <div class="shows mt-3 container p-3 mb-3"> <br>
    <!--<p id="loadings"></p> -->
    <h5 id="showscore"></h5><br>
    <h5 id="wrongans"></h5>
  </div>

  <div class="nexttest mt-5 container p-3 mb-3"> <br>
    <h4 class="mt-2 text-center" style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 23px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff"> Daily Quiz</h4>
    <button class="Raga btn-primary  mt-3"
      style="border:2px solid #00004d;width: 250px;font-family: Arial,Helvetica,sans-serif; font-size:23px"> <strong> <a
          class="text-white" style="text-decoration: none" href="/Mock">Daily Quiz Test</a></strong></button>
  </div>
  <div class="mt-4 mb-5 text-center" style="font-size: 25px">
    <strong class="text-danger ">NOTE:</strong><span class="text-primary"><b>Answer Key Also Provide In Telegram and Whatsapp Group Also</b></span>
  </div>

  <script type="text/javascript">
    const quiz = [{
      question: " The work, which Gandhi had taken up, was not only achievement of political freedom but also the establishment of a social order based on truth and non-violence, unity and peace, equality and universal brotherhood and maximum freedom for all. This unfinished part of his experiment was perhaps even more difficult to achieve than the achievement of political freedom. In the political struggle, the fight was against a foreign power and all one could do, was either join it or wish it success and give it their moral support. In inaugurating the communal order of his pattern, there was a sparkling possibility of a skirmish arising between groups and classes of our own people. Experience shows that man values his possessions even more than his life because, in the former, he sees the means for perpetuation and survival of his descendants even after his body is reduced to ashes. A new order cannot be proven without fundamentally changing the mind and attitude of men towards property and, at some stage or the other, the ―haves‖ have to yield place to the have-nots. We have seen, in our time, attempts to achieve a kind of egalitarian society and the picture of it after it was achieved. But this was done, by and large, through the use of physical force. In the ultimate analysis, it is difficult, if not impossible, to say that the instinct to possess has been rooted out or that, it will not reappear in an even worse form under s different guise. It may even be that like a gas kept confined within containers under great pressure, or water held by a big dam, once a barrier brakes, the reaction will one day sweep back with a violence equal in extent and intensity to what was used to establish and maintain the outward egalitarian form. This obligatory equality contains in its dearest the seed of its own destruction. The root cause of class conflict is possessiveness or the acquisitive instinct. So Long as the ideal that is to be achieved is one of securing the maximum material satisfaction, possessiveness is neither suppresses nor eliminated but grows on what it feeds. Nor does it cease to be such it is possessiveness, still whether it is confined to only a few or is shared by many.  \n  Q 1. According to the passage, which was the unfinished part of Gandhi‘s experiment? ",
      a: "Educating people to avoid class conflict",
      b: "Achieving total political freedom for the country. ",          
      c: "Establishment of an egalitarian society.",
      d: "Radically changing the mind and attitude of men towards truth and non-violence   ",
      ans: "ans3",
      stuAns: null,
    },
    {
      question: "The work, which Gandhi had taken up, was not only achievement of political freedom but also the establishment of a social order based on truth and non-violence, unity and peace, equality and universal brotherhood and maximum freedom for all. This unfinished part of his experiment was perhaps even more difficult to achieve than the achievement of political freedom. In the political struggle, the fight was against a foreign power and all one could do, was either join it or wish it success and give it their moral support. In inaugurating the communal order of his pattern, there was a sparkling possibility of a skirmish arising between groups and classes of our own people. Experience shows that man values his possessions even more than his life because, in the former, he sees the means for perpetuation and survival of his descendants even after his body is reduced to ashes. A new order cannot be proven without fundamentally changing the mind and attitude of men towards property and, at some stage or the other, the ―haves‖ have to yield place to the have-nots. We have seen, in our time, attempts to achieve a kind of egalitarian society and the picture of it after it was achieved. But this was done, by and large, through the use of physical force. In the ultimate analysis, it is difficult, if not impossible, to say that the instinct to possess has been rooted out or that, it will not reappear in an even worse form under s different guise. It may even be that like a gas kept confined within containers under great pressure, or water held by a big dam, once a barrier brakes, the reaction will one day sweep back with a violence equal in extent and intensity to what was used to establish and maintain the outward egalitarian form. This obligatory equality contains in its dearest the seed of its own destruction. The root cause of class conflict is possessiveness or the acquisitive instinct. So Long as the ideal that is to be achieved is one of securing the maximum material satisfaction, possessiveness is neither suppresses nor eliminated but grows on what it feeds. Nor does it cease to be such it is possessiveness, still whether it is confined to only a few or is shared by many.  \n  Q 2. According to the passage, true egalitarianism will last if",
      a: "It is trust upon people. ",
      b: " It is based on truth and non-violence.",
      c: "People inculcate spiritual values along with material values.",
      d: "Haves and have-nots live together peacefully.  ",
      ans: "ans2",
      stuAns: null
    },
    {
      question: " The work, which Gandhi had taken up, was not only achievement of political freedom but also the establishment of a social order based on truth and non-violence, unity and peace, equality and universal brotherhood and maximum freedom for all. This unfinished part of his experiment was perhaps even more difficult to achieve than the achievement of political freedom. In the political struggle, the fight was against a foreign power and all one could do, was either join it or wish it success and give it their moral support. In inaugurating the communal order of his pattern, there was a sparkling possibility of a skirmish arising between groups and classes of our own people. Experience shows that man values his possessions even more than his life because, in the former, he sees the means for perpetuation and survival of his descendants even after his body is reduced to ashes. A new order cannot be proven without fundamentally changing the mind and attitude of men towards property and, at some stage or the other, the ―haves‖ have to yield place to the have-nots. We have seen, in our time, attempts to achieve a kind of egalitarian society and the picture of it after it was achieved. But this was done, by and large, through the use of physical force. In the ultimate analysis, it is difficult, if not impossible, to say that the instinct to possess has been rooted out or that, it will not reappear in an even worse form under s different guise. It may even be that like a gas kept confined within containers under great pressure, or water held by a big dam, once a barrier brakes, the reaction will one day sweep back with a violence equal in extent and intensity to what was used to establish and maintain the outward egalitarian form. This obligatory equality contains in its dearest the seed of its own destruction. The root cause of class conflict is possessiveness or the acquisitive instinct. So Long as the ideal that is to be achieved is one of securing the maximum material satisfaction, possessiveness is neither suppresses nor eliminated but grows on what it feeds. Nor does it cease to be such it is possessiveness, still whether it is confined to only a few or is shared by many.  \n  Q 3. According to the passage, the root cause of class conflict is.  ?",
      a: " The paradise of material satisfaction ",
      b: " Dominant inherent acquisitive instinct in man",
      c: "Exploitation of the have-nots by the haves ",
      d: "A social order where unprivileged are not part of the establishmen  ",
      ans: "ans2",
      stuAns: null
    },
    {
      question: "The work, which Gandhi had taken up, was not only achievement of political freedom but also the establishment of a social order based on truth and non-violence, unity and peace, equality and universal brotherhood and maximum freedom for all. This unfinished part of his experiment was perhaps even more difficult to achieve than the achievement of political freedom. In the political struggle, the fight was against a foreign power and all one could do, was either join it or wish it success and give it their moral support. In inaugurating the communal order of his pattern, there was a sparkling possibility of a skirmish arising between groups and classes of our own people. Experience shows that man values his possessions even more than his life because, in the former, he sees the means for perpetuation and survival of his descendants even after his body is reduced to ashes. A new order cannot be proven without fundamentally changing the mind and attitude of men towards property and, at some stage or the other, the ―haves‖ have to yield place to the have-nots. We have seen, in our time, attempts to achieve a kind of egalitarian society and the picture of it after it was achieved. But this was done, by and large, through the use of physical force. In the ultimate analysis, it is difficult, if not impossible, to say that the instinct to possess has been rooted out or that, it will not reappear in an even worse form under s different guise. It may even be that like a gas kept confined within containers under great pressure, or water held by a big dam, once a barrier brakes, the reaction will one day sweep back with a violence equal in extent and intensity to what was used to establish and maintain the outward egalitarian form. This obligatory equality contains in its dearest the seed of its own destruction. The root cause of class conflict is possessiveness or the acquisitive instinct. So Long as the ideal that is to be achieved is one of securing the maximum material satisfaction, possessiveness is neither suppresses nor eliminated but grows on what it feeds. Nor does it cease to be such it is possessiveness, still whether it is confined to only a few or is shared by many.  \n  Q 4. According to the passage, which of the following statements is ―true?  ",
      a: "A social order based on truth and non-violence alone can help the achievement of political freedom",
      b: "In establishing the social order of Gandhi’s pattern, the possibility of a conflict between different classes of society hardly exists.",
      c: "It is difficult to change the mind and attitude of men towards property",
      d: "In an egalitarian society, material satisfaction can be enjoyed only at the expense of others",
      ans: "ans3",
      stuAns: null
    },
     {
      question: "The work, which Gandhi had taken up, was not only achievement of political freedom but also the establishment of a social order based on truth and non-violence, unity and peace, equality and universal brotherhood and maximum freedom for all. This unfinished part of his experiment was perhaps even more difficult to achieve than the achievement of political freedom. In the political struggle, the fight was against a foreign power and all one could do, was either join it or wish it success and give it their moral support. In inaugurating the communal order of his pattern, there was a sparkling possibility of a skirmish arising between groups and classes of our own people. Experience shows that man values his possessions even more than his life because, in the former, he sees the means for perpetuation and survival of his descendants even after his body is reduced to ashes. A new order cannot be proven without fundamentally changing the mind and attitude of men towards property and, at some stage or the other, the ―haves‖ have to yield place to the have-nots. We have seen, in our time, attempts to achieve a kind of egalitarian society and the picture of it after it was achieved. But this was done, by and large, through the use of physical force. In the ultimate analysis, it is difficult, if not impossible, to say that the instinct to possess has been rooted out or that, it will not reappear in an even worse form under s different guise. It may even be that like a gas kept confined within containers under great pressure, or water held by a big dam, once a barrier brakes, the reaction will one day sweep back with a violence equal in extent and intensity to what was used to establish and maintain the outward egalitarian form. This obligatory equality contains in its dearest the seed of its own destruction. The root cause of class conflict is possessiveness or the acquisitive instinct. So Long as the ideal that is to be achieved is one of securing the maximum material satisfaction, possessiveness is neither suppresses nor eliminated but grows on what it feeds. Nor does it cease to be such it is possessiveness, still whether it is confined to only a few or is shared by many.  \n  Q 5. Synonym of ‘Egalitarian’",
      a: "Violence",
      b: "Equal rights ",
      c: "Freedom",
      d: "Social values",
      ans: "ans2",
      stuAns: null
    }
    ]

    let totalQ = 5;
    let questioncount = -1;
    let score = 0;
    let count = 0;
    let terminate = totalQ;
    let m = 0;
    let image = 0;
    const Question = document.querySelector('.questions');
    const Option1 = document.querySelector('#option1');
    const Option2 = document.querySelector('#option2');
    const Option3 = document.querySelector('#option3');
    const Option4 = document.querySelector('#option4');
    const Submit = document.querySelector('#submit');
    const ANS = document.querySelectorAll('.answer');
    const show = document.querySelector('#showscore');
     const Wrongans = document.querySelector('#wrongans');
    const x = document.querySelector('#mytable');
    /const previews=document.querySelector('#preview');/
    const load = document.querySelector('#loadngs');
    const answereded = document.querySelector('#answered');
    const unans = document.querySelector('#unanswered');
    const markes = document.querySelector('#markreview');
    const one = document.querySelector('#ek');
    const two = document.querySelector('#do');
    const three = document.querySelector('#teen');
    const ma = document.querySelector('#mark');
    const st = document.getElementById('start');
    const inner = document.querySelector('.inner-div');
    if (questioncount === -1) {
      inner.style.display = 'none';
    }
    function add_img() { 
	  var img = document.createElement('img'); 
    img.src = ''; // image aayegi yha 
	  inner.appendChild(img);
    }
    const loadquestion = () => {
    if(questioncount==7)
    {
        add_img(questioncount);
    }
      const questionlist = quiz[questioncount];
      Question.innerText = questionlist.question;
      Option1.innerText = questionlist.a;
      Option2.innerText = questionlist.b;
      Option3.innerText = questionlist.c;
      Option4.innerText = questionlist.d;
      if (questioncount != -1) {
        st.style.display = 'none';
      }
    }
    const getcheckans = () => {
      let ans;
      ANS.forEach((currel) => {
        if (currel.checked) {
          ans = currel.id;
        }
      });
      return ans;
    };

    function answered() {
      ANS.forEach((currentlement) => {
        if (currentlement.checked) {
          count++;
          answereded.innerHTML = `Answered Questions is ${count}`;
          terminate = totalQ - count;
          unans.innerHTML = `Un-answered Questions is ${terminate}`;
        }

      })
    }


    function jump(item) {
      if(questioncount==7)
      {
        add_img(questioncount);
      }
      questioncount = item;
      const questionlist = quiz[item];
      Question.innerText = questionlist.question;
      Option1.innerText = questionlist.a;
      Option2.innerText = questionlist.b;
      Option3.innerText = questionlist.c;
      Option4.innerText = questionlist.d;
      if (questionlist.stuAns != null) {
        document.getElementById(questionlist.stuAns).checked = true;
      }
      else {
        deselectAll();
      }

    }

    function markre() {
      deselectAll();
      console.log("Count " + count);
      m++;
      markes.innerHTML = `Marked For Review ${m}`;
      if (questioncount < quiz.length) {
        for (i = 0; i < x.rows.length; i++) {
          var objCells = x.rows.item(i).cells;
          for (var j = 0; j < objCells.length; j++) {
            let k = parseInt(objCells.item(j).innerHTML) - 1;
            if (k === questioncount) {
              if (objCells.item(j).getElementsByTagName('img').length > 0 && quiz[questioncount].stuAns === null) {
                m--;
                markes.innerHTML = `Marked For Review ${m}`;
              }
              if (objCells.item(j).getElementsByTagName('img').length > 0 && quiz[questioncount].stuAns !== null) {
                quiz[questioncount].stuAns = null;
                count--;
                terminate = totalQ - count;
                answereded.innerHTML = `Answered Questions is ${count}`;
                unans.innerHTML = `Un-answered Questions is ${terminate}`;
              }
              objCells.item(j).innerHTML = ` ${k + 1}<img class="ml-2" style=" position:absolute" id="qm" src="Qmark.png"  width="25" height="20">`;
              image++;

            }
          }

        }
      }


      questioncount++;

      if (questioncount < quiz.length) {
        loadquestion();
        if (quiz[questioncount].stuAns != null) {
          document.getElementById(quiz[questioncount].stuAns).checked = true;
        }
      }
      else {
        questioncount--;
        alert("This is last question No more questions");
      }
    }

    const deselectAll = () => {
      ANS.forEach((currentel) => {
        currentel.checked = false;
      });
    }

    function safaya() {
      deselectAll();
      if (quiz[questioncount].stuAns !== null) {
        count--;
        terminate = totalQ - count;
        answereded.innerHTML = `Answered Questions is ${count}`;
        unans.innerHTML = `Un-answered Questions is ${terminate}`;
        if (questioncount < quiz.length) {
          for (i = 0; i < x.rows.length; i++) {
            var objCells = x.rows.item(i).cells;
            for (var j = 0; j < objCells.length; j++) {
              let k = parseInt(objCells.item(j).innerHTML) - 1;
              if (k === questioncount) {
                objCells.item(j).innerHTML = `${k + 1}`;
              }
            }
          }
        }
      }
      quiz[questioncount].stuAns = null;
    }

    Submit.addEventListener('click', () => {
      console.log("length ", quiz.length);
      let checkedans = getcheckans();
      if (checkedans != null) {
        if (questioncount < quiz.length) {
          for (i = 0; i < x.rows.length; i++) {
            var objCells = x.rows.item(i).cells;
            for (var j = 0; j < objCells.length; j++) {
              let k = parseInt(objCells.item(j).innerHTML) - 1;
              if (k === questioncount) {
                if (objCells.item(j).getElementsByTagName('img').length > 0 && quiz[questioncount].stuAns === null) {
                  m--;
                  markes.innerHTML = `Marked For Review ${m}`;

                }
                objCells.item(j).innerHTML = `${k + 1}<img class="ml-2" style=" position:absolute" src="rightclick.png"  width="25" height="20">`;
              }
            }
          }
        }
        if (quiz[questioncount].stuAns === null) {
          answered();
        }
        quiz[questioncount].stuAns = checkedans;
      }
      questioncount++;



      if (questioncount < quiz.length) {
        loadquestion();
      }

      if (questioncount === quiz.length) {
        questioncount--;
        alert("This is last question No more questions");
      }

      if (quiz[questioncount].stuAns != null) {
        document.getElementById(quiz[questioncount].stuAns).checked = true;
      }
      else {
        deselectAll();
      }
    });

    function timestart() {
      answereded.innerHTML = `Answered Questions is ${count}`;
      unans.innerHTML = `Un-answered Questions is ${terminate}`;
      markes.innerHTML = `Marked For Review ${m}`;

      inner.style.display = 'initial';
      questioncount = 0;
      loadquestion();
      let timer = 5* 60;
      let i = null;
      let p = document.querySelector('#timer');
      let outs = document.querySelector('#out');
      function updatetime() {
        if (timer > -1) {

          let minute = Math.floor(timer / 60);
          let second = timer % 60;
          p.innerText = `Time Remaining is : ${minute}minutes:${second}seconds`;
          timer--;

        } else {
          let k=0;
          const wrongansarray=[];
          inner.style.display = 'none';
          clearInterval(i);
          outs.innerText = "Time out";
          for (let i = 0; i < quiz.length; i++) {
            if (quiz[i].stuAns === quiz[i].ans) {
              score++;
            }
            else if(quiz[i].stuAns!==null){
              score=score-0.25;
               wrongansarray[k++]=i+1;
            }
           
          }
           Wrongans.innerHTML = `Wrong Answers Are ::  ${wrongansarray}<br> `;
          show.innerHTML = `You scored ::  ${score}/${quiz.length}<br> 
      <button class="btn bg-primary mt-3 text-white" onclick="location.reload()">Resume</button> `;


        }
      }
      i = setInterval(updatetime, 1000);
    }
  </script>
</body>

</html>