
<!DOCTYPE html>
<html>

<head>
 
<script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>  
  <title>Air Force XY Group Passages Practice </title>
  <meta charset="utf-8">
   <meta name="viewport" content="width=device-width ">
  <link href="https://defencechampions.com">
   <meta name="description" content="Air Force XY Group , Indian Navy SSR , Indian Coast Guard  Unseen Passage, Reading Comprehension with solution....">
    <meta name="keywords" content=" passage for Air Force XY group, comprehension for air force,Reading comprehension practice set, passages free pdf for air force,navy ssr paasage.">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
    crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!--<script src="mock.js"></script>-->
  <style type="text/css">
    .main-div {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);

    }

    .inner-div {
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;

    }


    .btns {
      font-size: 20px;
      text-align: center;
      cursor: pointer;
      outline: none;
      color: #fff;
      background-color: #0000ff;
      border: none;
      border-radius: 9px;
      box-shadow: 0 5px 5px #999;
      margin-left: 6rem;
      width: 80px
    }

    .btns:hover {
      background-color: #000066
    }



    .shows {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      text-align: center;
      color: #000099;
    }

    .nexttest {
      background-color: #fff;
      border-radius: 1rem;
      box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
      box-sizing: border-box;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      text-align: center;
      color: #000099;
    }

    .nav-link {
      font-family: 'Noto Sans JP', sans-serif;

      font-weight: 700;
      font-size: 18px;
      margin-left: 1rem;
    }

    @media (min-width: 992px) and (max-width: 1160px) {
      .nav-link {
        margin-left: 0px;
      }

    }
      @media (min-width: 300px) and (max-width: 600px) {
       #answered{
         margin-bottom: 5px;
       }
     #unanswered{
       margin-bottom: 5px;
     }
    }
     .navbar-light .navbar-toggler {
    color: rgb(234 222 222 / 50%);
    border-color: rgb(243 231 231 / 99%);
}

.home-update-box{
   border: 1px solid rgb(0 0 0/20%);
    padding: 15px 15px 0;
}
.home-update-box h3{
  font-size: 20px;
    padding: 0 0 15px;
    margin: 0 0 15px;
    border-bottom: 1px solid #0071dc;
}
.home-update-box ul{
      padding: 0;
    margin: 0 0 20px;
    height: 260px;
    overflow: auto;
}
.home-update-box ul li {
    position: relative;
    list-style: none;
    padding-left: 25px;
    margin: 0 0 15px;
}
.home-update-box ul li a{
   color: rgb(73, 71, 71);
   text-decoration: none;
}
.home-update-box ul li:before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 3px;
    background-image: url(check-circle.svg);
    filter: invert(40%) sepia(24%) saturate(1739%) hue-rotate(62deg) brightness(98%) contrast(95%);
}
  </style>
</head>

<body>

  <div class="container-fluid p-5 starting " style="background-image: url('study.jpg')">
    <div class="row">
      <div class="col-sm text-center">
        <h2 style=" font-family: 'Noto Sans JP', sans-serif; color:  #ff9900;font-weight: 800;font-size: 40px">Passage Practice </h2>
        <p style="font-family: 'Noto Sans JP', sans-serif; color:  #ff9900;font-weight: 800;font-size: 20px">Practice
          makes perfect</p>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:#00004d">
    <a class="navbar-brand" href="#"
      style="font-family: 'Noto Sans JP', sans-serif; color:  #ff9900;font-weight: 800;font-size: 20px">Defence
      Champions </a>
    <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse"
      data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
      <ul class="navbar-nav d-flex ">
        <li class="nav-item active">
          <a class="nav-link text-white " href="/">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="/liveclasses">Live classes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/Mock">Mock Tests </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/notes">Notes </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/contactus">Contact Us </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">Log In </a>
        </li>
      </ul>
    </div>
  </nav>



  <h4 class="mt-3 text-center" style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 25px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff"> Passage For Air Force XY Group || Indian Navy SSR (10/04/2023)</h4>

  <div class=" float-right mt-3">
    <p id="timer"
      style=" font-family: 'Noto Sans JP', sans-serif; color:#ff0000;font-weight: 700;font-size: 20px;margin-right: 20px">
    </p>
    <p id="out" class="text-danger mb-2"
      style=" font-family: 'Noto Sans JP', sans-serif; color: #267326;font-weight: 700;font-size: 20px;margin-right: 20px">
    </p>
  </div><br>
  <div class="container-fluid mt-5">
    <div class=" utter row d-flex  " style="width: 84%">
      <div class="col-sm-4 "
        style="background-color: #00ffff; font-family: 'Noto Sans JP', sans-serif; font-weight: 700;font-size: 20px;"
        id="answered">Answered </div>
      <div class="col-sm-4" id="unanswered"
        style="background-color:#e60000; font-family: 'Noto Sans JP', sans-serif; font-weight: 700;font-size: 20px">
        Un-answered </div>
      <div class="col-sm-4" id="markreview"
        style="background-color: #005ce6; font-family: 'Noto Sans JP', sans-serif; font-weight: 700;font-size: 20px">
        Mark For Review </div>
    </div>
  </div>

  <div class="mt-3">
    <table border="1" width="70" height="30" id="mytable">
      <tr>
        <td id="ek" onclick="jump(0)" style="padding-right: 100px">1</td>
        <td id="do" onclick="jump(1)" style="padding-right: 100px">2</td>
      </tr>
      <tr>
        <td id="teen" onclick="jump(2)">3</td>
        <td onclick="jump(3)">4</td>
      </tr>
      <tr>
        <td onclick="jump(4)">5</td>
        
      </tr>
      
    </table>
  </div>


  <div class=" main-div container p-3" style="margin-top:6rem">
    <div class="inner-div">
      <h4 class="questions"> Questions Comes here </h4>
      
      <ul>
        <li> <input type="radio" name="answer" id="ans1" class="answer">
          <label for="ans1" id="option1">Answer options </label>
        </li>
        <li>
          <input type="radio" name="answer" id="ans2" class="answer">
          <label for="ans2" id="option2">Answer options </label>
        </li>

        <li> <input type="radio" name="answer" id="ans3" class="answer">
          <label for="ans3" id="option3">Answer options </label>
        </li>

        <li><input type="radio" name="answer" id="ans4" class="answer">
          <label for="ans4" id="option4">Answer options </label>
        </li>
      </ul>
      <button id="submit" class="text-white bg-success"> Save and Next </button>
      <!--<button class="text-white bg-danger" id="preview" onclick="Preview()">Previous Question</button>-->
      <button class="text-white bg-primary" onclick="markre()">Mark for Review</button>
      <button class="text-white bg-danger" onclick="safaya()">Clear</button>
    </div>
    <button class=" btns text-white  " id="start" onclick="timestart()">Start</button>
  </div>
  
  <div class="shows mt-3 container p-3 mb-3"> <br>
    <!--<p id="loadings"></p> -->
    <h5 id="showscore"></h5><br>
    <h5 id="wrongans"></h5>
  </div>

  <div class="nexttest mt-5 container p-3 mb-3"> <br>
    <h4 class="mt-2 text-center" style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 23px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff"> Daily Quiz</h4>
    <button class="Raga btn-primary  mt-3"
      style="border:2px solid #00004d;width: 250px;font-family: Arial,Helvetica,sans-serif; font-size:23px"> <strong> <a
          class="text-white" style="text-decoration: none" href="/https://play.google.com/store/apps/details?id=com.defencechampions.in">Daily Quiz Test</a></strong></button>
  </div>
    <div class="nexttest mt-5 container p-3 mb-3"> <br>
    <h4 class="mt-2 text-center" style=" color: blue; font-family: Arial,Helvetica,sans-serif; font-size: 23px; font-weight: 800; 
    text-shadow: 2px 2px 8px #00e1ff"> Passages</h4>
    <div class="container-fluid mt-5 ">

 <div class="home-update-box">
 <h3>Daily Passages (Reading Comprehensions)</h3>
 <ul>
  <li>  <a href="https://dinesh-maker.github.io/PDFS/10032023passage.pdf" target="_blank" rel="noopener noreferrer">10/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/11%2003%202023%20Passage.pdf" target="_blank" rel="noopener noreferrer">11/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/13%2003%202023%20passage.pdf" target="_blank" rel="noopener noreferrer">13/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/14032023passage.pdf" target="_blank" rel="noopener noreferrer">14/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/15032023%20passage.pdf" target="_blank" rel="noopener noreferrer">15/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/16032023passage.pdf" target="_blank" rel="noopener noreferrer">16/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/17032023passage.pdf" target="_blank" rel="noopener noreferrer">17/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
  <li>  <a href="https://dinesh-maker.github.io/PDFS/20032023passage.pdf" target="_blank" rel="noopener noreferrer">20/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
  <li>  <a href="https://dinesh-maker.github.io/PDFS/22032023passage.pdf" target="_blank" rel="noopener noreferrer">21/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
<li>  <a href="https://dinesh-maker.github.io/PDFS/22032023passagenew.pdf" target="_blank" rel="noopener noreferrer">22/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/23032023passage.pdf" target="_blank" rel="noopener noreferrer">23/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/24032023passage.pdf" target="_blank" rel="noopener noreferrer">24/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/25032023passage.pdf" target="_blank" rel="noopener noreferrer">27/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/28032023passage.pdf" target="_blank" rel="noopener noreferrer">28/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
  <li>  <a href="https://dinesh-maker.github.io/PDFS/29032023passage.pdf" target="_blank" rel="noopener noreferrer">29/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/30032023passage.pdf" target="_blank" rel="noopener noreferrer">30/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 <li>  <a href="https://dinesh-maker.github.io/PDFS/31032023passage.pdf" target="_blank" rel="noopener noreferrer">31/03/2023 Passage For Air Force Agniveer XY & Indian Navy SSR </a></li>
 
 </ul>
 </div>

 </div>
  </div>
  <div class="mt-4 mb-5 text-center" style="font-size: 25px">
    <strong class="text-danger ">NOTE:</strong><span class="text-primary"><b>Answer Key Also Provide In Telegram and Whatsapp Group Also</b></span>
  </div>

  <script type="text/javascript">
    const quiz = [{
      question: "Guests who are keen to cruise the vast backwaters off Marine Drive and further into the sea would be able to do so in a week from the comfort of Sooryamshu, a double-decked solar tourist boat from the stable of the Kerala Shipping and Inland Navigation Corporation (KSINC). “This is possibly the first solar-powered tourist vessel in Kerala and the biggest of its kind in the State. The solar panels kept on the roof of the upper deck can be washed using automatic sprinklers installed alongside,” K.T. Chacko, chairman of KSINC, told the media on board the vessel on the agency’s tourist vessel operations, managing director R. Girija said its sister tourist vessels Sagara Rani I and Sagara Rani II were high in demand, most often operating four daily trips into the sea from Marine Drive. The ₹3.95-crore vessel that can carry up to 100 passengers was built at a yard in Sri Lanka and is among the few in Kochi whose safety and allied features are certified by the Indian Register of Shipping (IRS). It has a diesel generator to provide backup in case need arises. There is an air-conditioned conference hall-cum-DJ floor in the lower deck and a cafeteria-cum-dining area in the upper deck. There is also a lift to help differently abled and aged people to reach the upper deck and back, sources said. On the forthcoming vessels, Ms. Girija said a 150-passenger tourist vessel would be built. There are also plans to build a 500-tonne barge and to launch a 1,400-tonne barge which would be able to operate on the country’s coastal shipping route.\n Q 1. In Which state First Solar Ship is launched ",
      a: "Maharashtra ",
      b: "Kerala ",          
      c: "Karnatka ",
      d: "Gujarat ",
      ans: "ans2",
      stuAns: null,
    },
    {
      question: "Guests who are keen to cruise the vast backwaters off Marine Drive and further into the sea would be able to do so in a week from the comfort of Sooryamshu, a double-decked solar tourist boat from the stable of the Kerala Shipping and Inland Navigation Corporation (KSINC). “This is possibly the first solar-powered tourist vessel in Kerala and the biggest of its kind in the State. The solar panels kept on the roof of the upper deck can be washed using automatic sprinklers installed alongside,” K.T. Chacko, chairman of KSINC, told the media on board the vessel on the agency’s tourist vessel operations, managing director R. Girija said its sister tourist vessels Sagara Rani I and Sagara Rani II were high in demand, most often operating four daily trips into the sea from Marine Drive. The ₹3.95-crore vessel that can carry up to 100 passengers was built at a yard in Sri Lanka and is among the few in Kochi whose safety and allied features are certified by the Indian Register of Shipping (IRS). It has a diesel generator to provide backup in case need arises. There is an air-conditioned conference hall-cum-DJ floor in the lower deck and a cafeteria-cum-dining area in the upper deck. There is also a lift to help differently abled and aged people to reach the upper deck and back, sources said. On the forthcoming vessels, Ms. Girija said a 150-passenger tourist vessel would be built. There are also plans to build a 500-tonne barge and to launch a 1,400-tonne barge which would be able to operate on the country’s coastal shipping route.\n Q 2. ‘Sooryamshu’ Is a",
      a: "Vessel ",
      b: "Indian Navy Vessel",
      c: "Tourist Vessel",
      d: "It’s a Project   ",
      ans: "ans3",
      stuAns: null
    },
    {
      question: "Guests who are keen to cruise the vast backwaters off Marine Drive and further into the sea would be able to do so in a week from the comfort of Sooryamshu, a double-decked solar tourist boat from the stable of the Kerala Shipping and Inland Navigation Corporation (KSINC). “This is possibly the first solar-powered tourist vessel in Kerala and the biggest of its kind in the State. The solar panels kept on the roof of the upper deck can be washed using automatic sprinklers installed alongside,” K.T. Chacko, chairman of KSINC, told the media on board the vessel on the agency’s tourist vessel operations, managing director R. Girija said its sister tourist vessels Sagara Rani I and Sagara Rani II were high in demand, most often operating four daily trips into the sea from Marine Drive. The ₹3.95-crore vessel that can carry up to 100 passengers was built at a yard in Sri Lanka and is among the few in Kochi whose safety and allied features are certified by the Indian Register of Shipping (IRS). It has a diesel generator to provide backup in case need arises. There is an air-conditioned conference hall-cum-DJ floor in the lower deck and a cafeteria-cum-dining area in the upper deck. There is also a lift to help differently abled and aged people to reach the upper deck and back, sources said. On the forthcoming vessels, Ms. Girija said a 150-passenger tourist vessel would be built. There are also plans to build a 500-tonne barge and to launch a 1,400-tonne barge which would be able to operate on the country’s coastal shipping route.\n Q 3. How much capacity of this Vessel ",
      a: "100 ",
      b: "150 ",
      c: "130",
      d: "200",
      ans: "ans1",
      stuAns: null
    },
    {
      question: "Guests who are keen to cruise the vast backwaters off Marine Drive and further into the sea would be able to do so in a week from the comfort of Sooryamshu, a double-decked solar tourist boat from the stable of the Kerala Shipping and Inland Navigation Corporation (KSINC). “This is possibly the first solar-powered tourist vessel in Kerala and the biggest of its kind in the State. The solar panels kept on the roof of the upper deck can be washed using automatic sprinklers installed alongside,” K.T. Chacko, chairman of KSINC, told the media on board the vessel on the agency’s tourist vessel operations, managing director R. Girija said its sister tourist vessels Sagara Rani I and Sagara Rani II were high in demand, most often operating four daily trips into the sea from Marine Drive. The ₹3.95-crore vessel that can carry up to 100 passengers was built at a yard in Sri Lanka and is among the few in Kochi whose safety and allied features are certified by the Indian Register of Shipping (IRS). It has a diesel generator to provide backup in case need arises. There is an air-conditioned conference hall-cum-DJ floor in the lower deck and a cafeteria-cum-dining area in the upper deck. There is also a lift to help differently abled and aged people to reach the upper deck and back, sources said. On the forthcoming vessels, Ms. Girija said a 150-passenger tourist vessel would be built. There are also plans to build a 500-tonne barge and to launch a 1,400-tonne barge which would be able to operate on the country’s coastal shipping route.\n Q 4. ‘Cruise’ Mean ",
      a: "Innovation ",
      b: "Discover ",
      c: " Travel ",
      d: "Technology ",
      ans: "ans3",
      stuAns: null
    },
     {
      question: "Guests who are keen to cruise the vast backwaters off Marine Drive and further into the sea would be able to do so in a week from the comfort of Sooryamshu, a double-decked solar tourist boat from the stable of the Kerala Shipping and Inland Navigation Corporation (KSINC). “This is possibly the first solar-powered tourist vessel in Kerala and the biggest of its kind in the State. The solar panels kept on the roof of the upper deck can be washed using automatic sprinklers installed alongside,” K.T. Chacko, chairman of KSINC, told the media on board the vessel on the agency’s tourist vessel operations, managing director R. Girija said its sister tourist vessels Sagara Rani I and Sagara Rani II were high in demand, most often operating four daily trips into the sea from Marine Drive. The ₹3.95-crore vessel that can carry up to 100 passengers was built at a yard in Sri Lanka and is among the few in Kochi whose safety and allied features are certified by the Indian Register of Shipping (IRS). It has a diesel generator to provide backup in case need arises. There is an air-conditioned conference hall-cum-DJ floor in the lower deck and a cafeteria-cum-dining area in the upper deck. There is also a lift to help differently abled and aged people to reach the upper deck and back, sources said. On the forthcoming vessels, Ms. Girija said a 150-passenger tourist vessel would be built. There are also plans to build a 500-tonne barge and to launch a 1,400-tonne barge which would be able to operate on the country’s coastal shipping route.\n Q 5. What is the weight of This Barage ",
      a: "500 Tonne",
      b: "500kg ",
      c: "1400 Tonne ",
      d: "1400 kg  ",
      ans: "ans1",
      stuAns: null
    }
    ]

    let totalQ = 5;
    let questioncount = -1;
    let score = 0;
    let count = 0;
    let terminate = totalQ;
    let m = 0;
    let image = 0;
    const Question = document.querySelector('.questions');
    const Option1 = document.querySelector('#option1');
    const Option2 = document.querySelector('#option2');
    const Option3 = document.querySelector('#option3');
    const Option4 = document.querySelector('#option4');
    const Submit = document.querySelector('#submit');
    const ANS = document.querySelectorAll('.answer');
    const show = document.querySelector('#showscore');
     const Wrongans = document.querySelector('#wrongans');
    const x = document.querySelector('#mytable');
    /const previews=document.querySelector('#preview');/
    const load = document.querySelector('#loadngs');
    const answereded = document.querySelector('#answered');
    const unans = document.querySelector('#unanswered');
    const markes = document.querySelector('#markreview');
    const one = document.querySelector('#ek');
    const two = document.querySelector('#do');
    const three = document.querySelector('#teen');
    const ma = document.querySelector('#mark');
    const st = document.getElementById('start');
    const inner = document.querySelector('.inner-div');
    if (questioncount === -1) {
      inner.style.display = 'none';
    }
    function add_img() { 
	  var img = document.createElement('img'); 
    img.src = ''; // image aayegi yha 
	  inner.appendChild(img);
    }
    const loadquestion = () => {
    if(questioncount==7)
    {
        add_img(questioncount);
    }
      const questionlist = quiz[questioncount];
      Question.innerText = questionlist.question;
      Option1.innerText = questionlist.a;
      Option2.innerText = questionlist.b;
      Option3.innerText = questionlist.c;
      Option4.innerText = questionlist.d;
      if (questioncount != -1) {
        st.style.display = 'none';
      }
    }
    const getcheckans = () => {
      let ans;
      ANS.forEach((currel) => {
        if (currel.checked) {
          ans = currel.id;
        }
      });
      return ans;
    };

    function answered() {
      ANS.forEach((currentlement) => {
        if (currentlement.checked) {
          count++;
          answereded.innerHTML = `Answered Questions is ${count}`;
          terminate = totalQ - count;
          unans.innerHTML = `Un-answered Questions is ${terminate}`;
        }

      })
    }


    function jump(item) {
      if(questioncount==7)
      {
        add_img(questioncount);
      }
      questioncount = item;
      const questionlist = quiz[item];
      Question.innerText = questionlist.question;
      Option1.innerText = questionlist.a;
      Option2.innerText = questionlist.b;
      Option3.innerText = questionlist.c;
      Option4.innerText = questionlist.d;
      if (questionlist.stuAns != null) {
        document.getElementById(questionlist.stuAns).checked = true;
      }
      else {
        deselectAll();
      }

    }

    function markre() {
      deselectAll();
      console.log("Count " + count);
      m++;
      markes.innerHTML = `Marked For Review ${m}`;
      if (questioncount < quiz.length) {
        for (i = 0; i < x.rows.length; i++) {
          var objCells = x.rows.item(i).cells;
          for (var j = 0; j < objCells.length; j++) {
            let k = parseInt(objCells.item(j).innerHTML) - 1;
            if (k === questioncount) {
              if (objCells.item(j).getElementsByTagName('img').length > 0 && quiz[questioncount].stuAns === null) {
                m--;
                markes.innerHTML = `Marked For Review ${m}`;
              }
              if (objCells.item(j).getElementsByTagName('img').length > 0 && quiz[questioncount].stuAns !== null) {
                quiz[questioncount].stuAns = null;
                count--;
                terminate = totalQ - count;
                answereded.innerHTML = `Answered Questions is ${count}`;
                unans.innerHTML = `Un-answered Questions is ${terminate}`;
              }
              objCells.item(j).innerHTML = ` ${k + 1}<img class="ml-2" style=" position:absolute" id="qm" src="Qmark.png"  width="25" height="20">`;
              image++;

            }
          }

        }
      }


      questioncount++;

      if (questioncount < quiz.length) {
        loadquestion();
        if (quiz[questioncount].stuAns != null) {
          document.getElementById(quiz[questioncount].stuAns).checked = true;
        }
      }
      else {
        questioncount--;
        alert("This is last question No more questions");
      }
    }

    const deselectAll = () => {
      ANS.forEach((currentel) => {
        currentel.checked = false;
      });
    }

    function safaya() {
      deselectAll();
      if (quiz[questioncount].stuAns !== null) {
        count--;
        terminate = totalQ - count;
        answereded.innerHTML = `Answered Questions is ${count}`;
        unans.innerHTML = `Un-answered Questions is ${terminate}`;
        if (questioncount < quiz.length) {
          for (i = 0; i < x.rows.length; i++) {
            var objCells = x.rows.item(i).cells;
            for (var j = 0; j < objCells.length; j++) {
              let k = parseInt(objCells.item(j).innerHTML) - 1;
              if (k === questioncount) {
                objCells.item(j).innerHTML = `${k + 1}`;
              }
            }
          }
        }
      }
      quiz[questioncount].stuAns = null;
    }

    Submit.addEventListener('click', () => {
      console.log("length ", quiz.length);
      let checkedans = getcheckans();
      if (checkedans != null) {
        if (questioncount < quiz.length) {
          for (i = 0; i < x.rows.length; i++) {
            var objCells = x.rows.item(i).cells;
            for (var j = 0; j < objCells.length; j++) {
              let k = parseInt(objCells.item(j).innerHTML) - 1;
              if (k === questioncount) {
                if (objCells.item(j).getElementsByTagName('img').length > 0 && quiz[questioncount].stuAns === null) {
                  m--;
                  markes.innerHTML = `Marked For Review ${m}`;

                }
                objCells.item(j).innerHTML = `${k + 1}<img class="ml-2" style=" position:absolute" src="rightclick.png"  width="25" height="20">`;
              }
            }
          }
        }
        if (quiz[questioncount].stuAns === null) {
          answered();
        }
        quiz[questioncount].stuAns = checkedans;
      }
      questioncount++;



      if (questioncount < quiz.length) {
        loadquestion();
      }

      if (questioncount === quiz.length) {
        questioncount--;
        alert("This is last question No more questions");
      }

      if (quiz[questioncount].stuAns != null) {
        document.getElementById(quiz[questioncount].stuAns).checked = true;
      }
      else {
        deselectAll();
      }
    });

    function timestart() {
      answereded.innerHTML = `Answered Questions is ${count}`;
      unans.innerHTML = `Un-answered Questions is ${terminate}`;
      markes.innerHTML = `Marked For Review ${m}`;

      inner.style.display = 'initial';
      questioncount = 0;
      loadquestion();
      let timer = 5* 60;
      let i = null;
      let p = document.querySelector('#timer');
      let outs = document.querySelector('#out');
      function updatetime() {
        if (timer > -1) {

          let minute = Math.floor(timer / 60);
          let second = timer % 60;
          p.innerText = `Time Remaining is : ${minute}minutes:${second}seconds`;
          timer--;

        } else {
          let k=0;
          const wrongansarray=[];
          inner.style.display = 'none';
          clearInterval(i);
          outs.innerText = "Time out";
          for (let i = 0; i < quiz.length; i++) {
            if (quiz[i].stuAns === quiz[i].ans) {
              score++;
            }
            else if(quiz[i].stuAns!==null){
              score=score-0.25;
               wrongansarray[k++]=i+1;
            }
           
          }
           Wrongans.innerHTML = `Wrong Answers Are ::  ${wrongansarray}<br> `;
          show.innerHTML = `You scored ::  ${score}/${quiz.length}<br> 
      <button class="btn bg-primary mt-3 text-white" onclick="location.reload()">Resume</button> `;


        }
      }
      i = setInterval(updatetime, 1000);
    }
  </script>
</body>

</html>