<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>

     <title><b>Indian Air Force XY Group Physical Test | Navy AA,SSR Physical</b></title>
  <link href="https://defencechampions.com">
    <meta name="description" content="Indian Air Force XY Group Physical Practice कैसे करे?, Running Time पर कैसे पूरी करे?, Indian Navy Physical Practice कैसे करे?, PFT kya hota hai?">
  <meta name="keywords" content="navy physical,XY Group Physical ,air force x y group physical eligibility, Indian Air force running time,pft kya hota hai?, Indian Navy AA,SSR Physical Test,navy fitness test">
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
<style>
   #timer1{
    font-size: 20px;
    font-weight: 800;
  }
  #start1{
    border-color:2px solid green; 
    background-color: green; 
    color:white;
    padding: 5px 20px;
  }
  #start1:hover{
    background-color:  #2eb82e;
  }
  
  #stop1{
     border-color:2px solid red; 
    background-color:red  ; 
    color:white;
    padding: 5px 20px;
    margin-left: 5px;
  }
   #stop1:hover{
    background-color:  #e60000;
  }

#timer2{
    font-size: 20px;
    font-weight: 800;
  }
  #start2{
    border-color:2px solid green; 
    background-color: green; 
    color:white;
    padding: 5px 20px;
  }
  #start2:hover{
    background-color:  #2eb82e;
  }
  
  #stop2{
     border-color:2px solid red; 
    background-color:red  ; 
    color:white;
    padding: 5px 20px;
    margin-left: 5px;
  }
   #stop2:hover{
    background-color:  #e60000;
  }

  
  #timer3{
    font-size: 20px;
    font-weight: 800;
  }
  #start3{
    border-color:2px solid green; 
    background-color: green; 
    color:white;
    padding: 5px 20px;
    
  }
  #start3:hover{
    background-color:  #2eb82e;
  }
  
  #stop3{
     border-color:2px solid red; 
    background-color:red  ; 
    color:white;
    padding: 5px 20px;
    margin-left: 5px;
  }
   #stop3:hover{
    background-color:  #e60000;
  }
.bt1 {
  width: 70px;
  height: 65px;
  margin: 15px;
  outline: none;
  border: none;
  background: rgb(214, 214, 214);
  box-shadow: 5px 5px 10px #b6a9a9, -5px -5px 10px #ffffff;
  border-radius: 50%;
  transition: 0.2;
}

.bt1:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.bt1:hover::before {
  content: "";
  position: absolute;
  height: 80%;
  width: 80%;
  background: rgb(214, 214, 214);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.bt1:hover::before {
  box-shadow: inset -9px -9px 22px 0 rgba(255, 255, 255, 1),
    inset 7px 7px 20px 0 rgba(0, 0, 0, 0.3);
}

.bt1:active {
  box-shadow: inset 1px 1px 2px #babeec, inset -1px -1px 2px #fff;
}

.bt1 img {
  position: absolute;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.bt1 img:hover {
  font-size: 30px;
}
.nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }

</style>

</head>
<body>
 <div >
      {{!-- <img src="frontphoto.jpeg" style="width: 100%"> --}}
    </div>  
  <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-4 p-3" style=" box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;">
<blockquote class="text-center" style="color: #00004d ;font-size: 25px; font-weight: 800;">" The Pain You Feel Today <br> Will be the <br> The Strength You Feel Tomorrow "</blockquote>
  </div>


    <div class="container-fluid mt-4">
      <div class="row ">
      <div class="col-sm-4">
  <div class="card ">
    <div class="card-header text-center text-white" style="background-color:#FF9933">
     <strong style="font-size: 20px; font-weight:800"> Physical Test </strong> 
    </div>
    <div class="card-body text-center">
      <h5 class="card-title "> <strong style="color:#FF9933;  font-size: 20px; font-weight: 800;">Running Status </strong> </h5>
      <p id="timer1" class="text-center"> <strong style="  font-size: 20px; font-weight:800" > 7 Minute :00 Seconds</strong></p>
  <button id='start1'  >Start</button>
  <button id='stop1' >Stop</button>
    </div>
  </div>
  </div>
  
  
  <div class="col-sm-4">
  <div class="card ">
    <div class="card-header text-center " style="background-color:#FFFFFF">
     <strong style="font-size:20px; font-weight:800; color:#000080"> Physical Test </strong>
    </div>
    <div class="card-body text-center">
      <h5 class="card-title text-center"><strong style="font-size:20px; font-weight:800; color:#000080" >Push Up Time </strong> </h5>
      <p id="timer2">1:00</p>
  <button id='start2' >Start</button>
  <button id='stop2' >Stop</button>
    </div> 
  </div>
  
  </div>

  <div class="col-sm-4">
  <div class="card ">
    <div class="card-header text-center text-white" style="background-color:#138808">
    <strong style="font-size:20px;font-weight: 800"> Physical Test </strong> 
    </div>
    <div class="card-body text-center">
      <h5 class="card-title text-center"><strong style="font-size:20px;font-weight: 800; color:#138808">Squats Time </strong> </h5>
      <p id="timer3">1:35</p>
  <button id='start3' >Start</button>
  <button id='stop3' >Stop</button>
    </div>
  </div>
  
  </div>
{{>physical}}
  </div>
  </div>

 <div class="footer row bg-dark mt-3">
  <marquee class="mt-1" direction="right"  behavior="alternate" scrollamount="6" onmouseover="this.stop();" onmouseout="this.start();" >
   <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank" style="color:white;font-family: Arial,Helvetica,sans-serif; font-size: 15px; font-weight: 800; text-decoration: none"> PLEASE SUBSCRIBE OUR CHANNEL AND PRESS BELL ICON  </a>
</marquee>
<div class="col-md-6 mt-4 ">
<h5 style=" color: rgb(245, 244, 243); font-family: Arial,Helvetica,sans-serif; font-size: 25px; font-weight: 800; 
   text-shadow: 2px 2px 8px #00e1ff;  letter-spacing: 0.1rem;margin-left:2rem" > FOLLOW US </h5> 
  <div class="container-fluid d-flex">
    <button class="btn bt1  " >
    <a href="https://www.facebook.com/defencechampions" target="_blank"> <img  src="Facebook.webp" width="50" , height="50" ></a>
    </button>
    <button class="btn bt1">
     <a href="https://www.instagram.com/rakesh_prajapati_official_123/" target="_blank"><img src="Instagram.png" width="50" , height="50"></a> 
    </button>
    <button class="btn bt1">
     <a href="https://www.youtube.com/channel/UC4JlLJVmyitEpbiSUL_9ssA" target="_blank"> <img src="Youtube1.webp" width="50" , height="40"></a>
    </button>
     <button class="btn bt1">
      <a href="https://t.me/defencechampions1" target="_blank"><img src="telegram.webp" width="50" , height="50"> </a>
    </button>
    <button class="btn bt1">
    <a href="https://chat.whatsapp.com/DHlnroPWKtrIkH8WInnWtI" target="_blank">  <img src="whatsapp.webp" width="50" , height="50"> </a>
    </button>
  </div>
</div>
        <div class="col-md-6 d-flex homes  " style="height: 57px; margin-top: 4rem "  >
   <a href="/">  <button type="button " class="btn btn-danger " style="margin-left: 3rem">
    Home <span class="badge badge-light"></span>
</button></a>
<a href="indianairforce"><button type="button " class="btn btn-primary " style="margin-left: 1rem ">
    IAF  <span class="badge badge-light"></span>
</button></a>
<a href="/indiannavy"><button type="button " class="btn btn-success " style="margin-left: 1rem">
    NAVY <span class="badge badge-light"></span>
</button></a>
<a href="/nda"><button type="button " class="btn btn-success " style="margin-left: 1rem">
    NDA <span class="badge badge-light "></span>
</button></a>
</div>
  </div>

</body>
</html>