<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XBBMQ1G92T"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XBBMQ1G92T');
</script>
	<style type="text/css">
    body{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
 
		#first {
			width: 90%;
			height: 550px;
			background-image: linear-gradient(to right,rgb(5, 28, 235), rgb(8, 202, 236));
			display: flex;
			margin-top: 30px;
			margin-left: 60px;
			margin-right: 50px;
			font-family: Arial, Helvetica, sans-serif;
            display: flex;
            flex-direction: row;

}
	#secondId{
		width: 60%;
		height: 500px;
		background: white;
		margin:auto;
		margin-left: 3%;
		margin-top: 2%;
		border-bottom-right-radius: 70px;
		border-top-right-radius: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
	}
    input{
        margin-right: 132px;
        height: 30px;
        width: 160px;
        margin-bottom: -11px;
    }
    button{
        background: rgb(5, 28, 235);
        width: 100px;
        height: 40px;
        border-radius: 6px;
        color: rgb(228, 224, 224);
        border: none;
        justify-content: center;
        align-items: center;
        font-size: 16px;
        margin-top: 45px;
        margin-right: 3rem;
        cursor: pointer;
    }
  
    a{
        color: rgb(5, 28, 235);
    }
    h2{
        font-size: 28px;
        align-content: center;
        margin-top: 60px;
    }
    p{
        color: red;
        font-size: 10px;
        margin-right: 280px;
    }

    #gifs{
       
            float: right;
            display: block;
            margin-top: 7rem;
            margin-right: 6rem;
           
        }
	</style>
</head>

<body>
	
    <div id="first">
       
		<div id="secondId">
		<h2>Login</h2>
      <form action="/registerafter" method="POST" style="text-align: center;margin-top: 10px;margin-bottom: 20px;color: #000000;margin-left: 60px;">
        <label>Email</label> 
          <input id="emil" type = "email" style="margin-top: 10px;margin-left: 30px;" placeholder="Email *" oninput="inErrorLogin()" name="email" />
        <p id="emailLoginError">&nbsp;</p>
       <label>Password</label>  
       <input id="pass" type = "password" style="margin-top: 10px" oninput="inErrorLogin()" placeholder="Password *"  name="pwd" />
        <p id="passLoginError">&nbsp;</p>
         <button type="submit" id="loginId" >Login</button>
    </form>

     
      <span>Dont have a account? <a href="/login">Sign Up</a></span><br>
       <span>Forgot Password? <a href="/emailverification">Click Here</a></span>
     

	</div>
     <div id="gifs">
       <img src="navyship1.gif" width="300px" height="200px">
        </div>
     </div>

     <script type="text/javascript">
         function inErrorLogin(){
    var disable=false;
    var newMail=document.getElementById("emil");
    var emailLoginError=document.getElementById("emailLoginError");
    emailLoginError.innerHTML="&nbsp;";
    document.getElementById("passLoginError").innerHTML="&nbsp;";

        if(!validEmail(newMail.value)){
            emailLoginError.innerHTML="Wrong email address";
            disable=true;

        }
        if(!newMail.value)
        {
            emailLoginError.innerHTML="*** Enter the Email";
            disable=true;
        }
        
        if(!document.getElementById("pass").value)
        {
        document.getElementById("passLoginError").innerHTML="*** Enter the Password";
        disable=true;
        }
        document.getElementById("loginId").disabled=disable;
        if(!disable)
        {
        document.getElementById("loginId").style.cursor="pointer";
        document.getElementById("loginId").style.color = "white";
        document.getElementById("loginId").addEventListener("mouseover", function() {
            document.getElementById("loginId").style.color = "rgb(228, 224, 224)";
        });
        document.getElementById("loginId").addEventListener("mouseout", function() {
            document.getElementById("loginId").style.color = "white";
        });
        }
    
}

function validEmail(emailID) {
    var filter = /^\s*[\w\-\+_]+(\.[\w\-\+_]+)*\@(\bgmail\b)+\.(\bcom\b)+(\.[\w\-\+_]+)*\s*$/;
    return String(emailID).search (filter) != -1;
}
     </script>
    
</body>
</html>