 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Sashastra seema bal Head Constable Bharti 2023 </title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Sashastra seema bal bharti date , ssb recruitment 2023 , ssb recruitment application form 2023 ,  ,Eligibility, Number Of post , Exam Date .....">
  <meta name="keywords" content="Sashastra Seema Bal Head Constable Recruitment 2023 Application Form Exam Date Eligibility Pattern,सशस्त्र सीमा बल भर्ती 2023 आवेदन पत्र परीक्षा तिथि पात्रता पैटर्न ....">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@3.6.12/dist/css/splide.min.css">
  
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  .videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
.video-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video-overlay img{
      height: 3rem;
    width: 4rem;
    border-radius: 5px;
}

.open-button {
  border:none;
    cursor: pointer;
    position: fixed;
    bottom: 16px;
    right: -195px;
    width: 280px;
   
}


</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">SSB Head Constable Recruitment 2023 Notification Released </h2>
      <div class="text-center mt-4" >
      <img src="ssbphoto.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">SSB Head Constable Recruitment 2023  Selection Process </h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">SSB Head Constable  Recruitment 2023 भर्ती की चयन प्रक्रिया के लिए निम्न स्टेप को फॉलो करें <br>
<ul style="font-size: 22px; font-weight:500">
 <li>Written Test</li>
<li>Skill Test/Physical Test </li>
<li>Document Verification</li>
<li>Medical </li></ul></p>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">SSB Head Constable Bharti 2023 Apply Online   </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">SSB Head Constable के आवेदन 20 मई 2023 से 18 जून 2023 तक चलेंगे सम्पूर्ण जानकारी निचे दी गयी है।  </p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">SSB Head Constable Age Limit 2023  </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">  सशस्त्र सीमा बल Head Constable भर्ती 2023 की आयु सीमा न्यूनतम 18  वर्ष तथा अधिकतम 25 वर्ष रखी गई है परंतु head constable mechanical  के लिए आयु सीमा 18 से 27 साल रखी गई है |SSB Head Constable  Recruitment 2023 आयु की गणना अंतिम तारीख से की जाएगी | आयु में छूट गवर्नमेंट के नियमानुसार दी जाएगी | सबको एग्जाम देने का मौका मिलेगा।  </p>
        
       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">SSB Head Constable Vacancy 2023 </th>
        </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">Recruitment Organization </th>
      <td><b> Sashastra Seema Bal (SSB)</b></td>
    </tr>
        <tr>
      <th scope="row">Post Name</th>
      <td><b> Head Constable Including Posts</b></td>
    </tr>
     <tr>
      <th scope="row">Advt No. </th>
      <td><b>SSB Head Constable Recruitment 2023</b></td> 
    </tr>
    <tr>
      <th scope="row">Job Location</th>
      <td><b>All India</b></td> 
    </tr>
    <tr>
      <th scope="row">Application Start </th>
      <td><b>20 May 2023 </b></td> 
    </tr>
     <tr>
        <tr>
      <th scope="row">Last Date To Apply </th>
      <td><b>18 June 2023 </b></td> 
    </tr>
    <tr>
      <th scope="row">Mode of Apply</th>
      <td><b>Online </b></td> 
    </tr>
    <tr>
      <th scope="row">Total Of Post</th>
      <td><b>914</b></td> 
    </tr>
    <tr>
      <th scope="row">Salary/Pay Scale</th>
      <td><b>Various of Post wise</b></td> 
    </tr>
    
   
     <tr>
      <th scope="row">Official Notification</th>
        <td><a class="text-danger" target="_blank"  href="https://drive.google.com/file/d/1fuUtei5WPtBCePvPt1gyoaZMWkoXYtAN/view"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">official Website </th>
      <td><a class="text-danger" target="_blank"  href="rssbrectt.gov.in"><b>Click Here</b></a></td>
    </tr>    
    <tr>
      <th scope="row">Join Telegram </th>
      <td colspan="2"><a href="https://t.me/defencechampions1" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Navy New Vacancy SSR 02/2023 (Video)</th>
      <td colspan="2"><a href="https://www.youtube.com/live/oCao83evjok?feature=share" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Defence Champions Official Website</th>
      <td colspan="2"><a href="https://www.defencechampions.com" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>

   <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">SSB Head Constable Post Details & Education Qualification 2023 </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">  SSB Head Constable भर्ती 2023 की आयु सीमा न्यूनतम 18  वर्ष तथा अधिकतम 25 वर्ष रखी गई है परंतु head constable mechanical  के लिए आयु सीमा 18 से 27 साल रखी गई है |SSB Head Constable  Recruitment 2023 आयु की गणना अंतिम तारीख से की जाएगी | आयु में छूट गवर्नमेंट के नियमानुसार दी जाएगी |
   <table class="table">
  <thead>
    <tr>
      <th scope="col">Post Name</th>
      <th scope="col">No of Vacancy </th>
      <th scope="col">Qualification</th>
    </tr>
  </thead>
  <tbody style="font-size: 18px; font-weight:500">
    <tr>
      <th scope="row"Head constable electrician</th>
      <td>15</td>
      <td>10th pass / experience/ Diploma</td>
      
    </tr>
    <tr>
      <th scope="row">Head Constable (Mechanic)</th>
      <td>296</td>
      <td>10th pass ,diploma , drivinglicence</td>
 
    </tr>
    <tr>
      <th scope="row">Head Constable(Steward and vetrinary)</th>
      <td>02 </td>
      <td>10th pass ,diploma ,experience</td>
      
    </tr>
    <tr>
      <th scope="row">Head constable veterinary</th>
      <td>Male</td>
      <td>	12th pass, diploma, experience</td>
      
    </tr>
    <tr>
      <th scope="row">Head constable communication</th>
      <td>578</td>
      <td>78</td>
      
    </tr>
  </tbody>
</table>
   
   <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">How to Apply SSB Head Constable  Recruitment 2023?</h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500">  SSB Head Constable   Recruitment 2023 भर्ती का ऑनलाइन आवेदन कैसे करें इसके लिए निम्न स्टेप को फॉलो करें । </p>
<ul  style="font-size: 22px; font-weight:500">
<li>सबसे पहले SSB Head Constable  Recruitment 2023 ऑफिशियल साइट पर जाना होगा।</li>
<li>इसके बाद आपको रिक्रूटमेंट पर क्लिक करना है</li>
<li>ऑनलाइन आवेदन का डायरेक्ट लिंक हम आपको नीचे भी देते हैं।</li>
<li>अब आपको SSB Head Constable Recruitment 2023 भर्ती पर क्लिक करना है ।</li>
<li>इसके बाद आपको ऑनलाइन अप्लाई पर क्लिक करना है । </li>
<li>मांगी गई सभी जानकारी को सही सही से फिल करें।</li>
<li>इसके बाद आपको अपने फोटो और सिग्नेचर अपलोड करने हैं ।</li>
<li>इसके आगे की स्टेप में आपको नीचे दिए गए सबमिट बटन पर क्लिक करना है</li>
<li>अब आपको अपने आवेदन शुल्क का भुगतान करना है।</li>
<li>नीचे दिए गए सबमिट बटन पर क्लिक करें और आपके पूर्ण रूप से आवेदन फॉर्म सक्सेसफुली हो चुका है।</li>
<li>सबसे अंत में 1 प्रिंट आउट अवश्य ले लें ताकि भविष्य में कभी भी काम आ जाए । </li> </ul></p> <br>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">SSB Head Constable Physical Standard</h2>
      
<table class="table">
  <thead>
    <tr>
      <th scope="col">Post Name</th>
      <th scope="col">Height </th>
      <th scope="col">Chest(Only Male)</th>
    </tr>
  </thead>
  <tbody style="font-size: 18px; font-weight:500">
    <tr>
      <th scope="row">Head Constable (Electrician)</th>
      <td>167.5cm (Male) and 157cm(Female)</td>
      <td>78-83cm</td>
      
    </tr>
    <tr>
      <th scope="row">Head Constable (Mechanic)</th>
      <td>170cms</td>
      <td>80-85cm</td>
 
    </tr>
    <tr>
      <th scope="row">Head Constable(Steward and vetrinary)</th>
      <td>170(Male),157(Female)</td>
      <td>80-85cm</td>
      
    </tr>
    <tr>
      <th scope="row">Head Constable(Communication)</th>
      <td>170(Male),157(Female)</td>
      <td>80-85cm</td>
      
    </tr>
  </tbody>
</table>

{{!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">First Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Enter Your First Name ">
    <small id="emailHelp" class="form-text text-muted">Enter Your Name </small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> --}}
 <script> 
function gotowhatsapp(){
  var fname=document.getElementById("Fname").value;
  var lname=document.getElementById("Lname").value;
  var doubt=document.getElementById("doubts").value;
  var url="https://wa.me/917042268205?text= "
  +"First name:"+fname+"%0a"
  +"Last name:"+lname+"%0a"
  +"Doubt:"+doubt+"%0a";
  window.open(url,'_blank').focus();
}
</script>
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Join Telegram For Updates:<a class=" text-danger"  href="https://t.me/defencechampions1">Click Here</a></h2>
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">NDA Entry:<a class=" text-danger"  href="/nda">Click Here</a></h2>
    <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Indian Army Aganiveer:<a class=" text-danger"  href="/ARMYAGANIVEER">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>

    </div>

  </body>
  </html>