 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Navy SSR Admit Card 2023</title>
    <link href="https://defencechampions.com">
    <meta name="description" content="Indian Navy SSR Entry 01 2023 Admit card released  Check out your exam date and exam city  .....">
  <meta name="keywords" content="navy ssr admit card 2023, navy ssr exam date, navy admit card, navy ssr admit card download,navy ssr admit card date">
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
     <link rel="canonical" href="https://www.defencechampions.com/ssradmitcard012023" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  .videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
}
.videoWrapper img{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}
.video-overlay {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateX(-50%) translateY(-50%);
  z-index: 1;
}
.video-overlay img{
      height: 3rem;
    width: 4rem;
    border-radius: 5px;
}


</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Indian Navy Aganiveer SSR Admit card 2023 </h2>
      <div class="text-center mt-4" >
      <img src="aassrnewvacancy.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
         <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Navy SSR Admit Card 2023 Released</h2>
       <p class="text-center mt-3" style="font-size: 22px; font-weight:500">भारतीय नौसेना SSR भर्ती 01/2023 बैच का Admit कार्ड जारी  कर दिया गया है।  डाउनलोड करने के लिए निचे लिंक दिया गया है  </p>
<h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">Indian Navy SSR Exam Date 2023   </h2>
      <p class="text-center mt-3" style="font-size: 22px; font-weight:500"> Indian Navy SSR 01/2023 Batch की Exam Date आपके एडमिट कार्ड पर दी गयी है।  आपके एग्जाम -- से -- तक चलने वाले है  </p>

       <table class="table table-bordered mt-5">
  <thead>
    <tr>
      <th colspan="2" class="text-center text-white" style="font-size: 27px; font-weight:800;background-color:#087011">Indian Navy SSR Vacancy 2023 Admit Card</th>
        </tr>
  </thead>
  <tbody>
      <tr>
      <th scope="row">Date Of Birth </th>
      <td><b> 01 May 2002 to 31 oct 2005 </b></td>
    </tr>
        <tr>
      <th scope="row">Application Start</th>
      <td><b> 08-12-2022</b></td>
    </tr>
     <tr>
      <th scope="row">Last Date For Apply Online </th>
      <td><b>18-12-2022</b></td> 
    </tr>
    <tr>
      <th scope="row">Exam Mode</th>
      <td><b>Online</b></td> 
    </tr>
     <tr>
      <th scope="row">Admit Card</th>
        <td><a class="text-danger" target="_blank"  href=""><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Exam Date</th>
      <td><b>Mid February(Expected)</b></td> 
    </tr>
    <tr>
      <th scope="row">2nd Phase (PFT)</th>
      <td><b>March 2023 (Expected)</b></td> 
    </tr>
    <tr>
      <th scope="row">Exam Process</th>
      <td><b>No change (same as previous)</b></td> 
    </tr>
    <tr>
      <th scope="row">Final Merit List </th>
      <td><b>April 2023</b></td> 
    </tr>
    <tr>
      <th scope="row">Date Of Joining </th>
      <td><b>May-june 2023</b></td> 
    </tr>
     <tr>
      <th scope="row">Official Notification</th>
        <td><a class="text-danger" target="_blank"  href="https://dinesh-maker.github.io/PDFS/Indian-Navy-Agniveer-SSR-1_2023-Notification.pdf"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Apply Online </th>
      <td><a class="text-danger" target="_blank"  href="https://www.joinindiannavy.gov.in/en/account/account/state"><b>Click Here</b></a></td>
    </tr>    
    <tr>
      <th scope="row">Syllabus</th>
      <td colspan="2"><a href="/Navysyllabus" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
       <th scope="row">Physical Standard</th>
      <td><b>Male:</b>
      <ul>
        <li>Height : 157 CM</li>
        <li>Running: 1.6km in 6 Minute 30 Second</li>
        <li>Squats(Uthak Baithak): 20</li>
        <li>Push-ups : 12</li>
        <li>Bent Knee Sit-ups: --</li>
      </ul><br>
       <b class="text-center"> Female</b> <ul>
          <li>Running : 8 Minute</li>
          <li>Squats(Uthaik Baithak) : 15</li>
          <li> Push-ups : --</li>
          <li> Bent Knee Sit-ups : 10</li>
        </ul>
      </td>
    </tr>
      <tr>
      <th scope="row">Complete Process(Video)</th>
      <td colspan="2"><a href="https://youtu.be/Lvg7jkzY2Ho" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Navy SSR 01/2023 (Video)</th>
      <td colspan="2"><a href="https://youtu.be/0USJ8ssK7Go" class="text-danger"><b>Click Here</b></a></td>
    </tr>
    <tr>
      <th scope="row">Official Website</th>
      <td colspan="2"><a href="https://www.joinindiannavy.gov.in/en/account/account/state" class="text-danger"> <b>Click Here</b></a></td>
    </tr>
  </tbody>
</table>

    {{!-- <div class="container videos">
 <div class=" row "  >
  <div class="col col-md-auto"> <iframe width="460" height="315" src="https://www.youtube.com/embed/YAu1Xl-0xJI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>   </div>
   <div class="col col-md-auto"> <iframe width="460" height="315" src="https://www.youtube.com/embed/ZjZY57gjxr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
   </div>
 </div>         --}}
<div class="container-fluid mt-3" >
   <div  class="row " >
     <div class="col-md-6 ">
       <div class="card text-center h-100">
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;">
   <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://youtu.be/N_IJLz4zZuQ" target="_blank"> <img  src="ssrmr2023.jpg" alt="girlsthumbnail" height="315" width="560"></a>
      <div class='video-overlay'>
         {{!-- <i class="fa fa-youtube-play " style="font-size:60px;color:red;background-color:white;background: linear-gradient(80deg, #ff0000 50%, #0000ff 50%);"></i> 
      --}}
     <img src="ytlogo.jpg">
                                </div>
    </div>
    </div>   
  </div>
</div> 
</div>
     </div>
     </div>
 <br>
 <br>
  <div class="col-md-6 mt-1">
       <div class="card text-center h-100">
  <div class="card-body"  style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-pause="false">
  <div class="carousel-inner" style="box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
">
    <div class="carousel-item active">
      <div class="videoWrapper">
        <a href="https://youtu.be/0USJ8ssK7Go" target="_blank"> <img  src="navy012023.jpg" alt="girlsthumbnail" height="315" width="560"></a>
        <div class='video-overlay'>
      <img src="ytlogo.jpg">
                                </div>
    </div></div>
  </div>
</div> 
  </div>
  
</div>
     </div>

   </div>
   </div>
    
    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800">Indian Navy Womens Entry:<a class=" text-danger"  href="/Navywomensentry2022">Click Here</a></h2>
    <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Navy:<a class=" text-danger"  href="/indiannavy">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Join Indian Air Force:<a class=" text-danger"  href="/indianairforce">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">Indian Army Aganiveer:<a class=" text-danger"  href="/ARMYAGANIVEER">Click Here</a></h2>
 <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">You Tube Channel : <a class=" text-danger"  href="https://youtu.be/bkPt2TxwA7g">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Official Updates : <a class=" text-danger"  href="/">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Follow करे:<a class=" text-danger"  href="https://www.defencechampions.com/">Click Here</a></h2>

    </div>

  </body>
  </html>