 <!DOCTYPE html>
      <html>
 <head>
  <meta charset="utf-8">
    <script data-ad-client="ca-pub-4637356896763293" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4637356896763293"
     crossorigin="anonymous"></script>
    <title>Air Force 2021 Result Update</title>
    <meta name='viewport' content='width=device-width, initial-scale=0.8'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw==" crossorigin="anonymous" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<style>
     .nav-link{
    font-family: 'Noto Sans JP', sans-serif; 
    
    font-weight: 700;
    font-size: 16px;
    margin-left: 1rem;
  }
  
.videoWrapper{
  position:relative;
  padding-bottom: 56.25%;
  width:100%;
  height:0;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.videoWrapper iframe{
  position: absolute;
  top:0;
  left:0;
   width: 100%;
  height: 100%;
  border: 0;
  
}

</style>
 </head>
 <body>
        <nav class="navbar navbar-expand-lg  navbar-light " style="background-color:   #00004d">
<a class="navbar-brand" href="#" style="font-family: 'Noto Sans JP', sans-serif; color:  #00dcff;font-weight: 800;font-size: 20px">Defence Champions </a> 
  <button style="border-color: 2px solid white" class="navbar-toggler bg-white" type="button " data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center " id="navbarNav">
    <ul class="navbar-nav d-flex ">
        <li class="nav-item">
        <a class="nav-link text-white " href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/indianairforce">Indian Air Force </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" href="/indiannavy">Indian Navy </a>
      </li>
        <li class="nav-item">
          <a class="nav-link text-white"  href="/nda" >NDA </a></li>
      <li class="nav-item">
        <a class="nav-link text-white " href="/liveclasses">Live classes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/Mock">Mock Tests </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/notes">Notes </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/contactus">Contact Us </a>
      </li>
       <li class="nav-item">
        <a class="nav-link text-white" href="/login">Log In  </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <h2 class="text-center mt-3" style="font-size: 40px; font-weight:800">Air Force XY Group 2021 का रिज़ल्ट क्यों नही आ रहा?</h2>
      <div class="text-center mt-4" >
      <img src="iafresult.jpg" class="img-fluid  " alt="..." width="692" height="400" style="    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;" >
        </div>
            <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या है मामला?</h2>
        <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> भारतीय वायुसेना परीक्षा 2021 का रिज़ल्ट अभी तक घोषित नही हुआ है जो की हर साल 15 दिन के अंदर हो जाता है लेकिन अबकी बार अभी तक कोई update नही आया है| जिससे बच्चे काफ़ी परेशान हो गये है| </p>
        <p class="text-center mt-1" style="font-size: 25px; font-weight:500">The result of Indian Air Force Exam 2021 has not been declared yet, which is done every year within 15 days, but this time no update has come yet. Due to which the children have become very upset.</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्यों नही आ रहा Result क्या है इसके पीछे की वजह?</h2>
      <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> नज़दीकी सूत्रो से पता चला है की अबकी बार भारतीय सेना मे कई बड़े बदलाव किए जा रहे है जिसकी वजह से बहुत सारी परक्रियाँ वक्त पर नही हो पा रही है|<br>
1. यदि Air Force की बात करे तो उन्होने बताया की अबकी बार उनका training time कम करने ओर सेवा देने की अवधि बढ़ाने पर कार्य चल रहा है जिसकी वजह से अभी तक पिछली Enrollment list भी declare नही हुई है| <br>
2. वही दूसरी ओर बात करे तो Air Force पर COURT मे याचिका का भी नतीजा आ गया है जिससे पिछली VACANCY मे बेवजह UNFIT किए गये अभ्यर्थीयों को फिर से REMEDICAL के लिए बुलाया गया है| जिससे अभी वही परक्रिया पूर्ण नही हुई है|</p> 
      <p class="text-center mt-1" style="font-size: 25px; font-weight:500">It has been learned from close sources that this time many major changes are being made in the Indian Army, due to which many procedures are not being done on time.<br>
1. If we talk about Air Force, they told that this time work is going on to reduce their training time and increase the period of service, due to which the last Enrollment List has not been declared yet.<br>
2. Talking on the other hand, the result of the petition in the COURT on Air Force has also come, due to which the candidates who were unnecessarily UNFIT in the previous vacancy have been called again for REMEDICAL. Due to which the same process is not completed yet.</p>
    <h2 class="text-center mt-5" style="font-size: 33px; font-weight:800">क्या आगे आने वाले उम्मीदवारो को मिलेगा फ़ायदा?</h2>
  <p class="text-center mt-3" style="font-size: 25px; font-weight:500"> सूत्रो के मुताबिक आगे आने वाले वर्ष मे खुश खबरी मिल सकती है| उनका मानना है आगे आने वाले वर्ष मे बंपर भर्ती निकलने की उम्मीद है| ओर training time भी कम किया जा सकता है|</p> 
  <p class="text-center mt-1" style="font-size: 25px; font-weight:500">According to the sources, good news can be received in the coming year. They believe that bumper recruitment is expected in the coming year. And the training time can also be reduced.</p>
  
  {{!-- <div class="container text-center d-block videos"  >
  <div class="videoWrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/bkPt2TxwA7g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   </div>
  </div>  --}}

    <h2 class=" text-center mt-5" style="font-size: 25px; font-weight:800"> Why Enrollment List Late? <a class=" text-danger"  href="https://youtu.be/C8sZ7xmu3rA">Click Here</a></h2>
     <h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">All Entries For Women's In Indian Defence(ARMY,IAF,NAVY):<a class=" text-danger"  href="/Womensentries">Click Here</a></h2>
<h2 class="text-center mt-4" style="font-size: 25px; font-weight:800">Join Us For Latest Updates:<a class=" text-danger"  href="https://t.me/defencechampions1">Click Here</a></h2>
<h2 class=" text-center mt-4" style="font-size: 25px; font-weight:800">अधिक जानकारी के लिए Login करे:<a class=" text-danger"  href="defencechampions.com">Click Here</a></h2>
</div>

  </body>
  </html>